Repository loopbackio/loopback-next, pull requests merged in 2018-10, with the labels that each got.

#1823 feat: remove @loopback/dist-util
  packages/dist-util/.npmrc
  packages/dist-util/CHANGELOG.md
  packages/dist-util/LICENSE
  packages/dist-util/README.md
  packages/dist-util/index.js
  packages/dist-util/package.json
Labels: breaking-change

#1816 feat(repository): add type safety for query filter/where
  packages/repository/examples/repositories/customer.repository.ts
  packages/repository/src/common-types.ts
  packages/repository/src/connectors/crud.connector.ts
  packages/repository/src/query.ts
  packages/repository/src/repositories/constraint-utils.ts
  packages/repository/src/repositories/legacy-juggler-bridge.ts
  packages/repository/src/repositories/relation.repository.ts
  packages/repository/src/repositories/repository.ts
  packages/repository/test/unit/query/query-builder.unit.ts
  packages/repository/test/unit/repositories/constraint-utils.unit.ts
Labels: breaking-change

#1860 Reorganize relations source code into smaller files
  packages/repository/src/decorators/index.ts
  packages/repository/src/decorators/model.decorator.ts
  packages/repository/src/decorators/relation.decorator.ts
  packages/repository/src/errors/invalid-relation.error.ts
  packages/repository/src/index.ts
  packages/repository/src/model.ts
  packages/repository/src/relations/belongs-to/belongs-to-accessor.ts
  packages/repository/src/relations/belongs-to/belongs-to.decorator.ts
  packages/repository/src/relations/belongs-to/belongs-to.repository.ts
  packages/repository/src/relations/belongs-to/index.ts
  packages/repository/src/relations/has-many/has-many-repository.factory.ts
  packages/repository/src/relations/has-many/has-many.decorator.ts
  packages/repository/src/relations/has-many/has-many.repository.ts
  packages/repository/src/relations/has-many/index.ts
  packages/repository/src/relations/has-one/has-one.decorator.ts
  packages/repository/src/relations/has-one/index.ts
  packages/repository/src/relations/index.ts
  packages/repository/src/relations/relation.decorator.ts
  packages/repository/src/relations/relation.types.ts
  packages/repository/src/repositories/index.ts
  packages/repository/src/repositories/legacy-juggler-bridge.ts
Labels: Relations, Repository, refactor

#1861 docs: update MONOREPO guide
  docs/site/MONOREPO.md
Labels: Contributing

#1868 Add property description to JSON schema
  packages/repository-json-schema/src/build-schema.ts
  packages/repository-json-schema/test/unit/build-schema.unit.ts
Labels: OpenAPI, Schema, community contribution, feature

#1939 fix(repository): build relations based on their names
  docs/site/BelongsTo-relation.md
  examples/todo-list/src/repositories/todo.repository.ts
  packages/repository/src/decorators/model.decorator.ts
  packages/repository/src/relations/belongs-to/belongs-to.decorator.ts
  packages/repository/src/relations/has-many/has-many.decorator.ts
  packages/repository/src/relations/relation.decorator.ts
  packages/repository/test/fixtures/repositories/order.repository.ts
  packages/repository/test/unit/decorator/relation.decorator.unit.ts
Labels: Relations
