Repository loopbackio/loopback-next, pull requests merged in 2019-10, with the labels that each got.

#3841 docs: update outdated links in todo tutorial
  docs/site/tutorials/todo/todo-tutorial-controller.md
  docs/site/tutorials/todo/todo-tutorial-datasource.md
  docs/site/tutorials/todo/todo-tutorial-geocoding-service.md
  docs/site/tutorials/todo/todo-tutorial-putting-it-together.md
Labels: Docs, community-contribution

#3701 feat(docs): add 2019Q4 roadmap
  docs/ROADMAP.md
Labels: roadmap

#3891 docs: document listenOnStart for REST servers
  docs/site/Server.md
  docs/site/express-with-lb4-rest-tutorial.md
Labels: Docs

#3871 docs: changes Model.md to reflect known issue
  docs/site/Model.md
Labels: Docs, community-contribution

#3890 fix(docs): add content to usage-scenario page
  docs/site/Usage-scenarios.md
Labels: Docs

#3856 feat(cli): add inclusion resolver to `lb4 relation`
  docs/site/Relation-generator.md
  packages/cli/generators/relation/base-relation.generator.js
  packages/cli/generators/relation/belongs-to-relation.generator.js
  packages/cli/generators/relation/has-many-relation.generator.js
  packages/cli/generators/relation/index.js
  packages/cli/snapshots/integration/generators/relation.belongs-to.integration.snapshots.js
  packages/cli/snapshots/integration/generators/relation.has-many.integration.snapshots.js
  packages/cli/test/integration/generators/relation.belongs-to.integration.js
  packages/cli/test/integration/generators/relation.has-many.integration.js
Labels: CLI, Relations, feature

#3906 test(repository-json-schema): verify "not.anyOf" in model schema
  packages/repository-json-schema/src/__tests__/integration/build-schema.integration.ts
Labels: OpenAPI

#3864 docs: todo tutorial documenation fix
  docs/site/tutorials/todo/todo-tutorial-scaffolding.md
Labels: Docs, community-contribution

#3915 docs: update "Understanding differences between LB3 and LB4"
  docs/site/Understanding-the-differences.md
Labels: Docs, Migration

#3911 feat(openapi-v3): copy first example from examples to schema
  packages/openapi-v3/src/__tests__/unit/filter-schema.unit.ts
  packages/openapi-v3/src/__tests__/unit/json-to-schema.unit.ts
  packages/openapi-v3/src/json-to-schema.ts
  packages/repository-json-schema/src/filter-json-schema.ts
Labels: OpenAPI, Schema, community-contribution

#3927 refactor(cli): change order of questions when creating models
  packages/cli/generators/model/index.js
Labels: CLI, community-contribution, developer-experience, feature

#3922 docs: add a skeleton of migration guide
  docs/site/Migrating-from-LoopBack-3-redirect.md
  docs/site/migration/auth/built-in.md
  docs/site/migration/auth/oauth2.md
  docs/site/migration/auth/overview.md
  docs/site/migration/auth/passport.md
  docs/site/migration/boot-scripts.md
  docs/site/migration/cli.md
  docs/site/migration/clients.md
  docs/site/migration/datasources.md
  docs/site/migration/express-middleware.md
  docs/site/migration/extensions.md
  docs/site/migration/models/core.md
  docs/site/migration/models/methods.md
  docs/site/migration/models/mixins.md
  docs/site/migration/models/operation-hooks.md
  docs/site/migration/models/overview.md
  docs/site/migration/models/relations.md
  docs/site/migration/models/remoting-hooks.md
  docs/site/migration/mounting-lb3app.md
  docs/site/migration/not-planned.md
  docs/site/migration/overview.md
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs, Migration

#3969 docs: describe how to migrate model definition & built-in APIs
  bin/build-docs-site.sh
  docs/site/migration/models/core.md
Labels: Docs, Migration

#3897 fix: allow json schema with circular refs to be converted to OpenAPI schema
  packages/openapi-v3/src/__tests__/unit/json-to-schema.unit.ts
  packages/openapi-v3/src/json-to-schema.ts
  packages/repository-json-schema/src/__tests__/unit/build-schema.unit.ts
  packages/repository-json-schema/src/build-schema.ts
Labels: OpenAPI, Schema
