Repository loopbackio/loopback-next, pull requests merged in 2019-06, with the labels that each got.

#2960 `find*` methods include navigational properties
  docs/site/BelongsTo-relation.md
  docs/site/HasMany-relation.md
  docs/site/Repositories.md
  docs/site/hasOne-relation.md
  docs/site/tutorials/todo-list/todo-list-tutorial-model.md
  docs/site/tutorials/todo-list/todo-list-tutorial-repository.md
  examples/express-composition/src/models/note.model.ts
  examples/express-composition/src/repositories/note.repository.ts
  examples/todo-list/src/models/todo-list-image.model.ts
  examples/todo-list/src/models/todo-list.model.ts
  examples/todo-list/src/models/todo.model.ts
  examples/todo-list/src/repositories/todo-list-image.repository.ts
  examples/todo-list/src/repositories/todo-list.repository.ts
  examples/todo-list/src/repositories/todo.repository.ts
  examples/todo/src/models/todo.model.ts
  examples/todo/src/repositories/todo.repository.ts
  packages/cli/generators/discover/index.js
  packages/cli/generators/model/index.js
  packages/cli/generators/model/templates/model.ts.ejs
  packages/cli/generators/repository/templates/src/repositories/repository-crud-default-template.ts.ejs
  packages/cli/test/integration/generators/model.integration.js
  packages/cli/test/integration/generators/repository.integration.js
  packages/repository/README.md
  packages/repository/src/__tests__/acceptance/has-many-without-di.relation.acceptance.ts
  packages/repository/src/__tests__/fixtures/models/address.model.ts
  packages/repository/src/__tests__/fixtures/models/customer.model.ts
  packages/repository/src/__tests__/fixtures/models/order.model.ts
  packages/repository/src/__tests__/fixtures/models/product.model.ts
  packages/repository/src/__tests__/fixtures/repositories/address.repository.ts
  packages/repository/src/__tests__/fixtures/repositories/customer.repository.ts
  packages/repository/src/__tests__/fixtures/repositories/order.repository.ts
  packages/repository/src/__tests__/fixtures/repositories/product.repository.ts
  packages/repository/src/repositories/legacy-juggler-bridge.ts
  packages/repository/src/repositories/repository.ts
Labels: CLI, Relations, feature

#3043 chore: import eslint rules from eslint-config-loopback
  packages/cli/test/integration/lib/project-generator.js
  packages/cli/test/unit/utils.unit.js
  packages/context/src/__tests__/acceptance/class-level-bindings.acceptance.ts
  packages/context/src/__tests__/unit/binding-sorter.unit.ts
  packages/core/src/__tests__/unit/application.unit.ts
  packages/eslint-config/eslintrc.js
  packages/rest/src/__tests__/unit/rest.component.unit.ts
Labels: Internal Tooling

#3040 feat(testlab): add generic helper `skipOnTravis`
  packages/http-server/src/__tests__/integration/http-server.integration.ts
  packages/rest/src/__tests__/integration/rest.server.integration.ts
  packages/testlab/README.md
  packages/testlab/src/skip-travis.ts
Labels: Testlab

#2928 feat(build): enable incremental compilation
  .gitignore
  packages/build/config/tsconfig.common.json
  packages/cli/generators/project/templates/_.gitignore
  packages/cli/generators/project/templates/tsconfig.json.ejs
  packages/cli/test/integration/generators/app.integration.js
Labels: Internal Tooling

#2975 feat(repository-json-schema): enhance getJsonSchema for navig props
  packages/repository-json-schema/src/__tests__/integration/build-schema.integration.ts
  packages/repository-json-schema/src/__tests__/unit/build-schema.unit.ts
  packages/repository-json-schema/src/build-schema.ts
  packages/repository-json-schema/src/keys.ts
  packages/repository/src/__tests__/integration/repositories/relation.factory.integration.ts
  packages/repository/src/__tests__/unit/decorator/relation.decorator.unit.ts
  packages/repository/src/__tests__/unit/repositories/belongs-to-repository-factory.unit.ts
  packages/repository/src/__tests__/unit/repositories/has-many-repository-factory.unit.ts
  packages/repository/src/__tests__/unit/repositories/has-one-repository-factory.unit.ts
  packages/repository/src/decorators/metadata.ts
  packages/repository/src/relations/belongs-to/belongs-to.decorator.ts
  packages/repository/src/relations/has-many/has-many.decorator.ts
  packages/repository/src/relations/has-one/has-one.decorator.ts
  packages/repository/src/relations/relation.types.ts
Labels: OpenAPI, Relations, community-contribution

#3095 chore: configure RenovateBot to group api-extractor packages
  .renovaterc.json
Labels: Internal Tooling

#3100 docs: describe RenovateBot process
  docs/site/DEVELOPING.md
Labels: Docs

#3101 fix(build): remove `lb-tslint` from README
  packages/build/README.md
Labels: Docs

#3102 chore: remove tslint-config package
  docs/site/MONOREPO.md
  packages/tslint-config/.npmrc
  packages/tslint-config/CHANGELOG.md
  packages/tslint-config/LICENSE
  packages/tslint-config/README.md
  packages/tslint-config/package-lock.json
  packages/tslint-config/package.json
  packages/tslint-config/tslint.build.json
  packages/tslint-config/tslint.common.json
Labels: Internal Tooling

#3105 ci: remove Node.js 8 and 10 on MacOS on Travis
  .travis.yml
Labels: Internal Tooling

#3149 refactor(repository): simplify `ensurePromise` helper
  packages/repository/src/repositories/legacy-juggler-bridge.ts
Labels: Repository, refactor

#3160 fix(metadata): don't rely on `instanceof` checks
  packages/metadata/src/decorator-factory.ts
Labels: IoC/Context, bug

#3079 Create a shared Repository test suite and run it against different connectors
  .gitignore
  .prettierignore
  .travis.yml
  CODEOWNERS
  acceptance/README.md
  acceptance/repository-mongodb/.npmrc
  acceptance/repository-mongodb/LICENSE
  acceptance/repository-mongodb/README.md
  acceptance/repository-mongodb/index.d.ts
  acceptance/repository-mongodb/index.js
  acceptance/repository-mongodb/index.ts
  acceptance/repository-mongodb/package-lock.json
  acceptance/repository-mongodb/package.json
  acceptance/repository-mongodb/setup.sh
  acceptance/repository-mongodb/src/__tests__/mongodb-default-repository.acceptance.ts
  acceptance/repository-mongodb/src/__tests__/mongodb.datasource.ts
  acceptance/repository-mongodb/tsconfig.build.json
  acceptance/repository-mysql/.npmrc
  acceptance/repository-mysql/LICENSE
  acceptance/repository-mysql/README.md
  acceptance/repository-mysql/index.d.ts
  acceptance/repository-mysql/index.js
  acceptance/repository-mysql/index.ts
  acceptance/repository-mysql/package-lock.json
  acceptance/repository-mysql/package.json
  acceptance/repository-mysql/setup.sh
  acceptance/repository-mysql/src/__tests__/mysql-default-repository.acceptance.ts
  acceptance/repository-mysql/src/__tests__/mysql.datasource.ts
  acceptance/repository-mysql/test/schema.sql
  acceptance/repository-mysql/tsconfig.build.json
  docs/site/MONOREPO.md
  lerna.json
  packages/repository-tests/.npmrc
  packages/repository-tests/LICENSE
  packages/repository-tests/README.md
  packages/repository-tests/index.d.ts
  packages/repository-tests/index.js
  packages/repository-tests/index.ts
  packages/repository-tests/package-lock.json
  packages/repository-tests/package.json
  packages/repository-tests/src/__tests__/acceptance/default-repository.memory.acceptance.ts
  packages/repository-tests/src/crud-test-suite.ts
  packages/repository-tests/src/crud/create-retrieve.suite.ts
  packages/repository-tests/src/crud/freeform-properties.suite.ts
  packages/repository-tests/src/helpers.repository-tests.ts
  packages/repository-tests/src/index.ts
  packages/repository-tests/src/types.repository-tests.ts
  packages/repository-tests/tsconfig.build.json
Labels: Repository, feature

#2908 feat(context): generalize invocation handler chain and use it for interceptors
  packages/context/src/__tests__/acceptance/interceptor.acceptance.ts
  packages/context/src/__tests__/unit/interceptor-chain.unit.ts
  packages/context/src/__tests__/unit/interceptor.unit.ts
  packages/context/src/index.ts
  packages/context/src/interception-proxy.ts
  packages/context/src/interceptor-chain.ts
  packages/context/src/interceptor.ts
  packages/context/src/invocation.ts
  packages/context/src/resolver.ts
Labels: IoC/Context, feature

#3188 feat(repository): include navigation properties in JSON
  packages/repository/src/__tests__/unit/model/model.unit.ts
  packages/repository/src/model.ts
Labels: Repository, feature

#3189 docs(build): fix formatting in CHANGELOG
  packages/build/CHANGELOG.md
Labels: Docs

#3202 chore: better templates for GitHub issues
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Feature_request.md
  .github/ISSUE_TEMPLATE/Question.md
  .github/ISSUE_TEMPLATE/Security_vulnerability.md
Labels: Internal Tooling

#3184 Labs dev/passport adapter
  labs/authentication-passport/README.md
  labs/authentication-passport/src/__tests__/acceptance/authentication-with-passport-strategy-adapter.acceptance.ts
Labels: Authentication, Labs

#3238 refactor(repository-json-schema): unify code building schema title and cache key
  packages/repository-json-schema/src/__tests__/unit/build-schema.unit.ts
  packages/repository-json-schema/src/build-schema.ts
Labels: OpenAPI, refactor

#3231 docs: update "Query string parameters" section
  docs/site/Sequence.md
Labels: community-contribution

#3229 docs: remove redundant section explaining authentication example
  packages/authentication/docs/authentication-system.md
Labels: Authentication, Docs

#3194 docs: show how to process options for an authentication strategy
  docs/site/Loopback-component-authentication.md
Labels: Authentication, Docs

#3225 docs: add passport adapter
  docs/site/Loopback-component-authentication.md
  packages/authentication/README.md
Labels: Docs

#3269 fix(booter-lb3app): stringify and parse lb3 spec before converting it
  packages/booter-lb3app/fixtures/lb3app/common/models/coffee-shop.json
  packages/booter-lb3app/fixtures/lb3app/common/models/coffee.js
  packages/booter-lb3app/fixtures/lb3app/common/models/coffee.json
  packages/booter-lb3app/fixtures/lb3app/server/model-config.json
  packages/booter-lb3app/src/__tests__/acceptance/booter-lb3app.acceptance.ts
  packages/booter-lb3app/src/lb3app.booter.ts
Labels: Migration
