Repository loopbackio/loopback-next, pull requests merged in 2019-08, with the labels that each got.

#3473 feat(repository): add findByForeignKeys function
  packages/repository-tests/src/crud/create-retrieve.suite.ts
  packages/repository/src/__tests__/unit/repositories/relation.helpers.unit.ts
  packages/repository/src/relations/index.ts
  packages/repository/src/relations/relation.helpers.ts
Labels: Repository, feature

#3495 fix(cli): set foreignKey to be optional in the requestBody of `@hasMany`
  packages/cli/generators/relation/has-many-relation.generator.js
  packages/cli/generators/relation/templates/controller-relation-template-has-many.ts.ejs
  packages/cli/test/integration/generators/hasmany.relation.integration.js
Labels: Relations

#3517 feat(repository): add InclusionResolver type and includeRelatedModels
  packages/repository/src/__tests__/unit/repositories/relations-helpers/find-by-foreign-keys.helpers.unit.ts
  packages/repository/src/__tests__/unit/repositories/relations-helpers/include-related-models.helpers.unit.ts
  packages/repository/src/__tests__/unit/repositories/relations-helpers/relations-helpers-fixtures.ts
  packages/repository/src/relations/relation.helpers.ts
  packages/repository/src/relations/relation.types.ts
  packages/repository/src/repositories/legacy-juggler-bridge.ts
  packages/repository/src/repositories/repository.ts
Labels: Repository, feature

#3582 Extension: CrudRestController
  CODEOWNERS
  docs/site/DEVELOPING.md
  docs/site/MONOREPO.md
  packages/rest-crud/.npmrc
  packages/rest-crud/LICENSE
  packages/rest-crud/README.md
  packages/rest-crud/index.d.ts
  packages/rest-crud/index.js
  packages/rest-crud/index.ts
  packages/rest-crud/package-lock.json
  packages/rest-crud/package.json
  packages/rest-crud/src/__tests__/acceptance/default-model-crud-rest.acceptance.ts
  packages/rest-crud/src/crud-rest.controller.ts
  packages/rest-crud/src/index.ts
  packages/rest-crud/tsconfig.build.json
Labels: REST, feature
