Repository loopbackio/loopback-next, pull requests merged in 2019-04, with the labels that each got.

#2661 build: add script to check package-lock files
  bin/check-package-locks.js
  package.json
  sandbox/example/.npmrc
  sandbox/example/package-lock.json
Labels: Internal Tooling

#2663 docs: add MAINTAINING.md for maintainers guide
  MAINTAINERS.md
  docs/MAINTAINING.md
Labels: Docs

#2673 refactor(http-server): remove "request" module from tests
  packages/http-server/package-lock.json
  packages/http-server/package.json
  packages/http-server/src/__tests__/integration/http-server.integration.ts
Labels: REST, refactor

#2635 feat(context): add `binding.toAlias()`
  docs/site/Binding.md
  packages/context/src/__tests__/unit/binding.unit.ts
  packages/context/src/binding.ts
Labels: IoC/Context, feature

#2681 feat(repository): add execute implementation
  packages/repository/src/__tests__/unit/repositories/legacy-juggler-bridge.unit.ts
  packages/repository/src/repositories/legacy-juggler-bridge.ts
Labels: Repository, community-contribution

#2671 docs: explain request handling phases and Express middleware
  docs/site/Sequence.md
Labels: Docs

#2685 Refactor metaToJsonProperty to accept AJV keywords
  packages/repository-json-schema/src/__tests__/integration/build-schema.integration.ts
  packages/repository-json-schema/src/__tests__/unit/build-schema.unit.ts
  packages/repository-json-schema/src/build-schema.ts
  packages/repository/src/model.ts
Labels: OpenAPI, REST, community-contribution, feature

#2705 fix(rest): a small typo fix in code comments
  packages/rest/src/validation/request-body.validator.ts
Labels: Docs, REST, community-contribution

#2695 docs: add self relation examples
  docs/site/BelongsTo-relation.md
Labels: Docs, Relations

#2711 feat(context): always pass the session to ResolverFunction
  packages/context/src/inject.ts
  packages/context/src/resolution-session.ts
Labels: IoC/Context, developer-experience, feature

#2245 Model Discovery
  docs/site/Discovering-models.md
  docs/site/Model.md
  docs/site/sidebars/lb4_sidebar.yml
  docs/site/tables/lb4-artifact-commands.html
  packages/cli/README.md
  packages/cli/generators/discover/index.js
  packages/cli/generators/model/index.js
  packages/cli/lib/artifact-generator.js
  packages/cli/lib/cli.js
  packages/cli/lib/model-discoverer.js
  packages/cli/lib/update-index.js
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/test/fixtures/discover/index.js
  packages/cli/test/fixtures/discover/mem.datasource.js.txt
  packages/cli/test/integration/cli/cli.integration.js
  packages/cli/test/integration/generators/discover.integration.js
  packages/cli/test/integration/generators/model.integration.js
  packages/cli/test/integration/lib/file-check.js
  packages/cli/test/test-utils.js
Labels: CLI, community-contribution, feature

#2717 feat(context): make Injection.metadata a required property
  examples/greeter-extension/src/decorators.ts
  packages/context/src/__tests__/unit/resolution-session.unit.ts
  packages/context/src/__tests__/unit/resolver.unit.ts
  packages/context/src/inject.ts
  packages/context/src/resolver.ts
Labels: IoC/Context

#2734 chore: update dependencies
  benchmark/package-lock.json
  benchmark/package.json
  examples/greeter-extension/package-lock.json
  examples/greeter-extension/package.json
  examples/log-extension/package-lock.json
  examples/log-extension/package.json
  examples/soap-calculator/package-lock.json
  examples/soap-calculator/package.json
  packages/boot/package-lock.json
  packages/boot/package.json
  packages/build/package-lock.json
  packages/build/package.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/context/package-lock.json
  packages/context/package.json
  packages/core/package-lock.json
  packages/core/package.json
  packages/http-caching-proxy/package-lock.json
  packages/http-caching-proxy/package.json
  packages/metadata/package-lock.json
  packages/metadata/package.json
  packages/openapi-v3/package-lock.json
  packages/openapi-v3/package.json
  packages/repository/package-lock.json
  packages/repository/package.json
  packages/rest/package-lock.json
  packages/rest/package.json
  packages/service-proxy/package-lock.json
  packages/service-proxy/package.json
Labels: greenkeeper

#2657 feat(context): improve @inject.setter and add @inject.binding
  docs/site/Decorators_inject.md
  docs/site/Dependency-injection.md
  packages/authentication/src/__tests__/unit/providers/authentication.provider.unit.ts
  packages/context/src/__tests__/acceptance/class-level-bindings.acceptance.ts
  packages/context/src/__tests__/unit/binding.unit.ts
  packages/context/src/__tests__/unit/context.unit.ts
  packages/context/src/binding.ts
  packages/context/src/context.ts
  packages/context/src/inject.ts
Labels: IoC/Context, feature

#2741 doc: fix broken link in authentication
  packages/authentication/README.md
Labels: Authentication, Docs, bug, community-contribution

#2728 feat(context): fix generic typing for BindingFilter
  packages/context/src/binding-filter.ts
  packages/context/src/context-view.ts
  packages/context/src/context.ts
Labels: IoC/Context

#2748 refactor(context): refactor target type checking for injections into a function
  packages/context/src/__tests__/acceptance/class-level-bindings.acceptance.ts
  packages/context/src/inject.ts
  packages/context/src/resolution-session.ts
Labels: IoC/Context, refactor

#2754 fix: relax constrain check to allow input containing constrained values
  packages/repository/src/__tests__/unit/repositories/constraint-utils.unit.ts
  packages/repository/src/repositories/constraint-utils.ts
Labels: Repository, bug, developer-experience

#2704 feat(build): add more TypeScript "strict" checks
  benchmark/src/benchmark.ts
  packages/build/config/tsconfig.common.json
  packages/context/src/context-view.ts
  packages/core/src/lifecycle.ts
  packages/repository/src/__tests__/unit/type-resolver.unit.ts
Labels: Internal Tooling

#2691 Fix unused variable issue in sample code
  packages/rest/README.md
Labels: Docs, community-contribution

#2768 chore: update dependencies
  examples/rpc-server/src/__tests__/unit/rpc.router.unit.ts
  packages/build/package-lock.json
  packages/build/package.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/rest-explorer/package-lock.json
  packages/rest-explorer/package.json
  packages/testlab/package-lock.json
  packages/testlab/package.json
Labels: greenkeeper

#2721 docs: add guideline doc for authorize component
  docs/site/Loopback-component-authorization.md
  docs/site/sidebars/lb4_sidebar.yml
Labels: Authorization, community-contribution

#2690 fix(repository-json-schema): resolve the circular reference
  packages/repository-json-schema/src/__tests__/integration/build-schema.integration.ts
  packages/repository-json-schema/src/build-schema.ts
Labels: OpenAPI, bug

#2682 feat: add booter-lb3app package
  CODEOWNERS
  docs/apidocs.html
  docs/site/Boot-and-Mount-a-LoopBack-3-application.md
  docs/site/MONOREPO.md
  docs/site/sidebars/lb4_sidebar.yml
  greenkeeper.json
  packages/booter-lb3app/.npmrc
  packages/booter-lb3app/CHANGELOG.md
  packages/booter-lb3app/LICENSE
  packages/booter-lb3app/README.md
  packages/booter-lb3app/docs.json
  packages/booter-lb3app/fixtures/lb3app/common/models/coffee-shop.js
  packages/booter-lb3app/fixtures/lb3app/common/models/coffee-shop.json
  packages/booter-lb3app/fixtures/lb3app/server/boot/authentication.js
  packages/booter-lb3app/fixtures/lb3app/server/boot/create-sample-models.js
  packages/booter-lb3app/fixtures/lb3app/server/boot/routes.js
  packages/booter-lb3app/fixtures/lb3app/server/config.json
  packages/booter-lb3app/fixtures/lb3app/server/datasources.json
  packages/booter-lb3app/fixtures/lb3app/server/middleware.json
  packages/booter-lb3app/fixtures/lb3app/server/model-config.json
  packages/booter-lb3app/fixtures/lb3app/server/server.js
  packages/booter-lb3app/fixtures/minimal-app.js
  packages/booter-lb3app/index.d.ts
  packages/booter-lb3app/index.js
  packages/booter-lb3app/index.ts
  packages/booter-lb3app/package-lock.json
  packages/booter-lb3app/package.json
  packages/booter-lb3app/src/__tests__/acceptance/booter-lb3app.acceptance.ts
  packages/booter-lb3app/src/__tests__/test-helper.ts
  packages/booter-lb3app/src/index.ts
  packages/booter-lb3app/src/lb3app.booter.component.ts
  packages/booter-lb3app/src/lb3app.booter.ts
  packages/booter-lb3app/tsconfig.build.json
Labels: Boot, Migration, feature

#2806 chore: update dependencies
  packages/build/package-lock.json
  packages/build/package.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/http-caching-proxy/package-lock.json
  packages/http-caching-proxy/package.json
  packages/rest/package-lock.json
  packages/rest/package.json
Labels: greenkeeper
