Repository loopbackio/loopback-next, pull requests merged in 2019-05, with the labels that each got.

#2815 Fix typo in Service-static-files.md
  docs/site/Serving-static-files.md
Labels: community-contribution

#2448 fix(example-todo-list): add steps to run in sql db
  docs/site/sidebars/lb4_sidebar.yml
  docs/site/todo-list-tutorial-dbtables.png
  docs/site/todo-list-tutorial-sqldb.md
Labels: Docs, Examples, feature

#2702 docs: document Component
  docs/site/Components.md
  docs/site/Concepts.md
  docs/site/Using-components.md
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs, Extensions

#2830 refactor: move unexpectedHttpErrorLogger to testlab
  packages/rest/src/__tests__/acceptance/routing/routing.acceptance.ts
  packages/rest/src/__tests__/helpers.ts
  packages/rest/src/__tests__/integration/http-handler.integration.ts
  packages/testlab/README.md
  packages/testlab/src/http-error-logger.ts
  packages/testlab/src/index.ts
Labels: Testlab, feature

#2843 feat(cli): improve scaffolding of complex model settings
  packages/cli/generators/model/index.js
  packages/cli/generators/model/templates/model.ts.ejs
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/test/integration/generators/model.integration.js
Labels: CLI, feature

#2857 chore: update dependencies
  examples/todo-list/package-lock.json
  examples/todo-list/package.json
  examples/todo/package-lock.json
  examples/todo/package.json
  packages/authentication/package-lock.json
  packages/authentication/package.json
  packages/boot/package-lock.json
  packages/boot/package.json
  packages/booter-lb3app/package-lock.json
  packages/booter-lb3app/package.json
  packages/build/package-lock.json
  packages/build/package.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/metadata/package-lock.json
  packages/metadata/package.json
  packages/openapi-v3/package-lock.json
  packages/openapi-v3/package.json
  packages/repository/package-lock.json
  packages/repository/package.json
  packages/rest/package-lock.json
  packages/rest/package.json
  packages/service-proxy/package-lock.json
  packages/service-proxy/package.json
  packages/testlab/package-lock.json
  packages/testlab/package.json
Labels: greenkeeper

#2687 feat(context): add support for method interceptors
  docs/site/Concepts.md
  docs/site/Interceptors.md
  docs/site/imgs/interceptors.png
  docs/site/sidebars/lb4_sidebar.yml
  packages/context/src/__tests__/acceptance/interception-proxy.acceptance.ts
  packages/context/src/__tests__/acceptance/interceptor.acceptance.ts
  packages/context/src/__tests__/unit/interceptor.unit.ts
  packages/context/src/binding.ts
  packages/context/src/index.ts
  packages/context/src/inject.ts
  packages/context/src/interception-proxy.ts
  packages/context/src/interceptor.ts
  packages/context/src/keys.ts
  packages/context/src/resolution-session.ts
  packages/context/src/resolver.ts
  packages/rest/src/__tests__/acceptance/caching-interceptor/caching-interceptor.acceptance.ts
  packages/rest/src/__tests__/acceptance/caching-interceptor/caching-interceptor.ts
  packages/rest/src/__tests__/acceptance/caching-interceptor/global-caching-interceptor.acceptance.ts
  packages/rest/src/router/handler-route.ts
Labels: IoC/Context, developer-experience, feature

#2856 fix(rest-explorer): exclude basePath from /openapi URL
  packages/rest-explorer/src/__tests__/acceptance/rest-explorer.acceptance.ts
  packages/rest-explorer/src/__tests__/acceptance/rest-explorer.express.acceptance.ts
  packages/rest-explorer/src/rest-explorer.controller.ts
Labels: API Explorer, bug

#2884 refactor(rest-explorer): improve test names
  packages/rest-explorer/src/__tests__/acceptance/rest-explorer.express.acceptance.ts
Labels: API Explorer, refactor

#2872 feat(context): leave local bindings and parent unchanged in context.close()
  packages/context/src/__tests__/acceptance/interceptor.acceptance.ts
  packages/context/src/__tests__/unit/context.unit.ts
  packages/context/src/context.ts
  packages/rest/src/__tests__/integration/request-context.integration.ts
  packages/rest/src/request-context.ts
Labels: IoC/Context, feature

#2922 fix(example-lb3-application): remove deprecation warning
  examples/lb3-application/lb3app/server/middleware.json
Labels: Examples

#2944 test(cli): fix `lerna bootstrap` to link monorepo packages
  packages/cli/test/acceptance/app-run.acceptance.js
Labels: CLI

#2426 feat(cli): add lb4 relation command
  docs/site/Relation-generator.md
  packages/cli/README.md
  packages/cli/generators/relation/base-relation.generator.js
  packages/cli/generators/relation/belongs-to-relation.generator.js
  packages/cli/generators/relation/has-many-relation.generator.js
  packages/cli/generators/relation/index.js
  packages/cli/generators/relation/templates/controller-relation-template-belongs-to.ts.ejs
  packages/cli/generators/relation/templates/controller-relation-template-has-many.ts.ejs
  packages/cli/generators/relation/utils.generator.js
  packages/cli/lib/cli.js
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/test/fixtures/relation/controllers/customer.controller.ts
  packages/cli/test/fixtures/relation/controllers/index.ts
  packages/cli/test/fixtures/relation/controllers/index4.ts
  packages/cli/test/fixtures/relation/controllers/order-customer.controller.ts
  packages/cli/test/fixtures/relation/index.js
  packages/cli/test/fixtures/relation/models/customer-class-type.model.ts
  packages/cli/test/fixtures/relation/models/customer-class.model.ts
  packages/cli/test/fixtures/relation/models/customer.model.ts
  packages/cli/test/fixtures/relation/models/customer5.model.ts
  packages/cli/test/fixtures/relation/models/nokey.model.ts
  packages/cli/test/fixtures/relation/models/order-class-type.model.ts
  packages/cli/test/fixtures/relation/models/order-class.model.ts
  packages/cli/test/fixtures/relation/models/order.model.ts
  packages/cli/test/fixtures/relation/repositories/customer-class-type.repository.ts
  packages/cli/test/fixtures/relation/repositories/customer-class.repository.ts
  packages/cli/test/fixtures/relation/repositories/customer.repository.ts
  packages/cli/test/fixtures/relation/repositories/order-class-type.repository.ts
  packages/cli/test/fixtures/relation/repositories/order-class.repository.ts
  packages/cli/test/fixtures/relation/repositories/order.repository.ts
  packages/cli/test/integration/cli/cli.integration.js
  packages/cli/test/integration/generators/belongsto.relation.integration.js
  packages/cli/test/integration/generators/hasmany.relation.integration.js
  packages/cli/test/integration/generators/relation.integration.js
  packages/cli/test/integration/lib/base-generator.js
Labels: CLI, community-contribution

#2956 test: remove unnecessary async functions
  packages/context/src/__tests__/acceptance/inject-multiple-values.acceptance.ts
  packages/context/src/__tests__/integration/inject-view.integration.ts
  packages/context/src/__tests__/integration/inject.integration.ts
  packages/context/src/__tests__/unit/binding.unit.ts
Labels: refactor

#2971 Helpers for building JSON/OpenAPI schema referencing shared definitions
  packages/openapi-v3/src/__tests__/integration/controller-spec.integration.ts
  packages/openapi-v3/src/controller-spec.ts
  packages/openapi-v3/src/json-to-schema.ts
  packages/repository-json-schema/src/__tests__/helpers/expect-valid-json-schema.ts
  packages/repository-json-schema/src/__tests__/integration/build-schema.integration.ts
  packages/repository-json-schema/src/__tests__/integration/schema-ref.integration.ts
  packages/repository-json-schema/src/build-schema.ts
  packages/rest/src/__tests__/acceptance/validation/validation.acceptance.ts
Labels: OpenAPI, feature

#2834 feat(tsdocs): add integration with api-extractor/documenter
  .gitignore
  .prettierignore
  CODEOWNERS
  bin/build-docs-site.sh
  docs/package.json
  docs/site/MONOREPO.md
  docs/site/sidebars/lb4_sidebar.yml
  greenkeeper.json
  package.json
  packages/build/index.js
  packages/tsdocs/.npmrc
  packages/tsdocs/LICENSE
  packages/tsdocs/README.md
  packages/tsdocs/bin/extract-apis.js
  packages/tsdocs/bin/update-apidocs.js
  packages/tsdocs/fixtures/README.md
  packages/tsdocs/fixtures/monorepo/lerna.json
  packages/tsdocs/fixtures/monorepo/package.json
  packages/tsdocs/fixtures/monorepo/packages/pkg1/dist/index.d.ts
  packages/tsdocs/fixtures/monorepo/packages/pkg1/dist/index.js
  packages/tsdocs/fixtures/monorepo/packages/pkg1/dist/index.js.map
  packages/tsdocs/fixtures/monorepo/packages/pkg1/package.json
  packages/tsdocs/fixtures/monorepo/packages/pkg1/src/index.ts
  packages/tsdocs/fixtures/monorepo/packages/pkg1/tsconfig.build.json
  packages/tsdocs/fixtures/monorepo/packages/pkg2/dist/index.d.ts
  packages/tsdocs/fixtures/monorepo/packages/pkg2/dist/index.js
  packages/tsdocs/fixtures/monorepo/packages/pkg2/dist/index.js.map
  packages/tsdocs/fixtures/monorepo/packages/pkg2/package.json
  packages/tsdocs/fixtures/monorepo/packages/pkg2/src/index.ts
  packages/tsdocs/fixtures/monorepo/packages/pkg2/tsconfig.build.json
  packages/tsdocs/fixtures/monorepo/packages/pkg3-non-ts/index.js
  packages/tsdocs/fixtures/monorepo/packages/pkg3-non-ts/package.json
  packages/tsdocs/fixtures/monorepo/packages/pkg4-private/index.js
  packages/tsdocs/fixtures/monorepo/packages/pkg4-private/package.json
  packages/tsdocs/index.d.ts
  packages/tsdocs/index.js
  packages/tsdocs/index.ts
  packages/tsdocs/package-lock.json
  packages/tsdocs/package.json
  packages/tsdocs/src/__tests__/acceptance/tsdocs.acceptance.ts
  packages/tsdocs/src/helper.ts
  packages/tsdocs/src/index.ts
  packages/tsdocs/src/monorepo-api-extractor.ts
  packages/tsdocs/src/update-api-md-docs.ts
  packages/tsdocs/tsconfig.build.json
Labels: Internal Tooling, feature

#3015 fix: modelSettings is stringified properly #2915
  packages/cli/generators/discover/index.js
  packages/cli/generators/model/index.js
  packages/cli/lib/utils.js
Labels: CLI, bug, community-contribution

#3013 feat(testlab): rework itSkippedOnTravis to support Jest framework
  packages/testlab/src/skip-travis.ts
Labels: Testlab, feature

#3014 chore: disable GreenKeeper
  .travis.yml
  README.md
  bin/update-greenkeeper-json.js
  docs/site/DEVELOPING.md
  greenkeeper.json
  package.json
Labels: Internal Tooling, greenkeeper
