Repository loopbackio/loopback-next, pull requests merged in 2019-01, with the labels that each got.

#2211 fix(build): fix path lookup in build helpers
  packages/build/bin/utils.js
Labels: bug

#2192 fix: remove multiple application start calls
  examples/rpc-server/src/index.ts
Labels: Examples, bug

#2060 Add example add repository getter to testing docs
  docs/site/Testing-your-application.md
Labels: Docs, community contribution, feature

#2181 fix(docs): fix example for using --config option
  docs/site/includes/CLI-std-options.md
Labels: Docs, bug

#2218 fix: optional auth metadata
  packages/authentication/src/providers/auth-metadata.provider.ts
  packages/authentication/test/unit/providers/auth-metadata.provider.unit.ts
Labels: Authentication, bug

#2166 refactor: remove dependency of package.json keywords
  packages/cli/lib/base-generator.js
  packages/cli/test/integration/generators/controller.integration.js
  packages/cli/test/integration/generators/datasource.integration.js
  packages/cli/test/integration/generators/model.integration.js
  packages/cli/test/integration/lib/artifact-generator.js
  packages/cli/test/test-utils.js
Labels: CLI, community contribution, feature

#2214 docs: add specific relation decorators
  docs/site/Decorators_repository.md
Labels: Docs, Relations, feature

#2196 docs: update document for recursive belongsTo relationship
  docs/site/BelongsTo-relation.md
Labels: Docs, Relations, community contribution, feature

#2186 fix(cli): add descriptions to features
  docs/site/Getting-started.md
  docs/site/soap-calculator-tutorial-scaffolding.md
  docs/site/todo-tutorial-scaffolding.md
  packages/cli/generators/app/index.js
  packages/cli/lib/project-generator.js
Labels: CLI, developer-experience, feature

#2178 fix(repository): remove property.array() call from hasMany decorator
  packages/repository-json-schema/test/integration/build-schema.integration.ts
  packages/repository/src/relations/has-many/has-many.decorator.ts
  packages/repository/test/acceptance/has-many.relation.acceptance.ts
  packages/repository/test/unit/decorator/relation.decorator.unit.ts
Labels: Repository, bug, community contribution

#2171 fix(cli): allow base class exist for model config option
  packages/cli/generators/model/index.js
  packages/cli/test/integration/generators/model.integration.js
Labels: CLI, bug

#2241 feat(repository-json-schema): enumerate fields
  packages/openapi-v3/test/unit/filter-schema.unit.ts
  packages/repository-json-schema/src/filter-json-schema.ts
Labels: OpenAPI, community contribution, feature

#2160 deploying a loopback 4 application to kubernetes on the IBM Cloud
  docs/site/Deploying_to_ibm_cloud_kubernetes.md
  docs/site/How-tos.md
  docs/site/imgs/lb4_k8s_ibm_cloud_app_website_1.png
  docs/site/imgs/lb4_k8s_ibm_cloud_app_website_on_cloud_k8s.png
  docs/site/imgs/lb4_k8s_ibm_cloud_cluster_access_1.png
  docs/site/imgs/lb4_k8s_ibm_cloud_container_registry_1.png
  docs/site/imgs/lb4_k8s_ibm_cloud_k8s_dashboard_1.png
  docs/site/imgs/lb4_k8s_ibm_cloud_k8s_dashboard_2.png
  docs/site/imgs/lb4_k8s_ibm_cloud_k8s_dashboard_3.png
  docs/site/imgs/lb4_k8s_ibm_cloud_k8s_dashboard_4.png
  docs/site/imgs/lb4_k8s_ibm_cloud_kubernetes_cluster_1.png
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs, feature

#2287 fix(docs): update link in todo-tutorial-geocoding-service
  docs/site/todo-tutorial-geocoding-service.md
Labels: Docs, bug
