Repository loopbackio/loopback-next, pull requests merged in 2019-03, with the labels that each got.

#2513 fix(repository): change default binding scope to TRANSIENT for repos
  examples/todo-list/src/__tests__/acceptance/todo-list-todo.acceptance.ts
  packages/repository/src/__tests__/unit/mixins/repository.mixin.unit.ts
  packages/repository/src/mixins/repository.mixin.ts
Labels: Repository, bug, major

#2512 feat(rest): add support for redirect routes
  docs/site/Routes.md
  packages/rest/src/__tests__/acceptance/routing/routing.acceptance.ts
  packages/rest/src/__tests__/integration/rest.application.integration.ts
  packages/rest/src/__tests__/integration/rest.server.integration.ts
  packages/rest/src/__tests__/unit/rest.server/rest.server.redirect.unit.ts
  packages/rest/src/rest.application.ts
  packages/rest/src/rest.server.ts
  packages/rest/src/router/index.ts
  packages/rest/src/router/redirect-route.ts
Labels: REST, community-contribution, feature

#2526 chore: remove dependency on `@types/p-event`
  benchmark/package.json
  examples/express-composition/package.json
  examples/rpc-server/package.json
  packages/http-caching-proxy/package.json
  packages/http-server/package.json
Labels: refactor

#2524 refactor(rest): rework StaticAssetsRoute into ExternalExpressRoutes
  packages/rest/src/rest.server.ts
  packages/rest/src/router/external-express-routes.ts
  packages/rest/src/router/index.ts
  packages/rest/src/router/routing-table.ts
Labels: REST, refactor

#2530 build: move travis tasks to .travis.yml to get timing info
  .travis.yml
  bin/travis.sh
  bin/verify-doc-changes.sh
  package.json
Labels: Internal Tooling, refactor

#2514 fix(service-proxy): change default binding scope to TRANSIENT for service proxies
  packages/service-proxy/src/__tests__/acceptance/service.mixin.acceptance.ts
  packages/service-proxy/src/__tests__/unit/mixin/service.mixin.unit.ts
  packages/service-proxy/src/mixins/service.mixin.ts
Labels: Service Proxy, bug

#2535 fix(cli): use pascalCase for toClassName to handle '-'
  packages/cli/lib/utils.js
  packages/cli/test/fixtures/repository/index.js
  packages/cli/test/fixtures/repository/models/decorator-defined.model.txt
  packages/cli/test/fixtures/repository/models/decoratordefined.model.txt
  packages/cli/test/fixtures/repository/models/default-model.model.txt
  packages/cli/test/fixtures/repository/repositories/default-model.repository.base.ts
  packages/cli/test/integration/generators/repository.integration.js
  packages/cli/test/integration/generators/service.integration.js
  packages/cli/test/unit/utils.unit.js
Labels: CLI, bug

#2309 chore(build): use new config format for mocha v6.x
  .vscode/launch.json
  docs/site/todo-tutorial-scaffolding.md
  packages/build/bin/run-mocha.js
  packages/build/bin/utils.js
  packages/build/config/.mocharc.json
  packages/build/config/mocha.opts
  packages/build/test/integration/scripts.integration.js
  packages/cli/generators/project/templates/.mocharc.json
  packages/cli/generators/project/templates/test/mocha.opts
  packages/cli/lib/project-generator.js
Labels: Internal Tooling, developer-experience

#2542 fix(example-express-composition): use rest options
  docs/site/express-with-lb4-rest-tutorial.md
  examples/express-composition/src/server.ts
Labels: Examples

#2406 fix: model id type is now boolean|number instead of boolean
  packages/repository/src/model.ts
Labels: Repository, community-contribution

#2537 docs: update cli options and descriptions
  docs/site/Examples.md
  docs/site/Getting-started.md
  docs/site/express-with-lb4-rest-tutorial.md
  docs/site/soap-calculator-tutorial-scaffolding.md
  docs/site/todo-tutorial-scaffolding.md
  packages/cli/README.md
Labels: Docs

#2543 fix(cli): setup controller generator after adding properties
  packages/cli/generators/controller/index.js
Labels: CLI

#2551 docs: add repository base class
  docs/site/express-with-lb4-rest-tutorial.md
  docs/site/todo-list-tutorial-repository.md
  docs/site/todo-tutorial-repository.md
Labels: Docs

#2549 perf: update dockerfile to better version
  packages/cli/generators/app/templates/Dockerfile
  packages/cli/test/integration/generators/app.integration.js
Labels: CLI

#2539 docs: update 'deploy to kubernetes on ibm cloud' tutorial
  docs/site/Deploying_to_ibm_cloud_kubernetes.md
  docs/site/imgs/lb4_k8s_ibm_cloud_app_website_1.png
  docs/site/imgs/lb4_k8s_ibm_cloud_app_website_on_cloud_k8s.png
Labels: Docs

#2419 feat(rest): add strict option for routers
  docs/site/Server.md
  packages/rest/src/__tests__/unit/rest.server/rest.server.unit.ts
  packages/rest/src/__tests__/unit/router/routing-table.unit.ts
  packages/rest/src/__tests__/unit/router/trie-router.unit.ts
  packages/rest/src/keys.ts
  packages/rest/src/rest.server.ts
  packages/rest/src/router/regexp-router.ts
  packages/rest/src/router/rest-router.ts
  packages/rest/src/router/router-base.ts
  packages/rest/src/router/trie-router.ts
Labels: REST, feature

#2553 feat(context): add events to ContextView
  docs/site/Context.md
  packages/context/src/__tests__/unit/context-view.unit.ts
  packages/context/src/context-view.ts
Labels: IoC/Context, feature

#2589 test(testlab): verify how RequestContext combines urlBase and basePath
  packages/rest/src/__tests__/integration/request-context.integration.ts
Labels: REST

#2520 feat(context): honor binding scope from @bind
  docs/site/Binding.md
  packages/context/src/__tests__/acceptance/bind-decorator.acceptance.ts
  packages/context/src/__tests__/unit/binding.unit.ts
  packages/context/src/binding-inspector.ts
  packages/context/src/binding.ts
  packages/core/src/__tests__/unit/application.unit.ts
  packages/core/src/application.ts
  packages/repository/src/__tests__/unit/mixins/repository.mixin.unit.ts
  packages/repository/src/mixins/repository.mixin.ts
  packages/rest/src/__tests__/acceptance/bootstrapping/rest.acceptance.ts
  packages/service-proxy/src/__tests__/unit/mixin/service.mixin.unit.ts
Labels: IoC/Context, feature

#2595 test(repository): hasMany relation to same entity
  packages/repository/src/__tests__/acceptance/has-many.relation.acceptance.ts
  packages/repository/src/__tests__/fixtures/models/customer.model.ts
  packages/repository/src/__tests__/fixtures/repositories/customer.repository.ts
  packages/repository/src/__tests__/fixtures/repositories/order.repository.ts
Labels: Repository

#2591 chore: automatically organize imports on save in VS Code
  .vscode/settings.json
Labels: Internal Tooling

#2442 feat(repository): allow optional property definition on belongsTo decorator
  packages/repository/src/__tests__/unit/decorator/relation.decorator.unit.ts
  packages/repository/src/relations/belongs-to/belongs-to.decorator.ts
Labels: Relations, community-contribution

#2588 fix(docs): add steps to call SOAP services
  README.md
  docs/site/Calling-other-APIs-and-Web-Services.md
Labels: Docs, Service Proxy

#2505 fix(repository): support embedded models for nested properties
  packages/repository/src/__tests__/acceptance/repository.acceptance.ts
  packages/repository/src/__tests__/unit/repositories/legacy-juggler-bridge.unit.ts
  packages/repository/src/repositories/legacy-juggler-bridge.ts
Labels: Repository, bug, community-contribution

#2414 feat(repository): delete & patch operations for HasOne relation
  packages/repository/src/__tests__/acceptance/has-one.relation.acceptance.ts
  packages/repository/src/relations/has-one/has-one.repository.ts
  packages/repository/src/relations/has-one/index.ts
Labels: Relations, community-contribution, feature

#2621 build: enable "skipLibCheck", remove "dom" library
  packages/build/config/tsconfig.common.json
  packages/cli/generators/project/templates/tsconfig.json.ejs
Labels: Internal Tooling

#2515 feat(context): tidy up dependency injection for singleton bindings
  docs/img/binding-scopes.png
  docs/site/Dependency-injection.md
  packages/context/src/__tests__/acceptance/class-level-bindings.acceptance.ts
  packages/context/src/__tests__/unit/resolver.unit.ts
  packages/context/src/context.ts
  packages/context/src/resolver.ts
  packages/rest/src/__tests__/acceptance/routing/routing.acceptance.ts
  packages/rest/src/__tests__/unit/router/controller-route.unit.ts
  packages/rest/src/rest.component.ts
  packages/rest/src/rest.server.ts
  packages/rest/src/router/controller-route.ts
Labels: IoC/Context, developer-experience, refactor

#2560 fix(rest): make sure basePath is included in RestServer.url
  packages/rest/src/__tests__/integration/rest.server.integration.ts
  packages/rest/src/rest.server.ts
  packages/testlab/src/client.ts
Labels: REST, bug

#2650 [greenkeeper] Greenkeeper/default/semver 6.0.0
  packages/cli/package-lock.json
  packages/cli/package.json
Labels: greenkeeper

#2576 feat: design auth system with user scenario
  package-lock.json
  packages/authentication/README.md
  packages/authentication/docs/authentication-action.md
  packages/authentication/docs/authentication-strategy.md
  packages/authentication/docs/authentication-system.md
  packages/authentication/docs/controller-functions.md
  packages/authentication/docs/imgs/API-flow-(JWT).png
  packages/authentication/docs/imgs/auth-framework-architecture.png
  packages/authentication/docs/imgs/multiple-auth-strategies-login.png
  packages/authentication/docs/imgs/multiple-auth-strategies-verify.png
  packages/authentication/docs/strategies/basic-auth.md
  packages/authentication/docs/strategies/jwt.md
  packages/authentication/docs/strategies/oauth2.md
  packages/authentication/docs/strategies/openid.md
  packages/authentication/docs/strategies/saml.md
  packages/authentication/docs/track-user-profile/session-based-auth.md
  packages/authentication/docs/track-user-profile/token-based-auth.md
  packages/authentication/docs/transport-layer-based-extraction/extract-current-user.md
  packages/authentication/src/services/session.service.ts
  packages/authentication/src/services/token.service.ts
  packages/authentication/src/services/user.service.ts
Labels: Authentication, Docs

#2643 feat(rest): add mountExpressRouter
  docs/site/Routes.md
  docs/site/express-with-lb4-rest-tutorial.md
  packages/rest/src/__tests__/integration/rest.application.integration.ts
  packages/rest/src/__tests__/unit/router/assign-router-spec.unit.ts
  packages/rest/src/__tests__/unit/router/rebase-openapi-spec.unit.ts
  packages/rest/src/rest.application.ts
  packages/rest/src/rest.server.ts
  packages/rest/src/router/external-express-routes.ts
  packages/rest/src/router/index.ts
  packages/rest/src/router/router-spec.ts
  packages/rest/src/router/routing-table.ts
Labels: Migration, REST, feature
