Repository loopbackio/loopback-next, pull requests merged in 2019-12, with the labels that each got.

#4241 fix(docs): fix formatting
  docs/site/Interceptors.md
  docs/site/Repositories.md
  docs/site/Server.md
  docs/site/imgs/lb4-high-level.png
  docs/site/index.md
Labels: Docs

#4240 feat(repository): add title property to Count schema definition
  packages/repository/src/common-types.ts
Labels: Repository, community-contribution

#4246 chore: upgrade Node to 12.x for Travis jobs
  .travis.yml
Labels: Internal Tooling

#4215 How to scaffold, run, debug, test, and deploy a LoopBack 4 application using Appsody CLI
  docs/site/Appsody-LoopBack.md
  docs/site/imgs/lb4appsody_template_cluster_1.png
  docs/site/imgs/lb4appsody_template_debug_1.png
  docs/site/imgs/lb4appsody_template_debug_2.png
  docs/site/imgs/lb4appsody_template_debug_3.png
  docs/site/imgs/lb4appsody_template_files_1.png
  docs/site/imgs/lb4appsody_template_files_2.png
  docs/site/imgs/lb4appsody_template_pods_1.png
  docs/site/imgs/lb4appsody_template_webpage_1.png
  docs/site/imgs/lb4appsody_template_webpage_2.png
  docs/site/imgs/lb4appsody_template_webpage_3.png
  docs/site/imgs/lb4appsody_template_webpage_cloud_1.png
  docs/site/sidebars/lb4_sidebar.yml
Labels: CloudNative, Docs

#4266 repository: Add `defineModelClass` helper and fix `DeepPartial<AnyObject>`
  packages/repository/src/__tests__/unit/common-types.unit.ts
  packages/repository/src/__tests__/unit/model/define-model-class.unit.ts
  packages/repository/src/common-types.ts
  packages/repository/src/define-model-class.ts
  packages/repository/src/index.ts
Labels: Repository, feature

#4056 docs: migrate Express middleware from LB3 to LB4
  docs/site/migration/express-middleware.md
  examples/lb3-application/README.md
  examples/lb3-application/index.js
  examples/lb3-application/lb3app/server/boot/routes.js
  examples/lb3-application/lb3app/server/config.json
  examples/lb3-application/lb3app/server/middleware.json
  examples/lb3-application/package-lock.json
  examples/lb3-application/package.json
  examples/lb3-application/public/index.html
  examples/lb3-application/src/__tests__/acceptance/home-page.acceptance.ts
  examples/lb3-application/src/__tests__/acceptance/lb3app.acceptance.ts
  examples/lb3-application/src/__tests__/acceptance/test-helper.ts
  examples/lb3-application/src/application.ts
  examples/lb3-application/src/index.ts
  examples/lb3-application/src/migrate.ts
  examples/lb3-application/src/server.ts
Labels: Docs, Migration

#4295 fix(docs): replace emoji markup with an emoji glyph
  extensions/metrics/README.md
Labels: Docs, bug

#4305 fix(docs): fix anchor link in authorization page
  docs/site/Loopback-component-authorization.md
Labels: Docs

#4116 feat(docs): add 2020Q1 roadmap
  docs/ROADMAP.md
Labels: roadmap

#4247 feat(repository): add interface for hasManyThrough
  packages/repository/src/relations/relation.types.ts
Labels: Relations, Repository, community-contribution, feature

#4316 fix(docs): add import authentication component
  docs/site/Loopback-component-authentication.md
Labels: Docs, community-contribution

#4285 Update Mixin.md
  docs/site/Mixin.md
Labels: Docs, community-contribution

#4315 feat(repository): allow custom keyFrom for hasMany and hasOne
  docs/site/BelongsTo-relation.md
  docs/site/HasMany-relation.md
  docs/site/hasOne-relation.md
  packages/repository-tests/src/crud/relations/acceptance/belongs-to.inclusion-resolver.relation.acceptance.ts
  packages/repository-tests/src/crud/relations/acceptance/belongs-to.relation.acceptance.ts
  packages/repository-tests/src/crud/relations/acceptance/has-many-inclusion-resolver.relation.acceptance.ts
  packages/repository-tests/src/crud/relations/acceptance/has-many.relation.acceptance.ts
  packages/repository-tests/src/crud/relations/acceptance/multi-relations-inclusion-resolver.relation.acceptance.ts
  packages/repository-tests/src/crud/relations/fixtures/models/order.model.ts
  packages/repository-tests/src/crud/relations/fixtures/models/shipment.model.ts
  packages/repository-tests/src/crud/relations/fixtures/repositories/shipment.repository.ts
  packages/repository-tests/src/crud/relations/helpers.ts
  packages/repository/src/relations/has-many/has-many.helpers.ts
  packages/repository/src/relations/has-one/has-one.helpers.ts
  packages/repository/src/relations/relation.types.ts
Labels: Relations, Repository

#4343 docs: migrate datasources from lb3 to lb4
  docs/site/migration/datasources.md
Labels: Docs, Migration
