Repository loopbackio/loopback-next, pull requests merged in 2019-11, with the labels that each got.

#4028 test(example-todo): mark geocoding tests as skipped when the service is down
  examples/todo/src/__tests__/acceptance/todo.acceptance.ts
  examples/todo/src/__tests__/integration/services/geocoder.service.integration.ts
Labels: Examples

#3909 chore: ensure packages are built in order of dependencies
  package.json
Labels: Internal Tooling

#4037 fix(repository): improve typings for model inclusion
  packages/repository/src/query.ts
Labels: Repository

#4048 [WIP] Fix 3965
  packages/cli/lib/utils.js
Labels: community-contribution

#4054 chore: add a bash script to help check out code for a given PR
  bin/checkout-pr.sh
Labels: Internal Tooling

#4033 fix(cli): improve message for model discovery code generation
  packages/cli/generators/discover/index.js
Labels: CLI

#4026 feat(docs): add boot and advanced topics to core-tutorial
  docs/site/tutorials/core/10-advanced-recipes.md
  docs/site/tutorials/core/11-summary.md
  docs/site/tutorials/core/9-boot-by-convention.md
Labels: Docs

#4045 build(docs): add a script for fast previews of LB4 doc changes
  .eslintignore
  .gitignore
  .prettierignore
  docs/bin/build-jekyll-preview-config.js
  docs/bin/build-preview-site.sh
  docs/site/DEVELOPING.md
  package.json
Labels: Docs, developer-experience

#4082 fix(docs): add sidebar for core-tutorial
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs

#4098 feat(cli): recognize PK properties defined as `{id: 1}`
  packages/cli/lib/ast-helper.js
  packages/cli/test/unit/ast-helper/get-id-from-model.unit.js
Labels: CLI, Migration, bug

#4108 feat(cli): improve UX of multi-item selection
  packages/cli/generators/discover/index.js
  packages/cli/generators/import-lb3-models/index.js
  packages/cli/generators/openapi/index.js
  packages/cli/generators/repository/index.js
Labels: CLI, developer-experience, feature

#4121 feat(context): allow current binding to be injected with `@inject.binding`
  docs/site/decorators/Decorators_inject.md
  packages/context/src/__tests__/acceptance/class-level-bindings.acceptance.ts
  packages/context/src/inject.ts
Labels: IoC/Context

#4126 fix(docs): update TodoList tutorial
  docs/site/sidebars/lb4_sidebar.yml
  docs/site/tutorials/todo-list/todo-list-tutorial-model.md
  docs/site/tutorials/todo-list/todo-list-tutorial-relations.md
  docs/site/tutorials/todo-list/todo-list-tutorial-repository.md
Labels: Docs

#3489 feat(core): add service decorator to inject by service class/interface
  docs/site/Dependency-injection.md
  docs/site/Services.md
  docs/site/decorators/Decorators_service.md
  docs/site/sidebars/lb4_sidebar.yml
  packages/context/src/index.ts
  packages/core/src/__tests__/acceptance/service.acceptance.ts
  packages/core/src/__tests__/unit/application.unit.ts
  packages/core/src/application.ts
  packages/core/src/index.ts
  packages/core/src/keys.ts
  packages/core/src/service.ts
Labels: IoC/Context

#4142 fix(cli): updated OAS 'date' type mapping to JS 'string'
  packages/cli/generators/openapi/schema-helper.js
  packages/cli/test/unit/openapi/schema-helper.unit.js
Labels: community-contribution

#4180 Use stringifyObject instead of JSON.stringify for connector metadata
  packages/cli/lib/model-discoverer.js
  packages/cli/lib/utils.js
  packages/cli/test/unit/discover/import-discovered-model.test.js
Labels: CLI, Model Discovery, feature

#4193 feat(context): improve context/binding with inspect/toJSON for metadata dumping
  packages/context/src/__tests__/unit/binding.unit.ts
  packages/context/src/__tests__/unit/context.unit.ts
  packages/context/src/binding.ts
  packages/context/src/context.ts
Labels: IoC/Context

#4203 feat(cli): add `connectors.json`
  .gitignore
  packages/cli/bin/download-connector-list.js
  packages/cli/generators/datasource/index.js
  packages/cli/lib/connectors.json
  packages/cli/lib/utils.js
  packages/cli/package.json
Labels: CLI, refactor

#4112 fix(cli): handle missing target artifact dir
  packages/cli/lib/utils.js
  packages/cli/test/integration/generators/controller.integration.js
  packages/cli/test/integration/generators/model.integration.js
Labels: CLI, bug

#4201 Update Authentication Tutorial with UserCredentials
  docs/site/tutorials/authentication/Authentication-Tutorial.md
Labels: Authentication, Docs
