Repository loopbackio/loopback-next, pull requests merged in 2019-09, with the labels that each got.

#3649 feat(authentication): allow to extend AuthenticationStrategyProvider
  packages/authentication/src/index.ts
  packages/authentication/src/providers/auth-strategy.provider.ts
Labels: community-contribution

#3633 feat(rest-crud): add "replaceById" endpoint
  packages/rest-crud/src/__tests__/acceptance/default-model-crud-rest.acceptance.ts
  packages/rest-crud/src/crud-rest.controller.ts
Labels: REST, feature

#3634 fix(context): allow `inject` to be explicitly invoked for class ctor args
  packages/context/src/__tests__/unit/inject.unit.ts
  packages/context/src/inject.ts
Labels: IoC/Context

#3635 feat(testlab): add TestLab.writeJsonFile
  packages/testlab/src/__tests__/integration/test-sandbox.integration.ts
  packages/testlab/src/test-sandbox.ts
Labels: Testlab, feature

#3674 fix(repository-json-schema): allow recursive model definitions
  packages/repository-json-schema/src/__tests__/unit/build-schema.unit.ts
  packages/repository-json-schema/src/build-schema.ts
Labels: OpenAPI, Schema

#3687 docs(cli): simplify "Basic use" in README
  packages/cli/README.md
Labels: CLI, Docs, refactor

#3623 feat(booter-lb3app): process generated OpenApiSpec of lb3 app
  packages/booter-lb3app/src/__tests__/acceptance/booter-lb3app.acceptance.ts
  packages/booter-lb3app/src/lb3app.booter.ts
Labels: Migration, community-contribution, feature

#3676 feat(context): add more logs to simplify troubleshooting
  packages/context/src/__tests__/unit/binding-inspector.unit.ts
  packages/context/src/binding-inspector.ts
Labels: IoC/Context, developer-experience, feature

#3729 feat(eslint-config): enable "no-misused-promises" rule
  examples/greeting-app/src/caching-service.ts
  packages/cli/generators/example/index.js
  packages/eslint-config/eslintrc.js
  packages/rest/src/__tests__/integration/rest.application.integration.ts
Labels: community-contribution

#3754 fix(cli): fix schema title for POST operation in relation controllers
  packages/cli/generators/relation/templates/controller-relation-template-has-many.ts.ejs
  packages/cli/test/integration/generators/relation.has-many.integration.js
Labels: CLI, bug

#3746 feat(rest): allow AJV error messages customization
  packages/rest/src/__tests__/acceptance/validation/validation.acceptance.ts
  packages/rest/src/types.ts
  packages/rest/src/validation/request-body.validator.ts
Labels: REST, Validation, community-contribution

#3756 test(cli): introduce snapshot-based testing
  .prettierignore
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/snapshots/integration/generators/controller.integration.snapshots.js
  packages/cli/snapshots/integration/generators/datasource.integration.snapshots.js
  packages/cli/test/integration/generators/controller.integration.js
  packages/cli/test/integration/generators/datasource.integration.js
  packages/cli/test/snapshot-matcher.js
  packages/cli/test/snapshots.js
Labels: CLI, developer-experience, refactor

#3765 [doc] Add `--port=3001` as documented
  docs/site/exposing-graphql-apis.md
Labels: Docs, community-contribution

#3786 test(cli): use snapshots to match list of commands in help
  packages/cli/snapshots/integration/cli/cli.integration.snapshots.js
  packages/cli/test/integration/cli/cli.integration.js
Labels: CLI, refactor

#3133 feat: rest explorer now hosts its own copy of oas by default
  examples/express-composition/src/__tests__/acceptance/express.acceptance.ts
  examples/express-composition/src/application.ts
  packages/rest-explorer/README.md
  packages/rest-explorer/src/__tests__/acceptance/rest-explorer.acceptance.ts
  packages/rest-explorer/src/__tests__/acceptance/rest-explorer.express.acceptance.ts
  packages/rest-explorer/src/rest-explorer.component.ts
  packages/rest-explorer/src/rest-explorer.controller.ts
  packages/rest-explorer/src/rest-explorer.types.ts
  packages/rest/src/__tests__/integration/rest.server.integration.ts
  packages/rest/src/keys.ts
  packages/rest/src/rest.server.ts
Labels: API Explorer, community-contribution

#3776 Improve snapshot matcher
  packages/cli/test/snapshot-matcher.js
Labels: CLI, feature

#3688 CLI: Import LB3 model(s) into LB4 project [EXPERIMENTAL]
  docs/site/Importing-LB3-models.md
  docs/site/sidebars/lb4_sidebar.yml
  docs/site/tables/lb4-artifact-commands.html
  packages/cli/generators/import-lb3-models/index.js
  packages/cli/generators/import-lb3-models/lb3app-loader.js
  packages/cli/generators/import-lb3-models/migrate-model.js
  packages/cli/generators/import-lb3-models/model-names.js
  packages/cli/lib/cli.js
  packages/cli/lib/utils.js
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/snapshots/integration/cli/cli.integration.snapshots.js
  packages/cli/snapshots/integration/generators/import-lb3-models.integration.snapshots.js
  packages/cli/test/integration/generators/import-lb3-models.integration.js
  packages/cli/test/unit/import-lb3-model/migrate-model.test.js
  packages/cli/test/unit/import-lb3-model/model-names.test.js
Labels: CLI, Migration, feature

#3809 fix(cli): remove extra SPACE at EOL in help output
  packages/cli/lib/cli.js
  packages/cli/snapshots/integration/cli/cli.integration.snapshots.js
  packages/cli/test/integration/cli/cli.integration.js
Labels: CLI

#3818 docs(cli): describe LB3 model settings ignored during import
  docs/site/Importing-LB3-models.md
Labels: CLI, Docs

#3504 fix(repository-json-schema): update to pass openapi validation in azure
  packages/repository-json-schema/src/__tests__/integration/build-schema.integration.ts
  packages/repository-json-schema/src/__tests__/unit/build-schema.unit.ts
  packages/repository-json-schema/src/build-schema.ts
Labels: community-contribution
