Repository loopbackio/loopback-next, pull requests merged in 2019-02, with the labels that each got.

#2317 docs(cli): use a custom repository base class
  docs/site/Repository-generator.md
Labels: CLI, community contribution

#2235 feat(cli): use a custom repository base class
  packages/cli/generators/repository/index.js
  packages/cli/generators/repository/templates/src/repositories/repository-crud-default-template.ts.ejs
  packages/cli/generators/repository/templates/src/repositories/repository-kv-template.ts.ejs
  packages/cli/test/fixtures/repository/index.js
  packages/cli/test/fixtures/repository/repositories/defaultmodel.repository.base.ts
  packages/cli/test/integration/generators/repository.integration.js
Labels: CLI, community contribution, feature

#2361 fix(docs): broken link in Crafting in LB
  docs/site/Crafting-LoopBack-4.md
Labels: Docs

#2373 [greenkeeper] upgrade to p-event@2.3.1
  benchmark/package.json
  examples/rpc-server/package.json
  packages/http-caching-proxy/package.json
  packages/http-server/package.json
Labels: greenkeeper

#2374 refactor(rest): use on-finished module instead of hand-written solution
  packages/rest/package.json
  packages/rest/src/router/static-assets-route.ts
Labels: REST, refactor

#2291 feat(context): introduce context events and observers for bind/unbind
  docs/site/Context.md
  packages/context/package.json
  packages/context/src/__tests__/unit/context-observer.unit.ts
  packages/context/src/__tests__/unit/context.unit.ts
  packages/context/src/context-observer.ts
  packages/context/src/context.ts
  packages/context/src/index.ts
  packages/rest/package.json
  packages/rest/src/request-context.ts
Labels: IoC/Context, feature

#2371 refactor(repository): remove underscore from hasOne protected method
  examples/todo-list/src/repositories/todo-list.repository.ts
  packages/repository/src/__tests__/fixtures/repositories/customer.repository.ts
  packages/repository/src/repositories/legacy-juggler-bridge.ts
Labels: Relations, Repository, community-contribution, refactor

#2387 feat: allow rest-server to be mounted on a path to express
  packages/rest/src/__tests__/integration/express.integration.ts
  packages/rest/src/rest.server.ts
Labels: REST, feature

#2443 fix(example-todo-list): change rootDir in compilerOptions
  examples/todo-list/tsconfig.build.json
Labels: Examples

#2436 fix(docs): grammar fix on todo-tutorial-datasource.md
  docs/site/todo-tutorial-datasource.md
Labels: Docs, community-contribution

#2364 docs: tutorial on how to submit a pull request to lb4
  docs/site/imgs/submit_pr_create_feature_branch_1.png
  docs/site/imgs/submit_pr_create_feature_branch_2.png
  docs/site/imgs/submit_pr_create_pr_1.png
  docs/site/imgs/submit_pr_create_pr_2.png
  docs/site/imgs/submit_pr_create_pr_3.png
  docs/site/imgs/submit_pr_final_commit_ci_jobs_pass_1.png
  docs/site/imgs/submit_pr_fork_main_repo.png
  docs/site/imgs/submit_pr_git_cz_1.png
  docs/site/imgs/submit_pr_my_forked_repo.png
  docs/site/imgs/submit_pr_pr_review_1.png
  docs/site/imgs/submit_pr_rebase_1.png
  docs/site/imgs/submit_pr_rebase_2.png
  docs/site/imgs/submit_pr_rebase_3.png
  docs/site/imgs/submit_pr_squash_commits_1.png
  docs/site/imgs/submit_pr_squash_commits_2.png
  docs/site/imgs/submit_pr_squash_commits_3.png
  docs/site/imgs/submit_pr_squash_commits_4.png
  docs/site/imgs/submit_pr_squash_commits_5.png
  docs/site/imgs/submit_pr_squash_commits_6.png
  docs/site/imgs/submit_pr_squash_commits_7.png
  docs/site/imgs/submit_pr_template_1.png
  docs/site/imgs/submit_pr_travis_ci_build_page_1.png
  docs/site/submitting_a_pr.md
Labels: Contributing, Docs, feature

#2423 feat(rest): allow assigning express settings
  docs/site/Server.md
  packages/rest/src/__tests__/unit/rest.server/rest.server.unit.ts
  packages/rest/src/rest.server.ts
Labels: community-contribution

#2430 fix(cli): fix prompt for base repository class
  packages/cli/generators/repository/index.js
Labels: community-contribution

#2306 feat: add express example
  docs/site/Tutorials.md
  docs/site/express-with-lb4-rest-tutorial.md
  docs/site/sidebars/lb4_sidebar.yml
  examples/express-composition/.npmrc
  examples/express-composition/.prettierignore
  examples/express-composition/.prettierrc
  examples/express-composition/.vscode/settings.json
  examples/express-composition/.vscode/tasks.json
  examples/express-composition/CHANGELOG.md
  examples/express-composition/LICENSE
  examples/express-composition/README.md
  examples/express-composition/data/ds.json
  examples/express-composition/index.js
  examples/express-composition/index.ts
  examples/express-composition/package.json
  examples/express-composition/public/express.html
  examples/express-composition/public/index.html
  examples/express-composition/public/notes.html
  examples/express-composition/src/__tests__/acceptance/express.acceptance.ts
  examples/express-composition/src/__tests__/acceptance/note.acceptance.ts
  examples/express-composition/src/__tests__/acceptance/ping.controller.acceptance.ts
  examples/express-composition/src/__tests__/acceptance/test-helper.ts
  examples/express-composition/src/__tests__/mocha.opts
  examples/express-composition/src/application.ts
  examples/express-composition/src/controllers/index.ts
  examples/express-composition/src/controllers/note.controller.ts
  examples/express-composition/src/controllers/ping.controller.ts
  examples/express-composition/src/datasources/ds.datasource.json
  examples/express-composition/src/datasources/ds.datasource.ts
  examples/express-composition/src/datasources/index.ts
  examples/express-composition/src/index.ts
  examples/express-composition/src/migrate.ts
  examples/express-composition/src/models/index.ts
  examples/express-composition/src/models/note.model.ts
  examples/express-composition/src/repositories/index.ts
  examples/express-composition/src/repositories/note.repository.ts
  examples/express-composition/src/sequence.ts
  examples/express-composition/src/server.ts
  examples/express-composition/tsconfig.build.json
  examples/express-composition/tslint.build.json
  examples/express-composition/tslint.json
  examples/soap-calculator/README.md
  examples/todo-list/README.md
  examples/todo/README.md
  greenkeeper.json
  packages/cli/generators/example/index.js
Labels: Examples, feature

#2508 refactor(rest-explorer): use request.originalUrl when available
  packages/rest-explorer/src/rest-explorer.controller.ts
Labels: API Explorer, refactor

#2510 docs: fix a broken link to model decorators
  docs/site/Decorators_openapi.md
Labels: Docs
