Repository loopbackio/loopback-next, pull requests merged in 2019-07, with the labels that each got.

#3283 feat(testlab): improve typings for `toJSON()` helper
  packages/testlab/src/__tests__/unit/to-json.test.ts
  packages/testlab/src/to-json.ts
Labels: Testlab, feature

#3266 fix(rest): correctly handle basePath set via basePath() API
  packages/rest/src/__tests__/integration/request-context.integration.ts
  packages/rest/src/__tests__/integration/rest.server.integration.ts
  packages/rest/src/request-context.ts
  packages/rest/src/rest.server.ts
Labels: REST, bug

#3315 docs: change loopback4-example-shopping clone link
  docs/site/tutorials/authentication/Authentication-Tutorial.md
Labels: community-contribution

#3318 docs: fix broken links in repository decorators page
  docs/site/decorators/Decorators_repository.md
Labels: Docs, community-contribution

#3152 docs: add Q3 roadmap
  docs/ROADMAP.md
Labels: roadmap

#3376 fix(cli): rearrange interceptor cli prompts
  packages/cli/generators/interceptor/index.js
Labels: CLI

#3371 feat(repository): add static method Entity.getIdProperties()
  packages/repository/src/__tests__/unit/model/model.unit.ts
  packages/repository/src/model.ts
Labels: Repository, feature

#3347 fix(cli): add support for excluding custom pk from POST requests
  docs/site/tutorials/todo-list/todo-list-tutorial-controller.md
  docs/site/tutorials/todo/todo-tutorial-controller.md
  packages/cli/generators/controller/index.js
  packages/cli/generators/controller/templates/src/controllers/controller-rest-template.ts.ejs
  packages/cli/generators/relation/has-many-relation.generator.js
  packages/cli/generators/relation/index.js
  packages/cli/generators/relation/templates/controller-relation-template-has-many.ts.ejs
  packages/cli/test/integration/generators/controller.integration.js
  packages/cli/test/integration/generators/hasmany.relation.integration.js
Labels: CLI, feature

#3385 feat: remove openapi-v3-types package
  CODEOWNERS
  docs/site/MONOREPO.md
  packages/cli/package.json
  packages/openapi-v3-types/.npmrc
  packages/openapi-v3-types/CHANGELOG.md
  packages/openapi-v3-types/LICENSE
  packages/openapi-v3-types/README.md
  packages/openapi-v3-types/index.d.ts
  packages/openapi-v3-types/index.js
  packages/openapi-v3-types/index.ts
  packages/openapi-v3-types/package-lock.json
  packages/openapi-v3-types/package.json
  packages/openapi-v3-types/src/__tests__/unit/openapi-v3-spec-types.unit.ts
  packages/openapi-v3-types/src/__tests__/unit/type-guards.unit.ts
  packages/openapi-v3-types/src/index.ts
  packages/openapi-v3-types/src/openapi-v3-spec-types.ts
  packages/openapi-v3-types/tsconfig.build.json
Labels: OpenAPI, refactor

#3304 Add Short-term solution for hiddenProperties in model
  docs/site/Model.md
  packages/repository/src/__tests__/unit/model/model.unit.ts
  packages/repository/src/model.ts
Labels: Repository, community-contribution, feature, feature parity

#3410 refactor: extract helpers resolving relation metadata into own files
  packages/repository/src/relations/belongs-to/belongs-to-accessor.ts
  packages/repository/src/relations/belongs-to/belongs-to.helpers.ts
  packages/repository/src/relations/has-many/has-many-repository.factory.ts
  packages/repository/src/relations/has-many/has-many.helpers.ts
  packages/repository/src/relations/has-one/has-one-repository.factory.ts
  packages/repository/src/relations/has-one/has-one.helpers.ts
Labels: Relations, Repository, refactor

#3412 refactor: clean up after CrudConnectorFeatures rename
  packages/repository-tests/README.md
  packages/repository-tests/src/crud-test-suite.ts
  packages/repository-tests/src/crud/create-retrieve.suite.ts
  packages/repository-tests/src/crud/freeform-properties.suite.ts
  packages/repository-tests/src/types.repository-tests.ts
  packages/testlab/src/skip.ts
Labels: Repository, refactor

#3418 test(repository): fix setup of relations with custom FK names
  packages/repository/src/__tests__/fixtures/models/order.model.ts
  packages/repository/src/__tests__/fixtures/repositories/order.repository.ts
Labels: Relations, refactor

#3388 feat(context): use invocation context for method dependency injection
  packages/context/src/__tests__/acceptance/interceptor.acceptance.ts
  packages/context/src/__tests__/unit/invocation-context.unit.ts
  packages/context/src/interceptor.ts
  packages/context/src/invocation.ts
Labels: IoC/Context, feature

#3329 feat(context): allow @config.* to specify the target binding key
  docs/site/Context.md
  packages/context/src/__tests__/acceptance/binding-config.acceptance.ts
  packages/context/src/__tests__/acceptance/class-level-bindings.acceptance.ts
  packages/context/src/__tests__/unit/context-config.unit.ts
  packages/context/src/binding-config.ts
  packages/context/src/context.ts
  packages/context/src/inject-config.ts
Labels: IoC/Context, feature

#3354 docs: update model decorator
  docs/site/Model.md
  packages/repository/DEVELOPING.md
Labels: Docs

#3434 [WIP] fix: add class name separation to multiple class names output
  packages/cli/generators/repository/index.js
  packages/cli/lib/artifact-generator.js
Labels: community-contribution

#3470 fix: enforce JsonSchemaOptions type when building model schema
  packages/openapi-v3/src/controller-spec.ts
  packages/repository-json-schema/src/build-schema.ts
Labels: OpenAPI, bug, developer-experience

#3285 feat(boot): use @config to inject options for booters
  packages/boot/src/booters/application-metadata.booter.ts
  packages/boot/src/booters/base-artifact.booter.ts
  packages/boot/src/booters/controller.booter.ts
  packages/boot/src/booters/datasource.booter.ts
  packages/boot/src/booters/interceptor.booter.ts
  packages/boot/src/booters/lifecyle-observer.booter.ts
  packages/boot/src/booters/repository.booter.ts
  packages/boot/src/booters/service.booter.ts
  packages/boot/src/bootstrapper.ts
  packages/boot/src/index.ts
  packages/boot/src/keys.ts
  packages/boot/src/mixins/boot.mixin.ts
  packages/boot/src/types.ts
Labels: Boot, refactor

#3397 feat(repository): add beginTransaction API
  acceptance/repository-mongodb/src/__tests__/mongodb.datasource.ts
  acceptance/repository-mysql/src/__tests__/mysql-default-repository.acceptance.ts
  acceptance/repository-mysql/src/__tests__/mysql.datasource.ts
  docs/site/Transactions.md
  docs/site/sidebars/lb4_sidebar.yml
  packages/repository-tests/src/__tests__/acceptance/default-repository.memory.acceptance.ts
  packages/repository-tests/src/crud-test-suite.ts
  packages/repository-tests/src/crud/transactions.suite.ts
  packages/repository-tests/src/types.repository-tests.ts
  packages/repository/src/__tests__/unit/crud-connector.stub.ts
  packages/repository/src/__tests__/unit/repositories/crud.repository.unit.ts
  packages/repository/src/__tests__/unit/repositories/legacy-juggler-bridge.unit.ts
  packages/repository/src/index.ts
  packages/repository/src/repositories/legacy-juggler-bridge.ts
  packages/repository/src/repositories/repository.ts
  packages/repository/src/transaction.ts
Labels: Repository, feature, feature parity
