Repository loopbackio/loopback-next, pull requests merged in 2020-02, with the labels that each got.

#4559 docs: rework CODEOWNERS into a list of Functional Areas & Owners
  CODEOWNERS
Labels: Docs

#4550 feat: adds @oas.response decorator
  docs/site/decorators/Decorators_openapi.md
  packages/openapi-v3/package-lock.json
  packages/openapi-v3/package.json
  packages/openapi-v3/src/__tests__/unit/decorators/response.decorator.unit.ts
  packages/openapi-v3/src/build-responses-from-metadata.ts
  packages/openapi-v3/src/controller-spec.ts
  packages/openapi-v3/src/decorators/index.ts
  packages/openapi-v3/src/decorators/response.decorator.ts
  packages/openapi-v3/src/keys.ts
  packages/openapi-v3/src/types.ts
Labels: OpenAPI, community-contribution

#4605 feat(cli): improve logging from processing of config & options
  packages/cli/lib/artifact-generator.js
  packages/cli/lib/base-generator.js
Labels: CLI, feature

#4606 fix(cli): ignore stdin when config is provided via CLI args
  packages/cli/lib/base-generator.js
Labels: CLI, bug

#4620 docs: update docs for issue 2208 switching to url-encoded style params
  docs/site/Parsing-requests.md
Labels: Docs, OpenAPI

#4621 docs: update decorator documentation for url-encoded query params
  docs/site/decorators/Decorators_openapi.md
Labels: Docs, OpenAPI

#4641 chore: fix CODEOWNERS syntax
  CODEOWNERS
Labels: Internal Tooling

#4622 chore: use configure/@config for RestExplorer component
  docs/site/tutorials/authentication/Authentication-Tutorial.md
  packages/cli/generators/app/templates/src/application.ts.ejs
  packages/rest-explorer/README.md
  packages/rest-explorer/src/__tests__/acceptance/rest-explorer.express.acceptance.ts
  packages/rest-explorer/src/rest-explorer.controller.ts
  packages/rest-explorer/src/rest-explorer.keys.ts
Labels: API Explorer, feature

#4638 docs: correct controller base path
  docs/site/tutorials/todo-list/todo-list-tutorial-controller.md
Labels: Docs, community-contribution

#4650 chore: more fixes of CODEOWNERS syntax
  CODEOWNERS
Labels: Internal Tooling

#4649 chore(docs): fix feature parity link
  docs/site/index.md
Labels: Docs, community-contribution

#4652 fix(cli): correct root directory in test
  packages/cli/test/integration/generators/app.integration.js
Labels: os:Windows

#4662 fix(example-todo): throw if geocode address is not found
  docs/site/tutorials/todo/todo-tutorial-geocoding-service.md
  examples/todo/src/__tests__/acceptance/todo.acceptance.ts
  examples/todo/src/controllers/todo.controller.ts
Labels: Examples, feature

#4663 chore: add codeowners for tutorials
  CODEOWNERS
Labels: Internal Tooling

#4655 feat(context): improve ctx.inspect() to allow classes with colliding names
  packages/context/src/__tests__/unit/context.unit.ts
  packages/context/src/context.ts
Labels: IoC/Context, developer-experience, feature

#4270 Preserve custom type of auto-generated id property
  packages/repository-tests/src/crud/create-retrieve.suite.ts
  packages/repository-tests/src/crud/nested-model-properties.suite.ts
  packages/repository-tests/src/crud/relations/acceptance/belongs-to.relation.acceptance.ts
  packages/repository-tests/src/crud/relations/acceptance/has-many.relation.acceptance.ts
  packages/repository-tests/src/crud/relations/acceptance/multi-relations-inclusion-resolver.relation.acceptance.ts
  packages/repository-tests/src/crud/relations/fixtures/models/address.model.ts
  packages/repository-tests/src/crud/relations/fixtures/models/customer.model.ts
  packages/repository-tests/src/crud/relations/fixtures/models/order.model.ts
  packages/repository-tests/src/crud/relations/fixtures/models/shipment.model.ts
  packages/repository-tests/src/crud/replace-by-id.suite.ts
  packages/repository/src/__tests__/unit/decorator/model-and-relation.decorator.unit.ts
  packages/repository/src/model.ts
Labels: Repository, community-contribution

#4671 chore: update minimum node.js version
  docs/site/DEVELOPING.md
Labels: Docs, community-contribution

#4670 chore: update pre-discover warning
  docs/site/Discovering-models.md
Labels: Docs, community-contribution

#4660 feat: .vscode add no spaces in braces + single quotes typescript rules
  .vscode/settings.json
  packages/cli/generators/project/templates/.vscode/settings.json
Labels: Internal Tooling, community-contribution

#4678 fix(docs): update connector reference to lb4 link
  docs/site/Calling-other-APIs-and-Web-Services.md
  docs/site/tutorials/todo/todo-tutorial-geocoding-service.md
Labels: Docs

#4684 feat(eslint-config): disallow non-null assertions after optional chain
  packages/eslint-config/eslintrc.js
Labels: Internal Tooling, breaking-change, community-contribution

#4685 chore(docs): clarify on usage of packages via monorepo
  docs/site/DEVELOPING.md
  sandbox/README.md
Labels: Docs, community-contribution

#4589 feat(rest-crud): add CrudRestApiBuilder
  packages/boot/package.json
  packages/boot/src/__tests__/acceptance/crud-rest.api-builder.acceptance.ts
  packages/boot/src/__tests__/fixtures/no-entity.model.ts
  packages/boot/src/__tests__/fixtures/product.repository.ts
  packages/rest-crud/README.md
  packages/rest-crud/package-lock.json
  packages/rest-crud/package.json
  packages/rest-crud/src/crud-rest.api-builder.ts
  packages/rest-crud/src/crud-rest.component.ts
  packages/rest-crud/src/index.ts
Labels: feature

#4695 chore(build): remove references to 'lb-tslint'
  packages/build/README.md
Labels: Docs, community-contribution

#4696 chore(build): add docs for code coverage
  docs/site/Testing-your-application.md
  packages/build/README.md
Labels: Docs, community-contribution

#4699 feat(testlab): remove legacy API `itSkippedOnTravis`
  packages/testlab/src/skip.ts
Labels: Testlab, breaking-change, tech-debt

#4700 feat(repository): remove generic parameters from `Inclusion` type
  packages/repository/src/query.ts
  packages/repository/src/relations/has-many/has-many.inclusion-resolver.ts
  packages/repository/src/relations/has-one/has-one.inclusion-resolver.ts
  packages/repository/src/relations/relation.helpers.ts
  packages/repository/src/relations/relation.types.ts
  packages/repository/src/repositories/legacy-juggler-bridge.ts
Labels: Repository, breaking-change, tech-debt

#4704 feat(context): remove generic parameters from `BindingFilter` type
  packages/context/src/binding-filter.ts
Labels: IoC/Context, breaking-change, tech-debt

#4709 feat(context): allow tags to be matched by a given name with any value
  packages/context/src/__tests__/unit/binding-filter.unit.ts
  packages/context/src/binding-filter.ts
Labels: IoC/Context, feature

#4715 fix(docs): enhanced readability of error message in controllers
  docs/site/Controllers.md
Labels: Docs, community-contribution

#4707 Remove dist files from top-level tsconfig to speed up eslint checks 🏎🚀
  tsconfig.json
Labels: Internal Tooling, Performance

#4703 feat(repository-json-schema): remove deprecated `MODEL_TYPE_KEYS`
  packages/repository-json-schema/src/__tests__/integration/build-schema.integration.ts
  packages/repository-json-schema/src/build-schema.ts
  packages/repository-json-schema/src/keys.ts
Labels: Repository, Schema, breaking-change, tech-debt

#4727 chore: update node_modules exclude in root tsconfig
  tsconfig.json
Labels: Internal Tooling, community-contribution

#4728 fix(cli): update tsconfig template excludes
  packages/cli/generators/project/templates/tsconfig.json.ejs
Labels: Internal Tooling, community-contribution

#4716 chore: add security policy
  README.md
  SECURITY.md
Labels: Docs, community-contribution

#4702 feat(repository): make `targetsMany` property required
  packages/repository/src/__tests__/integration/repositories/relation.factory.integration.ts
  packages/repository/src/__tests__/unit/errors/invalid-relation-error.test.ts
  packages/repository/src/relations/relation.types.ts
Labels: Repository, breaking-change, tech-debt

#4692 chore: add twitter badge to readme
  README.md
Labels: Docs

#4681 Update Authentication-Tutorial.md with JWT specific info
  docs/site/tutorials/authentication/Authentication-Tutorial.md
Labels: Authentication, Docs, community-contribution

#4718 fix(docs): corrected AuthorizationOptions example line endings
  packages/authorization/README.md
Labels: community-contribution
