Repository loopbackio/loopback-next, pull requests merged in 2020-06, with the labels that each got.

#5585 set default HTTP status code for authorization error to 403
  examples/access-control-migration/src/__tests__/acceptance/project.acceptance.ts
  packages/authorization/src/__tests__/acceptance/authorization.acceptance.ts
  packages/authorization/src/__tests__/acceptance/authorization.options.acceptance.ts
  packages/authorization/src/authorize-interceptor.ts
  packages/authorization/src/types.ts
Labels: community-contribution

#5593 feat(context): add `tryCatchFinally` helper function for value or promise
  packages/context/src/__tests__/unit/try-catch-finally.unit.ts
  packages/context/src/__tests__/unit/value-promise.unit.ts
  packages/context/src/value-promise.ts
Labels: IoC/Context

#5605 feat(repository): add more helpers for HasManyThrough
  packages/repository/src/__tests__/unit/repositories/constraint-utils.unit.ts
  packages/repository/src/__tests__/unit/repositories/relations-helpers/resolve-has-many-through-metadata.unit.ts
  packages/repository/src/relations/has-many/has-many-through.helpers.ts
  packages/repository/src/repositories/constraint-utils.ts
Labels: Relations

#5637 docs: adding MongoDB connector tutorial
  docs/site/decorators/Decorators_openapi.md
  docs/site/tutorials/connectors/Mongodb-tutorial.md
  docs/site/tutorials/connectors/Postgresql-tutorial.md
Labels: Docs

#5652 fix(example-todo): add imports
  docs/site/tutorials/todo/todo-tutorial-geocoding-service.md
Labels: Docs

#5606 feat(repository): add repo factory and tests for hasManyThrough
  packages/repository/src/__tests__/unit/repositories/has-many-through-repository-factory.unit.ts
  packages/repository/src/relations/has-many/has-many-through-repository.factory.ts
  packages/repository/src/relations/has-many/has-many-through.repository.ts
  packages/repository/src/relations/has-many/index.ts
Labels: Relations

#5630 docs: dynamic datasource, model, repository, and controller
  docs/site/Controllers.md
  docs/site/DataSources.md
  docs/site/Model.md
  docs/site/Repositories.md
Labels: Docs

#5663 fix(express): ensure options are honored for `invokeMiddleware` resolved from the provider
  packages/express/src/__tests__/acceptance/invoke-middleware.acceptance.ts
  packages/express/src/providers/invoke-middleware.provider.ts
Labels: Middleware, bug

#5672 docs: add a link to epic tracking tooling improvements
  docs/ROADMAP.md
Labels: Docs

#5659 docs: add a new section on content organization
  docs/site/DEVELOPING.md
Labels: Docs

#5698 refactor: use `@loopback/core` instead of `@loopback/context`
  docs/site/Extending-LoopBack-4.md
  docs/site/Repositories.md
  docs/site/Sequence.md
  docs/site/Update-generator.md
  docs/site/tutorials/core/3-context-in-action.md
  examples/greeter-extension/README.md
  extensions/authentication-passport/README.md
  extensions/cron/README.md
  extensions/logging/README.md
  packages/authorization/README.md
  packages/eslint-config/eslintrc.js
Labels: Docs, developer-experience

#5683 auth doc refactor - customizing strategy
  docs/site/Authentication-overview.md
  docs/site/Create-custom-authentication-strategy.md
  extensions/authentication-jwt/README.md
Labels: Authentication, Docs

#5668 feat(context): add strongly typed `on` and `once` methods
  packages/context/src/__tests__/unit/binding.unit.ts
  packages/context/src/__tests__/unit/context-view.unit.ts
  packages/context/src/binding.ts
  packages/context/src/context-view.ts
  packages/context/src/context.ts
Labels: IoC/Context, feature

#5642 chore: add generating docs/site/MONOREPO.md file
  acceptance/extension-logging-fluentd/package.json
  acceptance/repository-cloudant/package.json
  acceptance/repository-mongodb/package.json
  acceptance/repository-mysql/package.json
  acceptance/repository-postgresql/package.json
  bin/update-monorepo-file.js
  docs/package.json
  docs/site/DEVELOPING.md
  docs/site/MONOREPO.md
  examples/context/package.json
  examples/greeter-extension/package.json
  examples/log-extension/package.json
  examples/metrics-prometheus/package.json
  examples/multi-tenancy/package.json
  examples/passport-login/package.json
  examples/rest-crud/package.json
  examples/rpc-server/package.json
  examples/soap-calculator/package.json
  examples/todo-jwt/package.json
  examples/todo/package.json
  examples/validation-app/package.json
  extensions/context-explorer/package.json
  extensions/cron/package.json
  extensions/health/package.json
  extensions/logging/package.json
  extensions/metrics/package.json
  fixtures/mock-oauth2-provider/package.json
  package-lock.json
  package.json
  packages/booter-lb3app/package.json
  packages/build/package.json
  packages/context/package.json
  packages/core/package.json
  packages/eslint-config/package.json
  packages/express/package.json
  packages/metadata/package.json
  packages/openapi-v3/package.json
  packages/repository-tests/package.json
  packages/repository/package.json
  packages/rest/package.json
  packages/service-proxy/package.json
  packages/tsdocs/package.json
Labels: community-contribution

#5586 feat(context): improve binding resolution error reporting with more contextual info
  packages/context/src/__tests__/acceptance/class-level-bindings.acceptance.ts
  packages/context/src/__tests__/acceptance/method-level-bindings.acceptance.ts
  packages/context/src/__tests__/unit/resolution-session.unit.ts
  packages/context/src/__tests__/unit/resolver.unit.ts
  packages/context/src/binding.ts
  packages/context/src/context.ts
  packages/context/src/inject.ts
  packages/context/src/resolution-session.ts
  packages/context/src/resolver.ts
  packages/metadata/src/decorator-factory.ts
Labels: IoC/Context, developer-experience

#5629 feat(docs): improve clarity of Mixins docs
  docs/site/Mixin.md
Labels: Docs, community-contribution

#5732 fix(docs): fix missing % in mixin.md
  docs/site/Mixin.md
Labels: Docs

#5718 [docs] Adopt four-quadrant documentation system
  docs/README.md
  docs/site/Behind-the-scene.md
  docs/site/Components.md
  docs/site/Concepts.md
  docs/site/Reference.md
  docs/site/Using-components.md
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs, developer-experience

#5673 chore: prevent prettier from overwriting line endings on Windows
  .gitattributes
Labels: Internal Tooling, community-contribution

#5731 fix(context): cache binding value or promise as-is to avoid racing condition
  packages/context/src/__tests__/unit/resolver.unit.ts
  packages/context/src/binding.ts
Labels: IoC/Context

#5734 fix(docs): fix broken links
  docs/site/Dynamic-models-repositories-controllers.md
  docs/site/migration/auth/authentication.md
  docs/site/sidebars/lb4_sidebar.yml
  docs/site/tutorials/authentication/Authentication-Tutorial.md
  extensions/authentication-passport/README.md
  packages/authentication/README.md
Labels: Docs

#5714 chore(tsdocs): move fixture build out of main build task
  packages/tsdocs/package.json
Labels: Internal Tooling, developer-experience

#5767 build(tsdocs): rebuild fixtures after npm install
  packages/tsdocs/package.json
Labels: Internal Tooling

#5773 docs: remove dummy section pages
  docs/site/Access-databases.md
  docs/site/Reference.md
  docs/site/Usage-scenarios.md
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs

#5799 docs: rename "Usage Scenarios" to "How-to guides"
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs, developer-experience

#5779 docs: move "db transactions" to "how-to guides" in sidebar
  docs/site/guides/data-access/transactions.md
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs

#5784 docs: move "Error handling" to "Error codes" in "Reference guides"
  docs/site/reference/error-codes.md
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs

#5775 docs: move "Reserved binding keys" to "Reference guides"
  docs/site/reference/reserved-binding-keys.md
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs

#5807 feat: update sequence to invoke middleware
  examples/access-control-migration/src/sequence.ts
  examples/express-composition/src/sequence.ts
  examples/file-transfer/src/sequence.ts
  examples/lb3-application/src/sequence.ts
  examples/multi-tenancy/src/sequence.ts
  examples/passport-login/src/sequence.ts
  examples/rest-crud/src/sequence.ts
  examples/soap-calculator/src/sequence.ts
  examples/todo-jwt/src/sequence.ts
  examples/todo-list/src/sequence.ts
  examples/todo/src/sequence.ts
  examples/validation-app/src/sequence.ts
Labels: Examples

#5834 docs: Incorrect link to using components from creating components
  docs/site/Creating-components.md
Labels: Docs, community-contribution

#5765 test(repository-tests): adding acceptance tests for hasManyThrough relation
  packages/repository-tests/src/crud/relations/acceptance/has-many-through.relation.acceptance.ts
  packages/repository-tests/src/crud/relations/fixtures/models/cart-item.model.ts
  packages/repository-tests/src/crud/relations/fixtures/models/customer-cart-item-link.model.ts
  packages/repository-tests/src/crud/relations/fixtures/models/customer.model.ts
  packages/repository-tests/src/crud/relations/fixtures/models/index.ts
  packages/repository-tests/src/crud/relations/fixtures/repositories/cart-item.repository.ts
  packages/repository-tests/src/crud/relations/fixtures/repositories/customer-cart-item-link.repository.ts
  packages/repository-tests/src/crud/relations/fixtures/repositories/customer.repository.ts
  packages/repository-tests/src/crud/relations/fixtures/repositories/index.ts
  packages/repository-tests/src/crud/relations/fixtures/repositories/order.repository.ts
  packages/repository-tests/src/crud/relations/helpers.ts
  packages/repository/src/relations/has-many/has-many-through.helpers.ts
Labels: Relations
