Repository loopbackio/loopback-next, pull requests merged in 2020-04, with the labels that each got.

#4968 fix(repository-json-schema): honor options for referenced types
  packages/repository-json-schema/src/__tests__/integration/build-schema.integration.ts
  packages/repository-json-schema/src/build-schema.ts
Labels: Schema

#5014 refactor: use sandbox.path instead of SANDBOX to access the sandbox directory
  examples/file-transfer/README.md
  examples/file-transfer/src/__tests__/acceptance/file-upload.acceptance.ts
  examples/file-transfer/src/__tests__/acceptance/test-helper.ts
  examples/file-transfer/src/application.ts
  examples/file-transfer/src/controllers/index.ts
  packages/boot/src/__tests__/acceptance/application-metadata.booter.acceptance.ts
  packages/boot/src/__tests__/acceptance/controller.booter.acceptance.ts
  packages/boot/src/__tests__/acceptance/crud-rest.api-builder.acceptance.ts
  packages/boot/src/__tests__/acceptance/model-api.booter.acceptance.ts
  packages/boot/src/__tests__/integration/controller.booter.integration.ts
  packages/boot/src/__tests__/integration/datasource.booter.integration.ts
  packages/boot/src/__tests__/integration/interceptor.booter.integration.ts
  packages/boot/src/__tests__/integration/lifecycle-observer.booter.integration.ts
  packages/boot/src/__tests__/integration/repository.booter.integration.ts
  packages/boot/src/__tests__/integration/service.booter.integration.ts
  packages/boot/src/__tests__/unit/booters/booter-utils.unit.ts
  packages/boot/src/__tests__/unit/booters/controller.booter.unit.ts
  packages/boot/src/__tests__/unit/booters/datasource.booter.unit.ts
  packages/boot/src/__tests__/unit/booters/repository.booter.unit.ts
  packages/boot/src/__tests__/unit/booters/service.booter.unit.ts
  packages/cli/test/integration/generators/clone-example.integration.js
  packages/cli/test/integration/generators/controller.integration.js
  packages/cli/test/integration/generators/copyright-monorepo.integration.js
  packages/cli/test/integration/generators/copyright.integration.js
  packages/cli/test/integration/generators/datasource.integration.js
  packages/cli/test/integration/generators/discover.integration.js
  packages/cli/test/integration/generators/import-lb3-models.integration.js
  packages/cli/test/integration/generators/interceptor.integration.js
  packages/cli/test/integration/generators/local-service.integration.js
  packages/cli/test/integration/generators/model.integration.js
  packages/cli/test/integration/generators/observer.integration.js
  packages/cli/test/integration/generators/openapi-petstore.integration.js
  packages/cli/test/integration/generators/openapi-uspto-with-anonymous.integration.js
  packages/cli/test/integration/generators/openapi-uspto.integration.js
  packages/cli/test/integration/generators/relation.belongs-to.integration.js
  packages/cli/test/integration/generators/relation.has-many.integration.js
  packages/cli/test/integration/generators/relation.has-one.integration.js
  packages/cli/test/integration/generators/relation.integration.js
  packages/cli/test/integration/generators/remote-service.integration.js
  packages/cli/test/integration/generators/repository.integration.js
  packages/cli/test/integration/generators/rest-crud.integration.js
  packages/cli/test/integration/generators/swagger-petstore.integration.js
  packages/cli/test/unit/update-index.unit.js
Labels: Testlab, refactor

#5034 fix(docs): update sidebar for OpenAPI connector
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs

#4969 feat(example-validation-app): customize error
  docs/site/Validation-REST-layer.md
  examples/validation-app/package-lock.json
  examples/validation-app/package.json
  examples/validation-app/src/__tests__/acceptance/validate.acceptance.ts
  examples/validation-app/src/application.ts
  examples/validation-app/src/interceptors/validate-phone-num.interceptor.ts
  examples/validation-app/src/sequence.ts
Labels: Examples, Validation

#5021 fix(context): fix context subscription manager to not emit errors to its context if there is an error listener is in place
  packages/context/src/__tests__/unit/context-observer.unit.ts
  packages/context/src/context-subscription.ts
Labels: IoC/Context

#5044 docs: side bar link to LB4 req-res doc
  docs/site/Request-response-cycle.md
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs

#5054 chore: replaces community chat
  README.md
Labels: Docs, community-contribution, user adoption

#5053 build: improve errors printed by Prettier
  package.json
Labels: Internal Tooling, developer-experience

#5057 [REST] Use the description field in Openapi
  packages/rest/src/__tests__/unit/rest.server/rest.server.open-api-spec.unit.ts
  packages/rest/src/spec-enhancers/info.spec-enhancer.ts
Labels: OpenAPI, community-contribution

#5060 fix(cli): allow `-h` for help
  packages/cli/bin/cli-main.js
Labels: CLI

#5066 chore(docs): add Mixins to sidebar
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs, community-contribution

#5051 [CLI] implement dark mode in the app template
  packages/cli/generators/app/templates/public/index.html.ejs
Labels: community-contribution

#5035 fix(docs): add OpenAPI DataSource instructions
  docs/site/Calling-other-APIs-and-Web-Services.md
Labels: Docs

#5084 fix(authentication-passport): fix typing issues for oAuth2 mock app
  extensions/authentication-passport/package-lock.json
  extensions/authentication-passport/package.json
  extensions/authentication-passport/src/__tests__/acceptance/fixtures/mock-oauth2-social-app.ts
Labels: Authentication, bug

#5086 fix(cli): remove unused imports from the crud controller template
  docs/site/Controller-generator.md
  packages/cli/generators/controller/templates/src/controllers/controller-rest-template.ts.ejs
  packages/cli/snapshots/integration/generators/controller.integration.snapshots.js
Labels: CLI

#5116 fix(cli): exclude `**/node_modules/**/*` from copyright header searching
  packages/cli/generators/copyright/index.js
  packages/cli/test/fixtures/copyright/single-package/index.js
  packages/cli/test/integration/generators/copyright.integration.js
Labels: CLI

#5124 chore: removes gitter, adds slack
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Migration_docs.md
  .github/ISSUE_TEMPLATE/Question.md
  examples/access-control-migration/README.md
  examples/lb3-application/README.md
  examples/todo/README.md
Labels: Docs, community-contribution

#5127 feat(cli): add `--apiconnect` option to enable ApiConnectComponent
  extensions/apiconnect/src/__tests__/acceptance/apiconnect.acceptance.ts
  packages/cli/generators/app/index.js
  packages/cli/generators/app/templates/src/application.ts.ejs
  packages/cli/generators/project/templates/package.json.ejs
  packages/cli/generators/project/templates/package.plain.json.ejs
  packages/cli/lib/project-generator.js
  packages/cli/test/integration/generators/app.integration.js
Labels: CLI

#4974 Differences between LB3 and LB4 req-res cycle
  docs/site/LB3-vs-LB4-request-response-cycle.md
  docs/site/imgs/lb3-req-res.png
  docs/site/imgs/lb4-req-res.png
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs, Migration

#4984 feat: add a script to scaffold and bootstrap a new package
  bin/create-package.js
  docs/site/DEVELOPING.md
Labels: Internal Tooling, developer-experience

#5151 fix(docs): fix broken links and formatting
  docs/site/Calling-other-APIs-and-Web-Services.md
  docs/site/Querying-data.md
  docs/site/sidebars/lb4_sidebar.yml
  docs/site/tutorials/authentication/Authentication-Tutorial.md
  docs/site/tutorials/soap-calculator/soap-calculator-tutorial-scaffolding.md
  docs/site/tutorials/todo-list/todo-list-tutorial-relations.md
  docs/site/tutorials/todo-list/todo-list-tutorial-sqldb.md
Labels: Docs

#4365 feat(rest): add openapi schema consolidation
  packages/openapi-v3/package-lock.json
  packages/openapi-v3/package.json
  packages/openapi-v3/src/enhancers/spec-enhancer.service.ts
  packages/rest/package-lock.json
  packages/rest/package.json
  packages/rest/src/__tests__/integration/rest.server.integration.ts
  packages/rest/src/__tests__/unit/rest.server/consolidate.spec.extension.unit.ts
  packages/rest/src/__tests__/unit/rest.server/rest.server.open-api-spec.unit.ts
  packages/rest/src/rest.component.ts
  packages/rest/src/rest.server.ts
  packages/rest/src/spec-enhancers/consolidate.spec-enhancer.ts
Labels: OpenAPI, community-contribution, feature

#5046 feat: add jwt auth extension
  extensions/authentication-jwt/.npmrc
  extensions/authentication-jwt/LICENSE
  extensions/authentication-jwt/README.md
  extensions/authentication-jwt/index.d.ts
  extensions/authentication-jwt/index.js
  extensions/authentication-jwt/index.ts
  extensions/authentication-jwt/package-lock.json
  extensions/authentication-jwt/package.json
  extensions/authentication-jwt/src/__tests__/acceptance/jwt.component.test.ts
  extensions/authentication-jwt/src/__tests__/fixtures/application.ts
  extensions/authentication-jwt/src/__tests__/fixtures/controllers/user.controller.ts
  extensions/authentication-jwt/src/__tests__/fixtures/datasources/db.datasource.config.json
  extensions/authentication-jwt/src/__tests__/fixtures/datasources/db.datasource.ts
  extensions/authentication-jwt/src/__tests__/fixtures/sequence.ts
  extensions/authentication-jwt/src/__tests__/unit/jwt.service.ts
  extensions/authentication-jwt/src/index.ts
  extensions/authentication-jwt/src/jwt-authentication-component.ts
  extensions/authentication-jwt/src/keys.ts
  extensions/authentication-jwt/src/models/index.ts
  extensions/authentication-jwt/src/models/user-credentials.model.ts
  extensions/authentication-jwt/src/models/user.model.ts
  extensions/authentication-jwt/src/repositories/index.ts
  extensions/authentication-jwt/src/repositories/user-credentials.repository.ts
  extensions/authentication-jwt/src/repositories/user.repository.ts
  extensions/authentication-jwt/src/services/index.ts
  extensions/authentication-jwt/src/services/jwt.auth.strategy.ts
  extensions/authentication-jwt/src/services/jwt.service.ts
  extensions/authentication-jwt/src/services/security.spec.ts
  extensions/authentication-jwt/src/services/user.service.ts
  extensions/authentication-jwt/tsconfig.build.json
Labels: Authentication, Extensions

#5169 fix(docs): fix broken links
  docs/site/Repositories.md
  docs/site/decorators/Decorators_inject.md
  docs/site/decorators/Decorators_openapi.md
  docs/site/decorators/Decorators_repository.md
Labels: Docs

#5188 docs: update decorator links
  docs/site/decorators/Decorators_openapi.md
Labels: Docs

#5163 fix: globalize messages from artifact generator
  packages/cli/generators/controller/index.js
  packages/cli/generators/datasource/index.js
  packages/cli/generators/discover/index.js
  packages/cli/generators/example/index.js
  packages/cli/generators/openapi/index.js
  packages/cli/generators/relation/index.js
  packages/cli/intl/en/messages.json
  packages/cli/lib/artifact-generator.js
  packages/cli/lib/version-helper.js
Labels: CLI

#5198 fix: fixes help menu undefined options
  packages/cli/lib/base-generator.js
Labels: CLI

#5206 feat(build): enable all ES2020 features in TypeScript `lib` config
  packages/build/config/tsconfig.common.json
Labels: tech-debt

#5205 feat(build): change the default compilation target to ES2018 (Node.js 10.x)
  packages/build/config/tsconfig.common.json
Labels: tech-debt

#5204 fix(cli): remove project references from examples
  packages/cli/generators/example/index.js
  packages/cli/test/integration/generators/example.integration.js
Labels: bug, major

#5199 fix(docs): remove remote connector
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs

#5211 feat: improve update-ts-project-refs.js to skip updating identical files
  bin/update-ts-project-refs.js
Labels: Internal Tooling

#5223 feat(cli): add translation for 10 languages
  packages/cli/intl/cs/messages.json
  packages/cli/intl/de/messages.json
  packages/cli/intl/es/messages.json
  packages/cli/intl/it/messages.json
  packages/cli/intl/ja/messages.json
  packages/cli/intl/ko/messages.json
  packages/cli/intl/nl/messages.json
  packages/cli/intl/ru/messages.json
  packages/cli/intl/zh-Hans/messages.json
  packages/cli/intl/zh-Hant/messages.json
Labels: CLI, GVT

#5228 chore: add CODEOWNERS entry for `/bin`
  CODEOWNERS
Labels: Internal Tooling

#5144 docs: differences between lb3 and lb4 cli
  docs/site/migration/cli.md
  docs/site/migration/tables/lb3-lb4-command-mappings.html
  docs/site/migration/tables/lb3-only-commands.html
  docs/site/migration/tables/lb4-only-commands.html
Labels: Migration

#5202 feat(cli): convert OpenAPI schema to JSON schema for model/property
  packages/cli/generators/openapi/schema-helper.js
  packages/cli/generators/openapi/utils.js
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/snapshots/integration/generators/openapi-client.integration.snapshots.js
  packages/cli/snapshots/integration/generators/openapi-petstore.integration.snapshots.js
  packages/cli/snapshots/integration/generators/swagger-petstore.integration.snapshots.js
  packages/cli/snapshots/unit/openapi/controller-spec.unit.snapshots.js
  packages/cli/snapshots/unit/openapi/schema-model.unit.snapshots.js
  packages/cli/test/unit/openapi/controller-spec.unit.js
  packages/cli/test/unit/openapi/schema-model.unit.js
Labels: CLI, feature

#5122 docs: overview of LB3 components and techniques they use
  docs/spikes/2020-04-how-to-migrate-lb3-components.md
  docs/spikes/README.md
Labels: Docs, Migration, spike

#5232 feat(context): add `BindingKey.generate()` to generate unique binding keys
  packages/context/src/__tests__/unit/binding-key.unit.ts
  packages/context/src/binding-key.ts
Labels: IoC/Context, feature

#5254 fix(cli): mitigate json schema to be draft 7 compatible
  packages/cli/generators/openapi/schema-helper.js
  packages/cli/generators/openapi/utils.js
  packages/cli/test/unit/openapi/openapi-utils.unit.js
Labels: CLI, OpenAPI

#5248 feat: populate x-typescript-type for openapi schema
  packages/openapi-v3/src/__tests__/unit/decorators/query.decorator.unit.ts
  packages/openapi-v3/src/__tests__/unit/filter-schema.unit.ts
  packages/openapi-v3/src/filter-schema.ts
  packages/openapi-v3/src/json-to-schema.ts
  packages/repository-json-schema/src/__tests__/integration/build-schema.integration.ts
  packages/repository-json-schema/src/__tests__/unit/build-schema.unit.ts
  packages/repository-json-schema/src/build-schema.ts
  packages/repository-json-schema/src/index.ts
  packages/repository/src/common-types.ts
Labels: OpenAPI, Repository

#5265 feat(build): don't reject console logs when tests failed
  packages/build/src/fail-on-console-logs.js
Labels: developer-experience

#5279 feat: remove hand-written datasource `stop()` method
  docs/site/OpenAPI-generator.md
  examples/multi-tenancy/src/datasources/db.datasource.ts
  examples/multi-tenancy/src/datasources/db1.datasource.ts
  examples/multi-tenancy/src/datasources/db2.datasource.ts
  examples/validation-app/src/datasources/ds.datasource.ts
  packages/cli/generators/datasource/templates/datasource.ts.ejs
  packages/cli/snapshots/integration/generators/datasource.integration.snapshots.js
  packages/cli/snapshots/integration/generators/openapi-client.integration.snapshots.js
  packages/cli/test/fixtures/openapi/3.0/src/datasources/pet-store.datasource.ts
Labels: CLI, Examples, feature
