Repository loopbackio/loopback-next, pull requests merged in 2020-01, with the labels that each got.

#4318 Update 6-interception.md
  docs/site/tutorials/core/6-interception.md
Labels: Docs, community-contribution

#4362 docs: boot script migration
  docs/site/migration/boot-scripts.md
Labels: Docs, Migration

#4410 docs(extension-health): add function call-order note
  extensions/health/README.md
Labels: Extensions, developer-experience

#4423 fix(docs): apidocs link in /README.md
  README.md
Labels: Docs, community-contribution

#4420 docs(docs): remove dev preview disclaimer
  docs/site/deployment/Deploy-for-GDPR-readiness.md
Labels: Docs, community-contribution

#4428 docs(tsdocs): fixed package docs typos
  packages/tsdocs/src/index.ts
Labels: community-contribution

#4408 docs: add instruction to remove api explorer
  docs/site/Server.md
  packages/rest-explorer/README.md
Labels: Docs, developer-experience

#4396 feat(openapi-v3): add support for `anyOf` and `oneOf` on the `jsonToSchemaObject` utility
  packages/openapi-v3/src/__tests__/unit/json-to-schema.unit.ts
  packages/openapi-v3/src/json-to-schema.ts
Labels: community-contribution

#4312 feat(repository): add interface for hasManyThrough repository
  packages/repository/src/relations/has-many/has-many-through.repository.ts
Labels: Relations, Repository, community-contribution

#4454 chore: update community maintainers on MAINTAINERS.md
  MAINTAINERS.md
Labels: community-contribution

#4426 feat(docs): migration guide for remoting hooks
  docs/site/migration/models/remoting-hooks.md
Labels: Docs, Migration

#4464 docs: update default external explorer URL
  docs/site/Server.md
Labels: Docs, community-contribution

#4465 docs: remove @loopback/passport-authentication experimental warning
  docs/site/Understanding-the-differences.md
Labels: Docs, community-contribution

#4466 docs: add lb3 parity warnings
  docs/site/Understanding-the-differences.md
  docs/site/index.md
Labels: Docs, community-contribution, developer-experience

#4442 fix(docs): add 2020 goals to roadmap
  docs/ROADMAP.md
Labels: Docs, roadmap

#4443 docs: specify strict:false is only supported by NoSQL DBs
  docs/site/Model.md
Labels: Docs

#4469 fix(cli): openAPI generator should update index files. Add relation interfaces to model template.
  packages/cli/generators/openapi/index.js
  packages/cli/generators/openapi/templates/src/models/model-template.ts.ejs
  packages/cli/snapshots/integration/generators/openapi-petstore.integration.snapshots.js
  packages/cli/snapshots/integration/generators/openapi-uspto-with-anonymous.integration.snapshots.js
  packages/cli/snapshots/integration/generators/openapi-uspto.integration.snapshots.js
  packages/cli/test/integration/generators/openapi-petstore.integration.js
  packages/cli/test/integration/generators/openapi-uspto-with-anonymous.integration.js
  packages/cli/test/integration/generators/openapi-uspto.integration.js
Labels: CLI

#4355 Add title to filter schemas
  packages/openapi-v3/src/__tests__/unit/filter-schema.unit.ts
  packages/repository-json-schema/src/__tests__/unit/filter-json-schema.unit.ts
  packages/repository-json-schema/src/filter-json-schema.ts
Labels: Schema, community-contribution, developer-experience, feature

#4448 improvement(docs): add limitations of inclusionResolver
  docs/site/BelongsTo-relation.md
  docs/site/HasMany-relation.md
  docs/site/Relations.md
  docs/site/hasOne-relation.md
Labels: Docs, community-contribution

#4506 feat(openapi-spec-builder): add components schema
  packages/openapi-spec-builder/src/__tests__/unit/openapi-spec-builder.unit.ts
  packages/openapi-spec-builder/src/openapi-spec-builder.ts
Labels: OpenAPI, community-contribution

#4479 feat/complex-x-ts-types - Adds supports for using x-ts-type in `anyOf`, `allOf`, `oneOf`, and `not` keywords
  packages/openapi-v3/src/__tests__/unit/x-ts-type.unit.ts
  packages/openapi-v3/src/controller-spec.ts
Labels: OpenAPI, community-contribution

#4514 refactor(repository): alter CountSchema title case
  packages/repository/src/common-types.ts
Labels: Repository, community-contribution

#4513 feat(repository-json-schema): add filter title
  packages/repository-json-schema/src/__tests__/unit/filter-json-schema.unit.ts
  packages/repository-json-schema/src/filter-json-schema.ts
Labels: Schema, community-contribution

#4535 fix(authorization): make sure an authorizer is only invoked once per request
  packages/authorization/src/__tests__/acceptance/authorization.acceptance.ts
  packages/authorization/src/authorize-interceptor.ts
Labels: Authorization

#4537 docs: is active method in transaction
  docs/site/Transactions.md
Labels: Docs

#4499 fix(docs): correct errors in sample code
  docs/site/Loopback-component-authorization.md
Labels: Docs, community-contribution

#4416 feat: adds @tags convenience decorator
  docs/site/decorators/Decorators_openapi.md
  packages/openapi-v3/src/__tests__/unit/decorators/tags.decorator.unit.ts
  packages/openapi-v3/src/controller-spec.ts
  packages/openapi-v3/src/decorators/index.ts
  packages/openapi-v3/src/decorators/tags.decorator.ts
  packages/openapi-v3/src/keys.ts
  packages/openapi-v3/src/types.ts
Labels: OpenAPI, community-contribution

#4415 feat: adds @deprecated convenience decorator
  docs/site/decorators/Decorators_openapi.md
  packages/openapi-v3/src/__tests__/unit/decorators/deprecated.decorator.unit.ts
  packages/openapi-v3/src/controller-spec.ts
  packages/openapi-v3/src/decorators/deprecated.decorator.ts
  packages/openapi-v3/src/decorators/index.ts
  packages/openapi-v3/src/keys.ts
Labels: OpenAPI, community-contribution
