Repository loopbackio/loopback-next, pull requests merged in 2020-12, with the labels that each got.

#6877 Update links surrounding the authorization component documentation
  docs/site/Authorization-component-decision-matrix.md
  docs/site/Authorization-component-interceptor.md
  docs/site/Authorization-component.md
  docs/site/Authorization-overview.md
Labels: Authorization, Docs, community-contribution

#6897 build: use `npm@6` when testing Node.js v15
  .travis.yml
Labels: Internal Tooling

#6875 docs: add note about current GeoPoint type support
  docs/site/LoopBack-types.md
Labels: Docs, community-contribution

#6849 docs: tip to intercept all queries
  docs/site/Interceptor.md
Labels: Docs, community-contribution

#6928 docs: fix typo
  docs/site/tutorials/todo-list/todo-list-tutorial-sqldb.md
Labels: Docs, community-contribution

#6891 fix(docs): add info on action-based sequences
  docs/site/Validation-REST-layer.md
Labels: Docs, community-contribution

#6941 chore: update CLA link to DCO
  docs/CONTRIBUTING.md
Labels: Docs, community-contribution

#6936 chore: fix docs formatting
  examples/lb3-application/README.md
Labels: Docs, community-contribution

#6952 fix(docs): binding event listener sample code
  docs/site/Binding.md
Labels: Docs, community-contribution

#6956 feat: replace msgpack parser
  bodyparsers/rest-msgpack/package-lock.json
  bodyparsers/rest-msgpack/package.json
  bodyparsers/rest-msgpack/src/__tests__/acceptance/bodyparser.acceptance.ts
  bodyparsers/rest-msgpack/src/__tests__/acceptance/component.acceptance.ts
  bodyparsers/rest-msgpack/src/bodyparser.ts
  bodyparsers/rest-msgpack/src/component.ts
  bodyparsers/rest-msgpack/src/index.ts
Labels: Extensions, community-contribution

#6953 fix(docs): add injectable decorator in custom extended sequence
  docs/site/REST-middleware-sequence.md
Labels: Docs, community-contribution
