Repository loopbackio/loopback-next, pull requests merged in 2020-03, with the labels that each got.

#4706 docs: access control migration
  docs/site/imgs/tutorials/access-control-migration/auth_example_authorization_casbin.png
  docs/site/imgs/tutorials/access-control-migration/auth_example_casbin_model_policy.png
  docs/site/imgs/tutorials/access-control-migration/auth_example_get_token.png
  docs/site/imgs/tutorials/access-control-migration/auth_example_login.png
  docs/site/imgs/tutorials/access-control-migration/auth_example_mechanism.png
  docs/site/imgs/tutorials/access-control-migration/auth_example_scenario_model.png
  docs/site/imgs/tutorials/access-control-migration/auth_example_set_token.png
  docs/site/imgs/tutorials/access-control-migration/auth_example_withdraw.png
  docs/site/imgs/tutorials/access-control-migration/auth_example_withdraw_401.png
  docs/site/migration/auth/example.md
  docs/site/migration/auth/overview.md
  docs/site/sidebars/lb4_sidebar.yml
  examples/access-control-migration/data/db.json
  examples/access-control-migration/src/models/index.ts
Labels: Authorization, Docs, Examples, Migration

#4768 docs: refactors the relation limitation section
  docs/site/BelongsTo-relation.md
  docs/site/HasMany-relation.md
  docs/site/HasOne-relation.md
  docs/site/Relations.md
Labels: Docs, Relations

#4771 fix: remove ref for v4.loopback.io
  docs/site/deployment/Deploying_to_ibm_cloud_kubernetes.md
  examples/access-control-migration/public/index.html
  examples/express-composition/public/express.html
  examples/express-composition/public/index.html
  examples/lb3-application/public/index.html
  examples/soap-calculator/public/index.html
  examples/todo-list/public/index.html
  examples/todo/public/index.html
  packages/cli/generators/app/templates/public/index.html.ejs
Labels: Docs, tech-debt

#4762 add async validation support
  packages/rest/src/__tests__/unit/request-body.validator.test.ts
  packages/rest/src/parser.ts
  packages/rest/src/validation/request-body.validator.ts
Labels: REST, breaking-change, community-contribution, feature

#4779 docs: update LTS info in root README
  README.md
Labels: Docs

#4788 chore: update Mixin.md
  docs/site/Mixin.md
Labels: Docs, community-contribution

#4432 feat: adds utility launch for debugging a single test file
  .vscode/launch.json
  bin/mocha-current-file.js
Labels: community-contribution, developer-experience

#4821 chore: add Migration Docs issue template + docs alerts
  .github/ISSUE_TEMPLATE/Migration_docs.md
  docs/site/migration/auth/built-in.md
  docs/site/migration/auth/example.md
  docs/site/migration/auth/oauth2.md
  docs/site/migration/auth/overview.md
  docs/site/migration/auth/passport.md
  docs/site/migration/boot-scripts.md
  docs/site/migration/cli.md
  docs/site/migration/clients.md
  docs/site/migration/datasources.md
  docs/site/migration/express-middleware.md
  docs/site/migration/extensions.md
  docs/site/migration/models/core.md
  docs/site/migration/models/methods.md
  docs/site/migration/models/mixins.md
  docs/site/migration/models/operation-hooks.md
  docs/site/migration/models/overview.md
  docs/site/migration/models/relations.md
  docs/site/migration/models/remoting-hooks.md
  docs/site/migration/mounting-lb3app.md
  docs/site/migration/not-planned.md
  docs/site/migration/overview.md
Labels: Docs, Migration

#4823 chore: fix setup of docs preview site
  docs/bin/build-preview-site.sh
Labels: Internal Tooling, bug

#4746 feat(authentication): extend TokenService for revokeable tokens
  packages/authentication/src/services/token.service.ts
Labels: Authentication, community-contribution, developer-experience

#4810 feat(example-rest-crud): add example showing CrudRestApiBuilder
  CODEOWNERS
  docs/site/Examples.md
  docs/site/MONOREPO.md
  docs/site/tutorials/todo/todo-tutorial-putting-it-together.md
  examples/rest-crud/.dockerignore
  examples/rest-crud/.eslintrc.js
  examples/rest-crud/.npmignore
  examples/rest-crud/.npmrc
  examples/rest-crud/.prettierignore
  examples/rest-crud/.prettierrc
  examples/rest-crud/.vscode/settings.json
  examples/rest-crud/.vscode/tasks.json
  examples/rest-crud/CHANGELOG.md
  examples/rest-crud/Dockerfile
  examples/rest-crud/LICENSE
  examples/rest-crud/README.md
  examples/rest-crud/data/db.json
  examples/rest-crud/index.d.ts
  examples/rest-crud/index.js
  examples/rest-crud/index.ts
  examples/rest-crud/package-lock.json
  examples/rest-crud/package.json
  examples/rest-crud/public/index.html
  examples/rest-crud/src/__tests__/acceptance/test-helper.ts
  examples/rest-crud/src/__tests__/acceptance/todo.acceptance.ts
  examples/rest-crud/src/__tests__/helpers.ts
  examples/rest-crud/src/application.ts
  examples/rest-crud/src/datasources/db.datasource.config.json
  examples/rest-crud/src/datasources/db.datasource.ts
  examples/rest-crud/src/datasources/index.ts
  examples/rest-crud/src/index.ts
  examples/rest-crud/src/migrate.ts
  examples/rest-crud/src/model-endpoints/todo.rest-config.ts
  examples/rest-crud/src/models/index.ts
  examples/rest-crud/src/models/todo.model.ts
  examples/rest-crud/src/sequence.ts
  examples/rest-crud/tsconfig.build.json
  packages/cli/generators/example/index.js
Labels: Examples, REST

#4829 docs: update Models.md
  docs/site/Model.md
Labels: Docs

#4635 feat(docs): add 20202Q2 roadmap
  docs/ROADMAP.md
Labels: roadmap

#4693 feat(Authentication) enable authentication strategies to contribute OASEnhancer
  packages/authentication/src/__tests__/acceptance/basic-auth-extension.acceptance.ts
  packages/authentication/src/__tests__/acceptance/jwt-auth-extension.acceptance.ts
  packages/authentication/src/__tests__/fixtures/strategies/basic-strategy.ts
  packages/authentication/src/__tests__/fixtures/strategies/jwt-strategy.ts
  packages/authentication/src/__tests__/unit/types/register-authentication-strategy.unit.ts
  packages/authentication/src/types.ts
  packages/openapi-v3/src/__tests__/unit/merge-security-scheme.unit.ts
  packages/openapi-v3/src/enhancers/spec-enhancer.service.ts
Labels: Authentication, OpenAPI, community-contribution, feature

#4855 refactor: migrate models from cli
  docs/site/migration/auth/example.md
  examples/access-control-migration/src/models/project.model.ts
  examples/access-control-migration/src/models/team.model.ts
  examples/access-control-migration/src/models/user.model.ts
  examples/access-control-migration/src/repositories/project.repository.ts
  examples/access-control-migration/src/repositories/user.repository.ts
Labels: Docs

#4858 feat(cli): add translation for 14 languages
  packages/cli/intl/cs/messages.json
  packages/cli/intl/de/messages.json
  packages/cli/intl/es/messages.json
  packages/cli/intl/fr/messages.json
  packages/cli/intl/it/messages.json
  packages/cli/intl/ja/messages.json
  packages/cli/intl/ko/messages.json
  packages/cli/intl/nl/messages.json
  packages/cli/intl/pl/messages.json
  packages/cli/intl/pt/messages.json
  packages/cli/intl/ru/messages.json
  packages/cli/intl/tr/messages.json
  packages/cli/intl/zh-Hans/messages.json
  packages/cli/intl/zh-Hant/messages.json
Labels: CLI

#4831 refactor: move const into bindings
  docs/site/Extending-OpenAPI-specification.md
  packages/authentication/src/__tests__/unit/types/register-authentication-strategy.unit.ts
  packages/openapi-v3/src/__tests__/unit/enhancers/fixtures/application.ts
  packages/openapi-v3/src/enhancers/keys.ts
  packages/openapi-v3/src/enhancers/spec-enhancer.service.ts
  packages/openapi-v3/src/enhancers/types.ts
  packages/rest/src/rest.server.ts
Labels: Authorization, refactor

#4897 docs: update the limitation section of relations
  docs/site/Relations.md
Labels: Docs

#4409 Db2 naming
  SECURITY.md
  docs/site/Discovering-models.md
  docs/site/Transactions.md
  docs/site/sidebars/lb4_sidebar.yml
  packages/cli/lib/connectors.json
Labels: CLI, Docs, community-contribution

#4893 docs: enhance property and column names mapping for connectors
  docs/site/Database-migrations.md
  docs/site/Discovering-models.md
Labels: Docs

#4884 [docs] migrate authentication
  docs/site/imgs/tutorials/authentication-migration/lb3-authentication-user.png
  docs/site/imgs/tutorials/authentication-migration/lb4-authentication-user.png
  docs/site/migration/auth/authentication.md
  docs/site/migration/auth/built-in.md
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs, Migration

#4840 feat(docs): describe LB3 features not planned in LB4
  docs/site/migration/not-planned.md
Labels: Docs, Migration

#4896 [RFC] feat(cron): add an extension to support cron jobs for LoopBack 4
  extensions/cron/.npmrc
  extensions/cron/LICENSE
  extensions/cron/README.md
  extensions/cron/index.d.ts
  extensions/cron/index.js
  extensions/cron/index.ts
  extensions/cron/package-lock.json
  extensions/cron/package.json
  extensions/cron/src/__tests__/acceptance/cron.acceptance.ts
  extensions/cron/src/cron.component.ts
  extensions/cron/src/decorators/cron-job.decorator.ts
  extensions/cron/src/decorators/index.ts
  extensions/cron/src/index.ts
  extensions/cron/src/keys.ts
  extensions/cron/src/types.ts
  extensions/cron/tsconfig.build.json
Labels: Extensions, feature

#4916 feat(context): emit bind/unbind events on ContextView
  docs/site/Context.md
  packages/context/src/__tests__/unit/context-view.unit.ts
  packages/context/src/context-view.ts
Labels: IoC/Context, feature

#4934 docs: enhance model.md
  docs/site/Model.md
Labels: Docs

#4918 feat(context): improve context view for bind/unbind events and cached values
  packages/context/src/__tests__/unit/context-view.unit.ts
  packages/context/src/context-view.ts
Labels: IoC/Context, feature

#4944 fix(rest): allow async custom keyword by setting {$async: true} to referenced schemas
  packages/rest/src/__tests__/acceptance/validation/validation.acceptance.ts
  packages/rest/src/validation/request-body.validator.ts
Labels: REST, bug

#4917 feat(core): add more flavors of @extensions decorator
  docs/site/Extension-point-and-extensions.md
  packages/core/src/__tests__/acceptance/extension-point.acceptance.ts
  packages/core/src/extension-point.ts
Labels: IoC/Context, feature

#4914 docs: document the request-response cycle
  docs/site/Request-response-cycle.md
  docs/site/imgs/req-res-high-level.png
  docs/site/imgs/sequence-details.png
Labels: Docs

#4874 feat(docs): add validation docs
  docs/site/Validation-ORM-layer.md
  docs/site/Validation-REST-layer.md
  docs/site/Validation-controller-layer.md
  docs/site/Validation.md
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs, Validation

#4976 docs: add model to rest api docs
  docs/site/Creating-CRUD-REST-apis.md
  docs/site/Extending-Model-API-builder.md
  docs/site/Using-components.md
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs, feature parity

#4919 fix: passport strategy adapter must support oauth2 flows
  extensions/authentication-passport/package-lock.json
  extensions/authentication-passport/package.json
  extensions/authentication-passport/src/__tests__/acceptance/authentication-with-passport-strategy-oauth2-adapter.acceptance.ts
  extensions/authentication-passport/src/__tests__/acceptance/fixtures/mock-oauth2-social-app.ts
  extensions/authentication-passport/src/__tests__/acceptance/fixtures/simple-rest-app.ts
  extensions/authentication-passport/src/__tests__/acceptance/fixtures/user-repository.ts
  extensions/authentication-passport/src/strategy-adapter.ts
  packages/authentication/src/__tests__/unit/fixtures/mock-strategy.ts
  packages/authentication/src/__tests__/unit/providers/authentication.provider.unit.ts
  packages/authentication/src/keys.ts
  packages/authentication/src/providers/auth-action.provider.ts
  packages/authentication/src/types.ts
  packages/rest/src/router/redirect-route.ts
Labels: Authentication, feature

#4930 feat: support any type
  examples/todo/src/__tests__/acceptance/todo.acceptance.ts
  examples/todo/src/models/todo.model.ts
  packages/repository-json-schema/src/__tests__/integration/build-schema.integration.ts
  packages/repository-json-schema/src/__tests__/unit/build-schema.unit.ts
  packages/repository-json-schema/src/build-schema.ts
  packages/rest/src/__tests__/unit/ajv.service.unit.ts
Labels: feature

#4996 fix: remove restriction to Entities from DefaultKeyValueRepository
  packages/repository/src/repositories/kv.repository.bridge.ts
Labels: Repository, feature

#4983 fix(cli): make sure generated package.json is well formatted
  packages/cli/generators/project/templates/package.json.ejs
  packages/cli/generators/project/templates/package.plain.json.ejs
  packages/cli/test/integration/generators/app.integration.js
  packages/cli/test/integration/lib/project-generator.js
Labels: CLI

#5003 feat: remove Node.js 8.x polyfill for Symbol.asyncIterator
  packages/context/src/context-subscription.ts
  packages/repository/src/repositories/kv.repository.bridge.ts
Labels: IoC/Context, Repository, tech-debt
