Repository loopbackio/loopback-next, pull requests merged in 2020-10, with the labels that each got.

#6475 feat(cli): add exit option to mocharc template in generator
  packages/cli/generators/project/templates/.mocharc.json
  packages/cli/snapshots/integration/generators/app.integration.snapshots.js
  packages/cli/test/integration/generators/app.integration.js
Labels: CLI, community-contribution

#6472 chore: enable renovate automerge for patch/minor versions or devDependencies
  .renovaterc.json
Labels: Build

#6486 fix(docs): extract route how-to
  docs/site/Customizing-routes.md
  docs/site/Route.md
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs

#6414 feat(openapi-v3): add OAS3 visibility decorator
  docs/site/decorators/Decorators_openapi.md
  docs/site/extending/rest-api.md
  packages/openapi-v3/src/__tests__/unit/decorators/visibility.decorator.unit.ts
  packages/openapi-v3/src/controller-spec.ts
  packages/openapi-v3/src/decorators/index.ts
  packages/openapi-v3/src/decorators/visibility.decorator.ts
  packages/openapi-v3/src/keys.ts
  packages/openapi-v3/src/types.ts
Labels: OpenAPI, community-contribution

#6501 feat(docs): add docs for Angular
  docs/site/Building-frontend-angular-application.md
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs

#6507 docs: add authorize decorator
  docs/site/decorators/Decorators_authorize.md
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs

#6356 feat(example-webpack): add an example to generate bundles with webpack
  CODEOWNERS
  docs/site/Examples.md
  docs/site/MONOREPO.md
  examples/webpack/.npmrc
  examples/webpack/LICENSE
  examples/webpack/README.md
  examples/webpack/index.html
  examples/webpack/package-lock.json
  examples/webpack/package.json
  examples/webpack/src/__tests__/integration/bundle-node.integration.ts
  examples/webpack/src/__tests__/integration/bundle-web.integration.ts
  examples/webpack/src/__tests__/integration/dependency-injection.integration.ts
  examples/webpack/src/__tests__/integration/test-helper.ts
  examples/webpack/src/dependency-injection.ts
  examples/webpack/src/index.ts
  examples/webpack/tsconfig.json
  examples/webpack/webpack.config.js
  packages/cli/generators/example/index.js
  tsconfig.json
Labels: Examples

#6531 fix(cli): add missing language to code blocks
  packages/cli/generators/app/templates/README.md.ejs
  packages/cli/snapshots/integration/generators/app.integration.snapshots.js
Labels: CLI, community-contribution

#6469 feat(docs): update FAQ
  docs/site/FAQ.md
Labels: Docs, community-contribution

#6532 docs: fix minor grammar mistakes
  docs/site/DEVELOPING.md
Labels: Docs, community-contribution

#6534 fix(docs): fix Dependency-injection link
  docs/site/reference/reserved-binding-keys.md
Labels: Docs, community-contribution

#6543 docs(health): add few notes about readiness/liveness probes
  extensions/health/README.md
Labels: Docs, community-contribution

#6484 feat: add hidden properties
  docs/site/Model.md
  examples/passport-login/src/models/user-credentials.model.ts
  packages/repository/src/__tests__/unit/decorator/model-and-relation.decorator.unit.ts
  packages/repository/src/decorators/model.decorator.ts
  packages/repository/src/model.ts
Labels: Repository, community-contribution

#6350 test(cli): remove redundant relation cli tests
  packages/cli/snapshots/integration/cli/cli.integration.snapshots.js
  packages/cli/snapshots/integration/generators/relation.belongs-to.integration.snapshots.js
  packages/cli/snapshots/integration/generators/relation.has-many.integration.snapshots.js
  packages/cli/snapshots/integration/generators/relation.has-one.integration.snapshots.js
  packages/cli/snapshots/integration/generators/relation.integration.snapshots.js
  packages/cli/test/fixtures/relation/index.js
  packages/cli/test/fixtures/relation/models/address-class-type.model.ts
  packages/cli/test/fixtures/relation/models/address-class.model.ts
  packages/cli/test/fixtures/relation/models/customer-class-type.model.ts
  packages/cli/test/fixtures/relation/models/customer-class.model.ts
  packages/cli/test/fixtures/relation/models/order-class-type.model.ts
  packages/cli/test/fixtures/relation/models/order-class.model.ts
  packages/cli/test/fixtures/relation/models/order-with-fk.model.ts
  packages/cli/test/fixtures/relation/repositories/address-class-type.repository.ts
  packages/cli/test/fixtures/relation/repositories/address-class.repository.ts
  packages/cli/test/fixtures/relation/repositories/customer-class-type.repository.ts
  packages/cli/test/fixtures/relation/repositories/customer-class.repository.ts
  packages/cli/test/fixtures/relation/repositories/order-class-type.repository.ts
  packages/cli/test/fixtures/relation/repositories/order-class.repository.ts
  packages/cli/test/integration/generators/relation.belongs-to.integration.js
  packages/cli/test/integration/generators/relation.has-many.integration.js
  packages/cli/test/integration/generators/relation.has-one.integration.js
  packages/cli/test/integration/generators/relation.integration.js
Labels: CLI

#6542 fix: allow array query parameter for a single value
  packages/rest/src/__tests__/acceptance/coercion/coercion.acceptance.ts
  packages/rest/src/coercion/coerce-parameter.ts
Labels: REST, community-contribution

#6559 docs: fixed transactions doc
  docs/site/guides/data-access/transactions.md
Labels: Docs, community-contribution

#6556 Reword the message printed by REST LogError action
  packages/rest/src/__tests__/integration/rest.server.integration.ts
  packages/rest/src/providers/log-error.provider.ts
Labels: REST, developer-experience, feature

#6517 Feature/array in fields
  docs/site/Fields-filter.md
  examples/todo/src/__tests__/acceptance/todo.acceptance.ts
  packages/filter/src/__tests__/acceptance/query-builder.acceptance.ts
  packages/filter/src/query.ts
  packages/openapi-v3/src/__tests__/unit/decorators/query.decorator.unit.ts
  packages/openapi-v3/src/__tests__/unit/filter-schema.unit.ts
  packages/repository-json-schema/src/__tests__/unit/filter-json-schema.unit.ts
  packages/repository-json-schema/src/filter-json-schema.ts
Labels: community-contribution

#6578 feat(openapi-v3): make `mergeOpenAPISpec` retval strongly typed
  packages/openapi-v3/src/enhancers/spec-enhancer.service.ts
Labels: OpenAPI, developer-experience

#6528 feat(docs): add community example page
  docs/site/Community-examples.md
  docs/site/Examples.md
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs

#6589 docs: updating links for jwt-authentication documentation
  docs/site/migration/auth/authentication.md
Labels: Docs, community-contribution

#6594 test(context): add a test case to verify inject.getters for circular dependencies
  packages/context/src/__tests__/acceptance/class-level-bindings.acceptance.ts
Labels: IoC/Context

#6593 Fixes typo in "sequence"
  docs/site/Validation-REST-layer.md
Labels: Docs

#6599 https://github.com/strongloop/loopback-next/issues/5595
  docs/site/Community-examples.md
Labels: Docs, Examples, community-contribution

#6632 fix(docs): fix debug string typo
  docs/site/Setting-debug-strings.md
Labels: community-contribution

#6628 docs: add api docs preview guide
  docs/site/DEVELOPING.md
Labels: Docs

#6631 docs: fix 'handling errors' link in the docs
  docs/site/REST-action-sequence.md
  docs/site/REST-middleware-sequence.md
  docs/site/Using-strong-error-handler.md
Labels: Docs

#6638 fix(example-todo-jwt): fix response in whoAmI endpoint
  examples/todo-jwt/src/controllers/user.controller.ts
Labels: Examples

#6640 this.definition.idName is not a function
  packages/repository/src/__tests__/unit/model/model.unit.ts
  packages/repository/src/model.ts
Labels: community-contribution

#6646 feat(metrics): add option to enable/disable openapi spec
  extensions/metrics/README.md
  extensions/metrics/src/__tests__/acceptance/metrics.acceptance.ts
  extensions/metrics/src/controllers/metrics.controller.ts
  extensions/metrics/src/metrics.component.ts
  extensions/metrics/src/types.ts
Labels: community-contribution

#6663 docs: move server recipes to how-to guides
  docs/site/Customizing-server-configuration.md
  docs/site/Server.md
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs, community-contribution

#6645 feat(health): add option to enable/disable openapi spec
  extensions/health/README.md
  extensions/health/src/__tests__/acceptance/health.acceptance.ts
  extensions/health/src/controllers/health.controller.ts
  extensions/health/src/health.component.ts
  extensions/health/src/types.ts
Labels: community-contribution

#6644 fix(metrics): only add required artifacts to application
  extensions/metrics/src/__tests__/acceptance/metrics-push.acceptance.ts
  extensions/metrics/src/__tests__/acceptance/metrics.acceptance.ts
  extensions/metrics/src/metrics.component.ts
  extensions/metrics/src/types.ts
Labels: community-contribution

#6569 update artifacts of the todo example to the latest style generated by the LoopBack CLI
  docs/site/tutorials/todo/todo-tutorial-putting-it-together.md
  examples/todo/LICENSE
  examples/todo/src/__tests__/acceptance/home-page.acceptance.ts
  examples/todo/src/__tests__/acceptance/test-helper.ts
  examples/todo/src/__tests__/unit/controllers/todo.controller.unit.ts
  examples/todo/src/application.ts
  examples/todo/src/controllers/todo.controller.ts
  examples/todo/src/datasources/db.datasource.ts
  examples/todo/src/datasources/geocoder.datasource.ts
  examples/todo/src/index.ts
  examples/todo/src/repositories/todo.repository.ts
Labels: Examples

#6590 update artifacts of the todo-jwt example to the latest style generated by the LoopBack CLI
  docs/site/tutorials/authentication/Authentication-Tutorial.md
  examples/todo-jwt/src/application.ts
  examples/todo-jwt/src/controllers/todo.controller.ts
  examples/todo-jwt/src/datasources/db.datasource.ts
  examples/todo-jwt/src/index.ts
  examples/todo-jwt/src/models/todo.model.ts
  examples/todo-jwt/src/repositories/todo.repository.ts
Labels: Docs

#6615 feat(cli): add vscode launch tasks in app
  docs/site/Troubleshooting.md
  packages/cli/generators/project/templates/.vscode/launch.json
Labels: CLI

#5561 refactor(rest): use dynamic value provider for actions
  packages/express/src/providers/invoke-middleware.provider.ts
  packages/rest/src/__tests__/acceptance/middleware/middleware-sequence.acceptance.ts
  packages/rest/src/__tests__/integration/http-handler.integration.ts
  packages/rest/src/__tests__/unit/rest.component.unit.ts
  packages/rest/src/__tests__/unit/router/reject.provider.unit.ts
  packages/rest/src/providers/find-route.provider.ts
  packages/rest/src/providers/invoke-method.provider.ts
  packages/rest/src/providers/log-error.provider.ts
  packages/rest/src/providers/parse-params.provider.ts
  packages/rest/src/providers/reject.provider.ts
  packages/rest/src/providers/send.provider.ts
  packages/rest/src/rest.component.ts
Labels: REST, breaking-change

#6695 docs: move parsing-requests recipes to how-to guides
  docs/site/Parsing-requests-guide.md
  docs/site/Parsing-requests.md
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs, community-contribution

#6697 fix(docs): fix incorrect port in deployment example
  docs/site/deployment/Deploying-with-pm2-and-nginx.md
Labels: Docs, community-contribution
