Repository loopbackio/loopback-next, pull requests merged in 2020-05, with the labels that each got.

#5304 feat(boot): add helpers to create a booter for component applications
  docs/site/Booting-an-Application.md
  packages/boot/src/__tests__/acceptance/component-application.booter.acceptance.ts
  packages/boot/src/booters/component-application.booter.ts
  packages/boot/src/booters/index.ts
Labels: Boot

#5309 feat(core): allow options for artifact registration on an application
  packages/core/src/__tests__/unit/application-lifecycle.unit.ts
  packages/core/src/__tests__/unit/application.unit.ts
  packages/core/src/application.ts
  packages/core/src/service.ts
  packages/repository/src/__tests__/unit/mixins/repository.mixin.unit.ts
  packages/repository/src/mixins/repository.mixin.ts
  packages/service-proxy/src/__tests__/unit/mixin/service.mixin.unit.ts
  packages/service-proxy/src/mixins/service.mixin.ts
Labels: Core

#5281 docs(http-caching-proxy): mention alternative libraries
  packages/http-caching-proxy/README.md
Labels: Docs

#5290 feat(context): allows bindings with singleton/context scopes to be refreshed
  docs/site/Binding.md
  packages/context/src/__tests__/unit/context.unit.ts
  packages/context/src/binding.ts
Labels: IoC/Context, feature

#5334 fix(cli): add passport-login to example cli
  docs/site/Examples.md
  packages/cli/generators/example/index.js
Labels: CLI, Docs

#5262 docs: component migration - general aspects
  docs/site/migration/components/current-context.md
  docs/site/migration/components/mixins.md
  docs/site/migration/components/overview.md
  docs/site/migration/components/project-layout.md
  docs/site/migration/extensions.md
  docs/site/sidebars/lb4_sidebar.yml
  docs/spikes/2020-04-how-to-migrate-lb3-components.md
Labels: Docs, Migration, spike

#5335 docs: add running and debugging pages
  docs/site/Running-debugging-apps.md
  docs/site/Setting-debug-strings.md
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs

#5329 fix(repository): updateById behaves like updateAll when called with a…
  packages/repository/src/__tests__/unit/repositories/legacy-juggler-bridge.unit.ts
  packages/repository/src/repositories/legacy-juggler-bridge.ts
Labels: Repository, community-contribution

#5349 chore: consolidate scripts-prepend-node-path setting to .npmrc
  .npmrc
  appveyor.yml
  docs/site/Testing-your-application.md
  package.json
  packages/build/README.md
  packages/cli/generators/project/templates/.npmrc
Labels: Internal Tooling

#5352 fix(docs): fix broken link
  docs/site/Working-with-data.md
Labels: Docs

#5324 feat: replace checkout-pr.sh with checkout-pr.js
  bin/checkout-pr.js
  bin/checkout-pr.sh
Labels: Internal Tooling, developer-experience

#5356 fix(docs): fix format in OpenAPI generator
  docs/site/OpenAPI-generator.md
Labels: Docs

#5362 feat(core): allow extensionFilter to take a list of extension point names
  packages/context/src/binding-filter.ts
  packages/core/src/__tests__/acceptance/extension-point.acceptance.ts
  packages/core/src/extension-point.ts
Labels: Core

#5367 fix: minor fixes to middleware group and binding template
  packages/express/src/middleware-interceptor.ts
  packages/express/src/middleware.ts
Labels: Middleware

#5363 feat(rest): remove bindElement and getFromContext
  packages/rest/src/__tests__/unit/rest.component.unit.ts
  packages/rest/src/__tests__/unit/rest.server/rest.server.unit.ts
  packages/rest/src/keys.ts
  packages/rest/src/providers/bind-element.provider.ts
  packages/rest/src/providers/get-from-context.provider.ts
  packages/rest/src/providers/index.ts
  packages/rest/src/rest.component.ts
  packages/rest/src/types.ts
Labels: REST, breaking-change

#5372 feat(express): allow invokeMiddleware to take a `next` option
  packages/express/src/__tests__/acceptance/invoke-middleware.acceptance.ts
  packages/express/src/middleware.ts
  packages/express/src/providers/invoke-middleware.provider.ts
  packages/express/src/types.ts
Labels: Middleware

#5358 feat(repository): extract helper `rejectNavigationalPropertiesInData`
  packages/repository/src/__tests__/unit/model/model.unit.ts
  packages/repository/src/model.ts
  packages/repository/src/repositories/legacy-juggler-bridge.ts
Labels: Repository, feature

#5377 feat(openapi-v3): relax `@api` to make `paths` optional with `{}` as the default
  packages/openapi-v3/src/decorators/api.decorator.ts
  packages/rest/src/__tests__/acceptance/routing/routing.acceptance.ts
Labels: OpenAPI, REST

#5410 docs: fix link to Binding.html
  docs/site/Components.md
Labels: Docs

#5412 fix: remove email connector from sidebar
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs

#5394 refactor: enable type checks inside mixin classes
  docs/site/Creating-components.md
  docs/site/Mixin.md
  docs/site/Testing-Your-Extensions.md
  docs/site/migration/models/mixins.md
  examples/log-extension/README.md
  examples/log-extension/src/mixins/log.mixin.ts
  packages/boot/src/mixins/boot.mixin.ts
  packages/core/src/index.ts
  packages/core/src/mixin-target.ts
  packages/express/src/middleware-registry.ts
  packages/express/src/mixins/middleware.mixin.ts
  packages/repository/src/__tests__/fixtures/mixins/category-property-mixin.ts
  packages/repository/src/__tests__/fixtures/mixins/find-by-title-repo-mixin.ts
  packages/repository/src/mixins/repository.mixin.ts
  packages/rest/src/__tests__/fixtures/mixins/find-by-title-controller-mixin.ts
Labels: refactor

#5385 docs: create REST API endpoints in components + LB3 migration
  docs/site/Creating-components.md
  docs/site/extending/rest-api.md
  docs/site/extending/services.md
  docs/site/migration/components/overview.md
  docs/site/migration/components/rest-api.md
  docs/site/sidebars/lb4_sidebar.yml
  docs/spikes/2020-04-how-to-migrate-lb3-components.md
Labels: Docs, Migration, spike

#5429 refactor: replace p-event with built-in events.once
  benchmark/package-lock.json
  benchmark/package.json
  benchmark/src/benchmark.ts
  docs/site/express-with-lb4-rest-tutorial.md
  examples/express-composition/package-lock.json
  examples/express-composition/package.json
  examples/express-composition/src/server.ts
  examples/lb3-application/README.md
  examples/lb3-application/package-lock.json
  examples/lb3-application/package.json
  examples/lb3-application/src/server.ts
  examples/passport-login/package-lock.json
  examples/passport-login/package.json
  examples/passport-login/src/server.ts
  examples/rpc-server/package-lock.json
  examples/rpc-server/package.json
  examples/rpc-server/src/rpc.server.ts
  extensions/cron/package-lock.json
  extensions/cron/package.json
  extensions/cron/src/__tests__/acceptance/cron.acceptance.ts
  extensions/health/package-lock.json
  extensions/health/package.json
  extensions/health/src/observers/health.observer.ts
  extensions/logging/package-lock.json
  extensions/logging/package.json
  extensions/metrics/package-lock.json
  extensions/metrics/package.json
  extensions/metrics/src/__tests__/acceptance/mock-pushgateway.ts
  packages/booter-lb3app/package-lock.json
  packages/booter-lb3app/package.json
  packages/booter-lb3app/src/lb3app.booter.ts
  packages/cli/generators/import-lb3-models/lb3app-loader.js
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/context/src/__tests__/unit/context-observer.unit.ts
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/application.ts
  packages/http-caching-proxy/package-lock.json
  packages/http-caching-proxy/package.json
  packages/http-caching-proxy/src/__tests__/integration/http-caching-proxy.integration.ts
  packages/http-caching-proxy/src/http-caching-proxy.ts
  packages/http-server/package-lock.json
  packages/http-server/package.json
  packages/http-server/src/__tests__/integration/http-server.integration.ts
  packages/http-server/src/http-server.ts
  packages/tsdocs/package-lock.json
  packages/tsdocs/package.json
  packages/tsdocs/src/__tests__/acceptance/tsdocs.acceptance.ts
Labels: refactor

#5427 docs: update "LB4 Component Migration" spike proposal
  docs/site/migration/components/models.md
  docs/site/migration/components/overview.md
  docs/site/sidebars/lb4_sidebar.yml
  docs/spikes/2020-04-how-to-migrate-lb3-components.md
Labels: Extensions, Migration, spike

#5428 docs: update README.md
  extensions/authentication-passport/README.md
Labels: Docs, community-contribution

#5478 fix(docs): copy navbar-template to fast preview site
  docs/bin/build-preview-site.sh
Labels: Docs, Internal Tooling, bug

#5468 Hidden properties when strict is false
  packages/repository/src/__tests__/unit/model/model.unit.ts
  packages/repository/src/model.ts
Labels: bug, community-contribution

#5475 honor excluded "include" property
  packages/repository-json-schema/src/__tests__/unit/filter-json-schema.unit.ts
  packages/repository-json-schema/src/filter-json-schema.ts
Labels: community-contribution

#5484 fix(docs): set `toc_level` to customize toc layout for changelogs
  docs/bin/copy-changelogs.js
Labels: Docs, bug

#5456 feat(binding): use `_source` to track the original value source for a binding
  packages/context/src/__tests__/unit/binding.unit.ts
  packages/context/src/binding.ts
Labels: IoC/Context, feature, refactor

#5455 fix(context): inspectTargetType needs to check parameters if index is a number
  packages/context/src/__tests__/unit/inject.unit.ts
  packages/context/src/inject.ts
Labels: IoC/Context, bug

#5392 docs: add using strong-error-handler page
  docs/site/Setting-debug-strings.md
  docs/site/Using-strong-error-handler.md
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs

#5492 @loopback/cli: Generate proper relation belongsTo fix #5430
  packages/cli/generators/relation/templates/controller-relation-template-belongs-to.ts.ejs
  packages/cli/snapshots/integration/generators/relation.belongs-to.integration.snapshots.js
Labels: CLI, community-contribution

#5534 fix(cli): group union/intersection types for array
  packages/cli/generators/openapi/schema-helper.js
  packages/cli/test/unit/openapi/schema-helper.unit.js
Labels: CLI, bug

#5519 docs: adding postgres connector tutorial for lb4
  docs/site/tutorials/connectors/Postgresql-tutorial.md
Labels: Docs

#5463 Add JWT authentication example
  examples/todo-jwt/.dockerignore
  examples/todo-jwt/.eslintrc.js
  examples/todo-jwt/.prettierignore
  examples/todo-jwt/.prettierrc
  examples/todo-jwt/.vscode/settings.json
  examples/todo-jwt/.vscode/tasks.json
  examples/todo-jwt/Dockerfile
  examples/todo-jwt/LICENSE
  examples/todo-jwt/README.md
  examples/todo-jwt/data/db.json
  examples/todo-jwt/package-lock.json
  examples/todo-jwt/package.json
  examples/todo-jwt/public/index.html
  examples/todo-jwt/src/__tests__/acceptance/home-page.acceptance.ts
  examples/todo-jwt/src/__tests__/acceptance/test-helper.ts
  examples/todo-jwt/src/__tests__/acceptance/todo.acceptance.ts
  examples/todo-jwt/src/__tests__/helpers.ts
  examples/todo-jwt/src/application.ts
  examples/todo-jwt/src/controllers/index.ts
  examples/todo-jwt/src/controllers/todo.controller.ts
  examples/todo-jwt/src/controllers/user.controller.ts
  examples/todo-jwt/src/datasources/db.datasource.ts
  examples/todo-jwt/src/datasources/index.ts
  examples/todo-jwt/src/index.ts
  examples/todo-jwt/src/migrate.ts
  examples/todo-jwt/src/models/index.ts
  examples/todo-jwt/src/models/todo.model.ts
  examples/todo-jwt/src/repositories/index.ts
  examples/todo-jwt/src/repositories/todo.repository.ts
  examples/todo-jwt/src/sequence.ts
  examples/todo-jwt/tsconfig.json
  tsconfig.json
Labels: Authentication, Examples

#5544 feat(authentication-jwt): unique index email for user.model.ts
  extensions/authentication-jwt/src/__tests__/acceptance/jwt.component.test.ts
  extensions/authentication-jwt/src/models/user-credentials.model.ts
  extensions/authentication-jwt/src/models/user.model.ts
Labels: Authentication, community-contribution

#5459 feat(cli): add a prompt for `lb4 update` to open changelog
  packages/cli/generators/update/index.js
  packages/cli/lib/base-generator.js
  packages/cli/lib/version-helper.js
  packages/cli/package-lock.json
  packages/cli/package.json
Labels: CLI, developer-experience

#5556 fix(docs): add todo-jwt to example list
  CODEOWNERS
  docs/site/Examples.md
  docs/site/MONOREPO.md
  packages/cli/generators/example/index.js
Labels: Authentication, CLI, Docs, Examples

#5566 fix(docs): fix variable name in boot script docs
  docs/site/migration/boot-scripts.md
Labels: Docs, bug, community-contribution

#5516 Fix: bootmixin should use super.component() to get binding key
  packages/boot/src/__tests__/unit/boot.custom-binding.component.unit.ts
  packages/boot/src/__tests__/unit/mixins/boot.mixin.unit.ts
  packages/boot/src/mixins/boot.mixin.ts
  packages/boot/src/types.ts
Labels: community-contribution

#5421 fix: jwt auth tutorial
  docs/site/imgs/auth-tutorial-apiexplorer.png
  docs/site/imgs/auth-tutorial-auth-button.png
  docs/site/imgs/auth-tutorial-jwt-token.png
  docs/site/tutorials/authentication/Authentication-Tutorial.md
Labels: Authentication, Docs

#5560 docs: improvements on acronym consistency; updated graphic
  docs/site/Inside-Loopback-Application.md
  docs/site/imgs/shopping-example-model-relations.png
Labels: Docs, community-contribution

#5597 fix(docs): fix listing error in PostgreSQL tutorial
  docs/site/tutorials/connectors/Postgresql-tutorial.md
Labels: Docs

#5600 fix(repository): fix DynamicModelCtor type to correctly preserve Props
  packages/repository/src/__tests__/unit/model/define-model-class.unit.ts
  packages/repository/src/define-model-class.ts
Labels: Repository, bug

#5599 feat(repository): adds fuzzy where filters to WhereBuilder
  packages/repository/src/__tests__/unit/query/query-builder.unit.ts
  packages/repository/src/query.ts
Labels: Repository, community-contribution

#5612 fix: normalize project ref update path
  bin/update-ts-project-refs.js
Labels: Internal Tooling, bug, community-contribution

#5610 feat(docs): adds requestBody.array() docs
  docs/site/decorators/Decorators_openapi.md
Labels: Docs, community-contribution
