Repository loopbackio/loopback-next, pull requests merged in 2020-08, with the labels that each got.

#6053 feat(context): propagate resolution session to dynamic value factory
  packages/context/src/__tests__/unit/binding.unit.ts
  packages/context/src/binding.ts
  packages/context/src/invocation.ts
Labels: IoC/Context, feature

#6069 fix: IBM i Db2 connector
  packages/cli/lib/connectors.json
Labels: CLI

#6104 docs: fix typo in migration overview
  docs/site/migration/overview.md
Labels: Docs, community-contribution

#6072 docs: add loopback types page
  docs/site/LoopBack-types.md
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs

#6081 docs: restructuring how to guide
  docs/site/Create-other-forms-of-apis.md
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs

#6085 docs: restructure the concepts page
  docs/site/Component.md
  docs/site/Controller.md
  docs/site/DataSource.md
  docs/site/Interceptors.md
  docs/site/Repository.md
  docs/site/Route.md
  docs/site/Service.md
  docs/site/index.md
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs

#6038 chore(example-todo): ignore coverage for geocode
  examples/todo/src/controllers/todo.controller.ts
Labels: community-contribution

#6061 [Spike][Docs] reorganize connector reference into reference, how-to guides, and tutorials
  docs/site/Configuring-datasource.md
  docs/site/DataSource.md
  docs/site/sidebars/lb4_sidebar.yml
  docs/site/tutorials/connectors/Connecting-to-back-end.md
Labels: Docs

#6105 feat(rest): improve validation errors for invalid parameter value
  packages/rest/src/__tests__/acceptance/coercion/coercion.acceptance.ts
  packages/rest/src/coercion/coerce-parameter.ts
  packages/rest/src/rest-http-error.ts
  packages/rest/src/types.ts
  packages/rest/src/validation/request-body.validator.ts
Labels: REST, Validation, feature

#6175 fix: monorepo, package metadata scripts' filepath on Windows
  bin/check-package-metadata.js
  bin/update-monorepo-file.js
Labels: Internal Tooling, bug, community-contribution

#6177 docs: fix missing links and add consistency
  docs/site/Application.md
  docs/site/Booting-an-Application.md
  docs/site/Component.md
  docs/site/Concepts.md
  docs/site/Controller.md
  docs/site/Crafting-LoopBack-4.md
  docs/site/Creating-CRUD-REST-apis.md
  docs/site/Creating-components.md
  docs/site/DataSource-generator.md
  docs/site/Defining-the-API-using-code-first-approach.md
  docs/site/Express-middleware.md
  docs/site/Extending-LoopBack-4.md
  docs/site/Getting-started.md
  docs/site/Glossary.md
  docs/site/Implementing-features.shelved.md
  docs/site/Interceptor.md
  docs/site/Middleware.md
  docs/site/Parsing-requests.md
  docs/site/REST-action-sequence.md
  docs/site/REST-middleware-sequence.md
  docs/site/Relations.md
  docs/site/Repository-generator.md
  docs/site/Route.md
  docs/site/Server.md
  docs/site/Testing-your-application.md
  docs/site/Validation-controller-layer.md
  docs/site/Working-with-data.md
  docs/site/express-with-lb4-rest-tutorial.md
  docs/site/migration/overview.md
Labels: Docs

#6197 fix(docs): change to test db after booting app
  docs/site/Testing-your-application.md
Labels: Docs, community-contribution

#5589 5187 jwt refresh token Feature
  extensions/authentication-jwt/README.md
  extensions/authentication-jwt/src/__tests__/acceptance/jwt.component.test.ts
  extensions/authentication-jwt/src/__tests__/fixtures/application.ts
  extensions/authentication-jwt/src/__tests__/fixtures/controllers/user.controller.ts
  extensions/authentication-jwt/src/__tests__/unit/jwt.service.ts
  extensions/authentication-jwt/src/index.ts
  extensions/authentication-jwt/src/jwt-authentication-component.ts
  extensions/authentication-jwt/src/keys.ts
  extensions/authentication-jwt/src/models/index.ts
  extensions/authentication-jwt/src/models/refresh-token.model.ts
  extensions/authentication-jwt/src/repositories/index.ts
  extensions/authentication-jwt/src/repositories/refresh-token.repository.ts
  extensions/authentication-jwt/src/services/index.ts
  extensions/authentication-jwt/src/services/refreshtoken.service.ts
  extensions/authentication-jwt/src/services/user.service.ts
  extensions/authentication-jwt/src/types.ts
Labels: Authentication, community-contribution

#6153 fix(repository-json-schema): allows string-based order filter
  examples/todo/src/__tests__/acceptance/todo.acceptance.ts
  packages/openapi-v3/src/__tests__/unit/decorators/query.decorator.unit.ts
  packages/openapi-v3/src/__tests__/unit/filter-schema.unit.ts
  packages/repository-json-schema/src/__tests__/unit/filter-json-schema.unit.ts
  packages/repository-json-schema/src/filter-json-schema.ts
Labels: Repository, community-contribution

#6213 fix(extension-health): unregister signal listener to avoid potential memory leak
  extensions/health/src/__tests__/acceptance/health.acceptance.ts
  extensions/health/src/observers/health.observer.ts
Labels: CloudNative
