Repository loopbackio/loopback-next, pull requests merged in 2020-11, with the labels that each got.

#6694 Update Model.md
  docs/site/Model.md
Labels: Docs, community-contribution

#6717 chore: sync LoopBack 4 EOL with Node.js 14 EOL
  README.md
Labels: community-contribution

#6698 docs: simplifying calling other APIs and Web services
  docs/site/Accessing-services.md
  docs/site/Calling-other-APIs-and-Web-Services.md
  docs/site/Calling-rest-apis.md
  docs/site/Calling-soap-web-services.md
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs, community-contribution

#6667 feat(context): add binding.toInjectable shortcut
  docs/site/Binding.md
  packages/context/src/__tests__/unit/binding.unit.ts
  packages/context/src/binding-inspector.ts
  packages/context/src/binding.ts
Labels: IoC/Context

#6676 feat(rest): further sanitize json parsing by rejecting prohibited keys
  examples/todo/src/__tests__/acceptance/test-helper.ts
  examples/todo/src/__tests__/acceptance/todo.acceptance.ts
  packages/rest/src/__tests__/unit/parse-json.unit.ts
  packages/rest/src/body-parsers/body-parser.json.ts
  packages/rest/src/coercion/coerce-parameter.ts
  packages/rest/src/parse-json.ts
  packages/rest/src/parser.ts
  packages/rest/src/types.ts
Labels: SECURITY

#6743 docs: creating breakpoints in vscode for troubleshooting guide
  docs/site/Troubleshooting.md
  docs/site/imgs/debug_vscode_breakpoint_1.png
  docs/site/imgs/debug_vscode_breakpoint_2.png
Labels: Docs, community-contribution

#6732 fix(docs): refactor docs to create artifacts at runtime
  docs/site/Creating-artifacts-runtime.md
  docs/site/Creating-datasource-runtime.md
  docs/site/Creating-model-runtime.md
  docs/site/Creating-repository-runtime.md
  docs/site/DataSource.md
  docs/site/Model.md
  docs/site/Repository.md
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs

#6757 fix(socketio): remove related path for socketio
  extensions/socketio/package.json
  extensions/socketio/src/socketio-controller-factory.ts
Labels: community-contribution

#6740 feat(core): allow parameter injection for lifecycle methods
  docs/site/Life-cycle.md
  packages/core/src/__tests__/unit/application-lifecycle.unit.ts
  packages/core/src/__tests__/unit/lifecycle-registry.unit.ts
  packages/core/src/lifecycle-registry.ts
  packages/core/src/lifecycle.ts
Labels: Core

#6598 update artifacts of the todo-list example to the latest style generated by the LoopBack CLI
  docs/site/tutorials/todo-list/todo-list-tutorial-controller.md
  docs/site/tutorials/todo-list/todo-list-tutorial-has-one-relation.md
  examples/todo-list/src/__tests__/acceptance/home-page.acceptance.ts
  examples/todo-list/src/__tests__/acceptance/test-helper.ts
  examples/todo-list/src/__tests__/acceptance/todo-list-image.acceptance.ts
  examples/todo-list/src/__tests__/acceptance/todo-list.acceptance.ts
  examples/todo-list/src/__tests__/acceptance/todo.acceptance.ts
  examples/todo-list/src/__tests__/unit/controllers/todo.controller.unit.ts
  examples/todo-list/src/application.ts
  examples/todo-list/src/controllers/index.ts
  examples/todo-list/src/controllers/todo-list-image.controller.ts
  examples/todo-list/src/controllers/todo-list-todo-list-image.controller.ts
  examples/todo-list/src/controllers/todo-list-todo.controller.ts
  examples/todo-list/src/controllers/todo-list.controller.ts
  examples/todo-list/src/controllers/todo.controller.ts
  examples/todo-list/src/datasources/db.datasource.ts
  examples/todo-list/src/datasources/index.ts
  examples/todo-list/src/index.ts
  examples/todo-list/src/models/index.ts
  examples/todo-list/src/models/todo-list-image.model.ts
  examples/todo-list/src/models/todo-list.model.ts
  examples/todo-list/src/models/todo.model.ts
  examples/todo-list/src/repositories/index.ts
  examples/todo-list/src/repositories/todo-list-image.repository.ts
  examples/todo-list/src/repositories/todo-list.repository.ts
  examples/todo-list/src/repositories/todo.repository.ts
  examples/todo-list/src/sequence.ts
Labels: Examples

#6774 fix(docs): fix broken links
  docs/site/Accessing-services.md
  docs/site/Creating-CRUD-REST-apis.md
  docs/site/tutorials/todo/todo-tutorial-geocoding-service.md
Labels: Docs

#6771 fix: re-export generateUniqueId in index.ts
  packages/context/src/index.ts
  packages/core/src/application.ts
Labels: IoC/Context, community-contribution

#6785 docs: fix incorrect files paths
  examples/file-transfer/README.md
Labels: Docs, community-contribution

#6795 fix(docs): fix formatting in note
  docs/site/Binding.md
Labels: Docs

#6809 docs: add note about unrelated commits
  docs/site/submitting_a_pr.md
Labels: Docs, community-contribution

#6806 Todolist example 6733
  docs/site/tutorials/todo-list/todo-list-tutorial-relations.md
  examples/todo-list/data/db.json
Labels: Docs, Examples, community-contribution

#6813 fix(rest): fix incomplete hostname in regexp
  packages/rest/src/__tests__/integration/rest.server.integration.ts
Labels: REST, SECURITY

#6787 chore(rest): add message change to BREAKING CHANGES
  packages/rest/CHANGELOG.md
Labels: community-contribution

#6780 ci: ignore tests for codeql analysis
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-analysis.yml
Labels: Internal Tooling, community-contribution

#6836 chore(docs): update overview page
  docs/site/index.md
Labels: Docs

#6784 Show README with yarn when selected and make it dynamic
  packages/cli/generators/app/templates/README.md.ejs
  packages/cli/generators/extension/templates/README.md.ejs
  packages/cli/generators/project/templates/package.json.ejs
  packages/cli/lib/project-generator.js
  packages/cli/snapshots/integration/generators/app.integration.snapshots.js
Labels: community-contribution

#6841 fix(docs): remove note about explorer filter not working
  docs/site/tutorials/todo-list/todo-list-tutorial-controller.md
Labels: Docs, community-contribution
