Repository loopbackio/loopback-next, pull requests merged in 2020-07, with the labels that each got.

#5749 fix(repository-json-schema): added type 'object' to model json schema
  packages/openapi-v3/src/__tests__/integration/controller-spec.integration.ts
  packages/openapi-v3/src/__tests__/integration/operation-spec.integration.ts
  packages/repository-json-schema/src/__tests__/integration/build-schema.integration.ts
  packages/repository-json-schema/src/__tests__/integration/schema-ref.integration.ts
  packages/repository-json-schema/src/__tests__/unit/build-schema.unit.ts
  packages/repository-json-schema/src/build-schema.ts
  packages/rest/src/__tests__/acceptance/validation/validation.acceptance.ts
  packages/rest/src/__tests__/unit/rest.server/rest.server.open-api-spec.unit.ts
Labels: community-contribution

#5865 fix: broken link in sidebar
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs

#5874 fix(docs): fix typo in guide command
  docs/site/exposing-graphql-apis.md
Labels: Docs, community-contribution

#5742 feat(repository): add helpers to create relations
  packages/repository/src/__tests__/integration/repositories/relation.factory.integration.ts
  packages/repository/src/__tests__/unit/model/model.unit.ts
  packages/repository/src/__tests__/unit/repositories/belongs-to-repository-factory.unit.ts
  packages/repository/src/__tests__/unit/repositories/relations-helpers/resolve-belongs-to-metadata.unit.ts
  packages/repository/src/model.ts
  packages/repository/src/relations/belongs-to/belongs-to.helpers.ts
  packages/repository/src/relations/relation.types.ts
Labels: Repository, community-contribution, developer-experience, feature

#5616 chore: lint staged files before commit
  .lintstagedrc
  docs/site/DEVELOPING.md
  package-lock.json
  package.json
Labels: community-contribution

#5903 fix(cli): globalize strings for model generator
  packages/cli/generators/model/index.js
  packages/cli/intl/en/messages.json
Labels: GVT

#5801 feat: add TypeORM support
  CODEOWNERS
  docs/site/MONOREPO.md
  docs/site/Using-TypeORM-with-LoopBack.md
  docs/site/sidebars/lb4_sidebar.yml
  extensions/typeorm/CHANGELOG.md
  extensions/typeorm/LICENSE
  extensions/typeorm/README.md
  extensions/typeorm/package-lock.json
  extensions/typeorm/package.json
  extensions/typeorm/src/__tests__/fixtures/application.ts
  extensions/typeorm/src/__tests__/fixtures/controllers/book.controller.ts
  extensions/typeorm/src/__tests__/fixtures/typeorm-connections/sqlite.connection.ts
  extensions/typeorm/src/__tests__/fixtures/typeorm-entities/book.entity.ts
  extensions/typeorm/src/__tests__/integration/booter.integration.ts
  extensions/typeorm/src/__tests__/integration/rest.integration.ts
  extensions/typeorm/src/__tests__/unit/booter.unit.ts
  extensions/typeorm/src/__tests__/unit/mixin.unit.ts
  extensions/typeorm/src/index.ts
  extensions/typeorm/src/typeorm-connection.booter.ts
  extensions/typeorm/src/typeorm.decorators.ts
  extensions/typeorm/src/typeorm.keys.ts
  extensions/typeorm/src/typeorm.mixin.ts
  extensions/typeorm/src/typeorm.types.ts
  extensions/typeorm/src/typeorm.utils.ts
  extensions/typeorm/tsconfig.json
  packages/boot/src/__tests__/unit/mixins/boot.mixin.unit.ts
  packages/boot/src/boot.component.ts
  tsconfig.json
Labels: feature

#5902 fix: globalize strings for repository generator
  packages/cli/generators/repository/index.js
  packages/cli/intl/en/messages.json
Labels: GVT

#5914 docs: remove duplicate entry
  docs/site/Integrate-with-infrastructures.md
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs

#5926 feat(cli): remove openapi-v3 from project template dependencies
  packages/cli/generators/project/templates/package.json.ejs
  packages/cli/generators/project/templates/package.plain.json.ejs
  packages/cli/test/integration/lib/project-generator.js
Labels: CLI, feature

#5925 test: improve fix for eslint no-invalid-this
  packages/cli/test/integration/cli/cli.integration.js
Labels: tech-debt

#5681 feat(pooling): add an extension to provide pooling service
  CODEOWNERS
  docs/site/MONOREPO.md
  extensions/pooling/.npmrc
  extensions/pooling/LICENSE
  extensions/pooling/README.md
  extensions/pooling/package-lock.json
  extensions/pooling/package.json
  extensions/pooling/pooling.png
  extensions/pooling/src/__tests__/acceptance/README.md
  extensions/pooling/src/__tests__/acceptance/pooling.acceptance.ts
  extensions/pooling/src/__tests__/integration/README.md
  extensions/pooling/src/__tests__/unit/README.md
  extensions/pooling/src/index.ts
  extensions/pooling/src/pooling.ts
  extensions/pooling/tsconfig.json
  tsconfig.json
Labels: Extensions, IoC/Context

#5933 docs: remove references to openapi-v3
  docs/site/Command-line-interface.md
  docs/site/Extending-OpenAPI-specification.md
  docs/site/Update-generator.md
  docs/site/decorators/Decorators_openapi.md
Labels: Docs, refactor

#5927 feat: remove openapi-v3 from apiconnect dependencies
  extensions/apiconnect/package.json
  extensions/apiconnect/src/apiconnect.spec-enhancer.ts
  extensions/apiconnect/tsconfig.json
Labels: refactor

#5932 refactor: remove `@loopback/openapi-v3` from dependencies
  examples/access-control-migration/package.json
  examples/access-control-migration/src/components/jwt-authentication/services/security.spec.ts
  examples/access-control-migration/tsconfig.json
  examples/express-composition/package.json
  examples/express-composition/tsconfig.json
  examples/file-transfer/package.json
  examples/file-transfer/tsconfig.json
  examples/greeter-extension/package.json
  examples/greeter-extension/tsconfig.json
  examples/greeting-app/package.json
  examples/greeting-app/tsconfig.json
  examples/log-extension/package.json
  examples/log-extension/src/__tests__/acceptance/log.extension.acceptance.ts
  examples/log-extension/tsconfig.json
  examples/multi-tenancy/package.json
  examples/multi-tenancy/tsconfig.json
  examples/passport-login/package.json
  examples/passport-login/tsconfig.json
  examples/rest-crud/package.json
  examples/rest-crud/tsconfig.json
  examples/soap-calculator/package.json
  examples/soap-calculator/tsconfig.json
  examples/todo-jwt/package.json
  examples/todo-jwt/tsconfig.json
  examples/todo-list/package.json
  examples/todo-list/tsconfig.json
  examples/todo/package.json
  examples/todo/tsconfig.json
  examples/validation-app/package.json
  examples/validation-app/tsconfig.json
  extensions/authentication-jwt/package.json
  extensions/authentication-jwt/src/services/security.spec.enhancer.ts
  extensions/authentication-jwt/tsconfig.json
  extensions/authentication-passport/package.json
  extensions/authentication-passport/src/__tests__/acceptance/authentication-with-passport-strategy-adapter.acceptance.ts
  extensions/authentication-passport/src/__tests__/acceptance/authentication-with-passport-strategy-oauth2-adapter.acceptance.ts
  extensions/authentication-passport/tsconfig.json
  extensions/typeorm/package.json
  extensions/typeorm/src/typeorm.utils.ts
  extensions/typeorm/tsconfig.json
  packages/authentication/package.json
  packages/authentication/src/__tests__/acceptance/basic-auth-extension.acceptance.ts
  packages/authentication/src/__tests__/acceptance/jwt-auth-extension.acceptance.ts
  packages/authentication/src/__tests__/fixtures/strategies/basic-strategy.ts
  packages/authentication/src/__tests__/fixtures/strategies/jwt-strategy.ts
  packages/authentication/src/__tests__/unit/types/register-authentication-strategy.unit.ts
  packages/authentication/tsconfig.json
  packages/boot/package.json
  packages/boot/tsconfig.json
  packages/repository/README.md
Labels: refactor

#5858 fix(repository): hasManyThrough can delete correct target n through based on filter
  packages/repository-tests/src/crud/relations/acceptance/has-many-through.relation.acceptance.ts
  packages/repository-tests/src/crud/relations/acceptance/has-many.relation.acceptance.ts
  packages/repository/src/__tests__/integration/repositories/relation.factory.integration.ts
  packages/repository/src/__tests__/unit/repositories/relations-helpers/resolve-has-many-through-metadata.unit.ts
  packages/repository/src/relations/has-many/has-many-through-repository.factory.ts
  packages/repository/src/relations/has-many/has-many-through.helpers.ts
  packages/repository/src/relations/has-many/has-many-through.repository.ts
Labels: Relations

#5707 feat(docs): add community extensions page
  docs/site/Community-extensions.md
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs

#5941 feat(docs): explain how is the content organized
  docs/README.md
  docs/site/index.md
Labels: Docs, feature

#5910 fix(docs): update Querying-data.md on proper usage of import for FilterBuilder
  docs/site/Querying-data.md
Labels: Docs, community-contribution

#5965 fix: globalize artifacts creation result
  packages/cli/intl/en/messages.json
  packages/cli/lib/artifact-generator.js
Labels: GVT

#5460 chore: use eslint-plugin-prettier to utilise cache
  .eslintrc.js
  bin/sync-dev-deps.js
  package-lock.json
  package.json
Labels: community-contribution

#5955 docs: explain how to access multiple models in a single transaction
  docs/site/guides/data-access/transactions.md
Labels: Docs, Repository

#5982 fix(docs): fix extension desc
  docs/site/Community-extensions.md
Labels: Docs

#5986 test(repository-tests): add tests for self through
  packages/repository-tests/src/crud/relations/acceptance/has-many-through.relation.acceptance.ts
  packages/repository-tests/src/crud/relations/acceptance/has-many.relation.acceptance.ts
  packages/repository-tests/src/crud/relations/fixtures/models/address.model.ts
  packages/repository-tests/src/crud/relations/fixtures/models/customer.model.ts
  packages/repository-tests/src/crud/relations/fixtures/models/index.ts
  packages/repository-tests/src/crud/relations/fixtures/models/shipment.model.ts
  packages/repository-tests/src/crud/relations/fixtures/models/user-link.model.ts
  packages/repository-tests/src/crud/relations/fixtures/models/user.model.ts
  packages/repository-tests/src/crud/relations/fixtures/repositories/index.ts
  packages/repository-tests/src/crud/relations/fixtures/repositories/user-link.repository.ts
  packages/repository-tests/src/crud/relations/fixtures/repositories/user.repository.ts
  packages/repository-tests/src/crud/relations/helpers.ts
Labels: Relations

#5937 fix: enable custom AJV validation errors
  docs/site/Model.md
  docs/site/Parsing-requests.md
  examples/validation-app/README.md
  examples/validation-app/src/__tests__/acceptance/validate.acceptance.ts
  examples/validation-app/src/models/coffee-shop.model.ts
  examples/validation-app/src/sequence.ts
  packages/rest/src/__tests__/acceptance/validation/validation.acceptance.ts
  packages/rest/src/__tests__/fixtures/models/book.model.ts
  packages/rest/src/coercion/coerce-parameter.ts
  packages/rest/src/parser.ts
  packages/rest/src/providers/parse-params.provider.ts
  packages/rest/src/types.ts
  packages/rest/src/validation/ajv-factory.provider.ts
  packages/rest/src/validation/request-body.validator.ts
Labels: Docs

#5763 feat(authentication-jwt) Add signup / create user
  extensions/authentication-jwt/src/__tests__/fixtures/controllers/user.controller.ts
Labels: Authentication, community-contribution

#5947 docs: add hasManyThrough to relation cli page
  docs/site/Relation-generator.md
Labels: CLI, Docs

#5984 docs: add hasManyThrough page
  docs/site/HasMany-relation.md
  docs/site/HasManyThrough-relation.md
  docs/site/Relations.md
  docs/site/imgs/hasManyThrough-relation-example.png
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs, Relations

#5998 docs: update Model.md
  docs/site/Database-migrations.md
  docs/site/Model.md
Labels: Docs

#6009 fix(authentication-jwt): move REST API Explorer to devDependencies
  extensions/authentication-jwt/package.json
Labels: tech-debt

#6030 feat(repository): add support for non-SQL variants of `Repository.execute()`
  packages/repository/src/__tests__/unit/repositories/legacy-juggler-bridge.unit.ts
  packages/repository/src/repositories/legacy-juggler-bridge.ts
Labels: Repository, feature
