Repository loopbackio/loopback-next, pull requests merged in 2020-09, with the labels that each got.

#6229 build: add "build & watch" task for VSCode
  .vscode/tasks.json
Labels: developer-experience

#6262 feat(rest): add AJV formats for OpenAPI spec data type formats
  packages/rest/src/__tests__/unit/ajv-factory.provider.unit.ts
  packages/rest/src/validation/ajv-factory.provider.ts
  packages/rest/src/validation/openapi-formats.ts
Labels: REST, feature

#6264 feat: move framework packages to `peerDependencies`
  extensions/apiconnect/package.json
  extensions/authentication-jwt/package.json
  extensions/authentication-passport/package.json
  extensions/context-explorer/package.json
  extensions/cron/package.json
  extensions/health/package.json
  extensions/logging/package.json
  extensions/metrics/package.json
  extensions/pooling/package.json
  extensions/typeorm/package.json
Labels: Extensions, breaking-change, refactor

#6306 fix(docs): add instructions to disable CORS
  docs/site/Server.md
Labels: Docs

#6311 docs: fixes typo in 'Authentication-overview.md'
  docs/site/Authentication-overview.md
Labels: Docs, community-contribution

#6300 feat(cli): update translation message
  packages/cli/intl/cs/messages.json
  packages/cli/intl/fr/messages.json
  packages/cli/intl/ja/messages.json
  packages/cli/intl/ko/messages.json
  packages/cli/intl/nl/messages.json
  packages/cli/intl/pt/messages.json
  packages/cli/intl/tr/messages.json
  packages/cli/intl/zh-Hans/messages.json
  packages/cli/intl/zh-Hant/messages.json
Labels: CLI, community-contribution

#6284 feat(rest): use singleton binding scope to cache REST middleware
  packages/rest/src/providers/find-route.provider.ts
  packages/rest/src/providers/invoke-method.provider.ts
  packages/rest/src/providers/log-error.provider.ts
  packages/rest/src/providers/parse-params.provider.ts
  packages/rest/src/providers/reject.provider.ts
  packages/rest/src/providers/send.provider.ts
  packages/rest/src/rest.application.ts
Labels: Performance, REST

#6285 fix(rest): make sure OpenAPI parameters with simple types are validated by AJV
  packages/rest/src/__tests__/unit/coercion/paramStringToInteger.unit.ts
  packages/rest/src/__tests__/unit/coercion/paramStringToString.unit.ts
  packages/rest/src/coercion/coerce-parameter.ts
  packages/rest/src/validation/openapi-formats.ts
  packages/rest/src/validation/request-body.validator.ts
Labels: REST, Validation, bug

#6301 chore: fix conflicting eslint rules
  packages/eslint-config/eslintrc.js
Labels: community-contribution

#4802 [RFC] adopt contributor covenant v2
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
Labels: Contributing, Docs, community-contribution

#6316 fix(docs): fix broken links
  docs/site/Dynamic-models-repositories-controllers.md
  docs/site/tutorials/core/11-summary.md
  docs/site/tutorials/soap-calculator/soap-calculator-tutorial-web-service-overview.md
  docs/site/tutorials/todo-list/todo-list-tutorial-model.md
  docs/site/tutorials/todo-list/todo-list-tutorial-sqldb.md
Labels: Docs

#6317 docs: fix broken links in filters
  docs/site/Order-filter.md
  docs/site/Querying-data.md
  docs/site/Where-filter.md
Labels: Docs

#6315 feat: allow dynamic value provider classes and classes with @inject to be booted
  docs/site/Booting-an-Application.md
  packages/boot/src/__tests__/fixtures/bindable-classes.artifact.ts
  packages/boot/src/__tests__/fixtures/service-dynamic-value-provider.artifact.ts
  packages/boot/src/__tests__/integration/service.booter.integration.ts
  packages/boot/src/booters/service.booter.ts
  packages/context/src/binding-inspector.ts
  packages/context/src/inject.ts
  packages/core/src/application.ts
  packages/core/src/service.ts
Labels: IoC/Context, feature

#6268 Add types to the model configuration for autocompletion
  packages/repository/src/model.ts
Labels: Repository, community-contribution, developer-experience

#6342 Sort keys + add description in package
  package.json
Labels: community-contribution

#6370 docs: improve docs for interceptors
  docs/site/Booting-an-Application.md
  docs/site/Interceptor.md
Labels: Docs

#6375 docs: fix note.html
  docs/site/Booting-an-Application.md
Labels: Docs

#6363 docs: reorganize error-codes page
  docs/site/reference/error-codes.md
Labels: Docs

#6319 feat(docs): update memory connector docs for lb4
  docs/site/Memory-connector.md
Labels: Docs, community-contribution

#6155 feat(rest): adds msgpack body parser
  .gitignore
  CODEOWNERS
  bodyparsers/rest-msgpack/.npmrc
  bodyparsers/rest-msgpack/LICENSE
  bodyparsers/rest-msgpack/README.md
  bodyparsers/rest-msgpack/package-lock.json
  bodyparsers/rest-msgpack/package.json
  bodyparsers/rest-msgpack/src/__tests__/acceptance/bodyparser.acceptance.ts
  bodyparsers/rest-msgpack/src/__tests__/acceptance/component.acceptance.ts
  bodyparsers/rest-msgpack/src/__tests__/unit/bodyparser.unit.ts
  bodyparsers/rest-msgpack/src/bodyparser.ts
  bodyparsers/rest-msgpack/src/component.ts
  bodyparsers/rest-msgpack/src/index.ts
  bodyparsers/rest-msgpack/src/keys.ts
  bodyparsers/rest-msgpack/tsconfig.json
  docs/site/Accepting-MessagePack-over-HTTP.md
  docs/site/MONOREPO.md
  docs/site/sidebars/lb4_sidebar.yml
  lerna.json
  tsconfig.json
Labels: REST, community-contribution

#6403 chore(rest-msgpack): update copyright header node module
  bodyparsers/rest-msgpack/LICENSE
  bodyparsers/rest-msgpack/src/__tests__/acceptance/bodyparser.acceptance.ts
  bodyparsers/rest-msgpack/src/__tests__/acceptance/component.acceptance.ts
  bodyparsers/rest-msgpack/src/__tests__/unit/bodyparser.unit.ts
  bodyparsers/rest-msgpack/src/bodyparser.ts
  bodyparsers/rest-msgpack/src/component.ts
  bodyparsers/rest-msgpack/src/index.ts
  bodyparsers/rest-msgpack/src/keys.ts
Labels: community-contribution

#6413 chore(context): fix GenericInterceptor tsdoc generation
  packages/context/src/interceptor-chain.ts
Labels: Docs, IoC/Context, community-contribution

#6412 chore(docs): fix broken context apidocs links
  docs/site/Application.md
Labels: Docs, community-contribution

#6404 chore(docs): add weak relations explainer
  docs/site/BelongsTo-relation.md
  docs/site/HasMany-relation.md
  docs/site/HasManyThrough-relation.md
  docs/site/HasOne-relation.md
  docs/site/Relations.md
Labels: Docs, community-contribution

#6280 feat(repository): implement hasManyThrough resolver
  docs/site/HasManyThrough-relation.md
  docs/site/Relation-generator.md
  packages/cli/generators/relation/has-many-through-relation.generator.js
  packages/cli/generators/relation/index.js
  packages/cli/snapshots/integration/generators/relation.has-many-through.integration.snapshots.js
  packages/cli/test/integration/generators/relation.has-many-through.integration.js
  packages/repository-tests/src/crud/relations/acceptance/has-many-through-inclusion-resolver.acceptance.ts
  packages/repository-tests/src/crud/relations/fixtures/models/index.ts
  packages/repository-tests/src/crud/relations/helpers.ts
  packages/repository/src/__tests__/unit/repositories/relations-helpers/flatten-targets-of-one-to-many-relation-helpers.unit.ts
  packages/repository/src/relations/has-many/has-many-through-repository.factory.ts
  packages/repository/src/relations/has-many/has-many-through.inclusion.resolver.ts
  packages/repository/src/relations/relation.helpers.ts
Labels: CLI, Relations, community-contribution

#6305 feat(docs): add Q4 roadmap
  docs/ROADMAP.md
Labels: roadmap

#6428 chore(docs): fix assortment of issues
  docs/site/sidebars/lb4_sidebar.yml
  docs/site/tutorials/core/1-introduction.md
  docs/site/tutorials/core/10-advanced-recipes.md
  docs/site/tutorials/core/11-summary.md
  docs/site/tutorials/core/3-context-in-action.md
  docs/site/tutorials/core/9-boot-by-convention.md
Labels: Docs, community-contribution

#6390 feat(cli): build before migrate and openapi-spec scripts
  examples/access-control-migration/package.json
  examples/express-composition/package.json
  examples/lb3-application/package.json
  examples/multi-tenancy/package.json
  examples/passport-login/package.json
  examples/rest-crud/package.json
  examples/todo-jwt/package.json
  examples/todo-list/package.json
  examples/todo/package.json
  examples/validation-app/package.json
  packages/cli/generators/project/templates/package.json.ejs
  packages/cli/test/integration/generators/app.integration.js
Labels: CLI, feature

#6432 fix(docs): fix broken links
  docs/site/Authentication-overview.md
  docs/site/Inside-Loopback-Application.md
  docs/site/Querying-data.md
  docs/site/RBAC-with-authorization.md
  docs/site/Where-filter.md
  docs/site/Working-with-data.md
  extensions/authentication-passport/README.md
  extensions/graphql/README.md
Labels: Docs

#6447 chore: add graphql module differentiator note
  docs/site/Using-openapi-to-graphql.md
  docs/site/sidebars/lb4_sidebar.yml
  extensions/graphql/README.md
Labels: Docs, community-contribution

#6457 chore(authentication-jwt): add action-based sequence-only note
  extensions/authentication-jwt/README.md
Labels: Authentication, Docs, community-contribution

#6371 docs: add troubleshooting guide
  docs/site/Debugging-tests-with-mocha.md
  docs/site/Running-debugging-apps.md
  docs/site/Troubleshooting.md
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs
