Repository loopbackio/loopback-next, pull requests merged in 2021-01, with the labels that each got.

#6908 chore: update LB3 LTS status to EOL
  README.md
  SECURITY.md
Labels: Docs, community-contribution

#6955 fix(repository): unwanted object param manipulation
  packages/repository/src/__tests__/unit/repositories/legacy-juggler-bridge.unit.ts
  packages/repository/src/__tests__/unit/repositories/relations-helpers/find-by-foreign-keys.unit.ts
  packages/repository/src/__tests__/unit/repositories/relations-helpers/include-related-models.unit.ts
  packages/repository/src/relations/relation.helpers.ts
Labels: Repository, community-contribution

#6975 ci: run GitHub Actions only for `master` and pull requests
  .github/workflows/continous-integration.yaml
Labels: Internal Tooling

#6974 ci: remove Travis CI integration
  .travis.yml
Labels: Internal Tooling

#6981 feat(metrics): add new Pushgateway options
  extensions/metrics/README.md
  extensions/metrics/src/__tests__/acceptance/metrics-push.acceptance.ts
  extensions/metrics/src/__tests__/acceptance/mock-pushgateway.ts
  extensions/metrics/src/observers/metrics.push.observer.ts
  extensions/metrics/src/types.ts
Labels: community-contribution

#6984 fix(docs): encoded inclusion filter code example
  docs/site/Include-filter.md
Labels: Docs, community-contribution

#6930 chore: add note to configure before component registration
  extensions/health/README.md
  extensions/logging/README.md
  extensions/metrics/README.md
Labels: Docs, community-contribution

#6940 chore: use correct refresh token binding namespace
  extensions/authentication-jwt/README.md
Labels: Docs, community-contribution

#6693 docs: move application recipes to how-to guides
  docs/site/Application-setup-tips.md
  docs/site/Application.md
  docs/site/Configuring-applications.md
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs, community-contribution

#6967 fix(cli): copyright year git integration
  packages/cli/generators/copyright/git.js
Labels: CLI, community-contribution

#6965 feat(docs): add warning on LB3 hooks 'this' behaviour
  docs/site/migration/models/operation-hooks.md
Labels: Docs, community-contribution

#7003 style(health): update variable names of openapi definitions
  extensions/health/src/controllers/health.controller.ts
Labels: Extensions, community-contribution

#7002 style(metrics): update variable names of openapi definitions
  extensions/metrics/src/controllers/metrics.controller.ts
  extensions/metrics/src/types.ts
Labels: Extensions, community-contribution

#7001 docs: improve tsdoc
  extensions/socketio/src/booters/socketio.booter.ts
  extensions/socketio/src/decorators/socketio.decorator.ts
Labels: Docs, Extensions, community-contribution

#7004 chore: update docs for new msgpack parser library
  bodyparsers/rest-msgpack/README.md
Labels: Docs, Extensions, community-contribution

#6997 Cleanup GitHub Actions workflows
  .github/workflows/codeql-analysis.yml
  .github/workflows/continous-integration.yaml
Labels: Internal Tooling, community-contribution

#7015 Use response decorator instead of operation decorator
  packages/cli/generators/app/templates/src/controllers/ping.controller.ts.ejs
  packages/cli/generators/controller/templates/src/controllers/controller-rest-template.ts.ejs
  packages/cli/generators/repository/templates/src/repositories/repository-crud-default-template.ts.ejs
  packages/cli/generators/repository/templates/src/repositories/repository-kv-template.ts.ejs
  packages/cli/generators/service/templates/remote-service-proxy-template.ts.ejs
  packages/cli/snapshots/integration/generators/app.integration.snapshots.js
  packages/cli/snapshots/integration/generators/controller.integration.snapshots.js
  packages/cli/snapshots/integration/generators/remote-service.integration.snapshots.js
  packages/cli/test/integration/generators/controller.integration.js
Labels: CLI, REST, community-contribution

#7019 feat: add connector interface enums
  packages/repository/src/connectors/connector.ts
Labels: Repository, community-contribution

#7016 Normalize debug scopes in relations
  docs/site/Setting-debug-strings.md
  packages/repository/src/__tests__/unit/repositories/has-many-through-repository-factory.unit.ts
  packages/repository/src/relations/belongs-to/belongs-to.accessor.ts
  packages/repository/src/relations/belongs-to/belongs-to.decorator.ts
  packages/repository/src/relations/belongs-to/belongs-to.helpers.ts
  packages/repository/src/relations/belongs-to/belongs-to.inclusion-resolver.ts
  packages/repository/src/relations/belongs-to/belongs-to.repository.ts
  packages/repository/src/relations/belongs-to/index.ts
  packages/repository/src/relations/has-many/has-many-through.helpers.ts
  packages/repository/src/relations/has-many/has-many-through.inclusion-resolver.ts
  packages/repository/src/relations/has-many/has-many-through.repository-factory.ts
  packages/repository/src/relations/has-many/has-many.helpers.ts
  packages/repository/src/relations/has-many/has-many.inclusion-resolver.ts
  packages/repository/src/relations/has-many/has-many.repository-factory.ts
  packages/repository/src/relations/has-many/has-many.repository.ts
  packages/repository/src/relations/has-many/index.ts
  packages/repository/src/relations/has-one/has-one.helpers.ts
  packages/repository/src/relations/has-one/has-one.inclusion-resolver.ts
  packages/repository/src/relations/has-one/has-one.repository-factory.ts
  packages/repository/src/relations/has-one/index.ts
Labels: Repository, community-contribution

#7026 feat(context): allow asProxyWithInterceptors to be used for non-class bindings
  packages/context/src/__tests__/acceptance/interception-proxy.acceptance.ts
  packages/context/src/binding.ts
Labels: IoC/Context, feature

#7065 docs(site): fix link path to 'JWT Service'
  docs/site/Inside-Loopback-Application.md
Labels: Docs, community-contribution

#7071 fix(cli): add graphql example
  docs/site/Examples.md
  packages/cli/generators/example/index.js
  packages/rest-explorer/package-lock.json
Labels: CLI, Docs

#7028 chore: update RenovateBot configuration
  .github/renovate.json
  .renovaterc.json
Labels: Internal Tooling, community-contribution
