Repository loopbackio/loopback-next, pull requests merged in 2021-03, with the labels that each got.

#7107 Update spdx-license-list
  packages/cli/generators/copyright/license.js
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/test/integration/generators/copyright.integration.js
Labels: dependencies

#7156 chore: add GH Discussions to issue templates
  .github/ISSUE_TEMPLATE/Feature_request.md
  .github/ISSUE_TEMPLATE/Migration_docs.md
  .github/ISSUE_TEMPLATE/Question.md
  .github/ISSUE_TEMPLATE/config.yml
Labels: Internal Tooling

#7284 docs: how to nominate a new maintainer
  docs/MAINTAINING.md
Labels: Docs

#7327 chore: symlink common docs files to root
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  MAINTAINING.md
Labels: Contributing, Internal Tooling

#7333 chore: update messages.json
  packages/cli/intl/en/messages.json
Labels: CLI

#7330 feat: allow one strategy to fail the authentication process
  docs/site/Authentication-component-options.md
  packages/authentication/src/__tests__/unit/providers/authentication.provider.unit.ts
  packages/authentication/src/providers/auth-action.provider.ts
  packages/authentication/src/types.ts
Labels: Authentication
