Repository loopbackio/loopback-next, pull requests merged in 2021-02, with the labels that each got.

#7084 fix(docs): documentation code snippet missing imports
  docs/site/migration/models/mixins.md
Labels: Docs, community-contribution

#7087 docs(context): fix URL link to 'Promise micro-task queue'
  docs/site/Context.md
Labels: Docs, community-contribution

#7091 fix(cli): add rebuild script to package.json of extensions
  packages/cli/generators/project/templates/package.json.ejs
  packages/cli/generators/project/templates/package.plain.json.ejs
Labels: CLI, community-contribution

#7095 docs: fix breaking change from js-yaml
  docs/bin/build-jekyll-preview-config.js
Labels: Docs

#6824 docs: simplify middleware-based sequence
  docs/site/Advanced-sequence-topics.md
  docs/site/Migrate-from-legacy-sequence.md
  docs/site/REST-action-sequence.md
  docs/site/REST-middleware-sequence.md
  docs/site/Working-with-express-middleware.md
  docs/site/sidebars/lb4_sidebar.yml
Labels: Docs, community-contribution

#7117 test(cli): use a more strict check license text
  packages/cli/test/integration/generators/copyright.integration.js
Labels: CLI, refactor
