Repository loopbackio/loopback-next, pull requests merged in 2021-06, with the labels that each got.

#7514 feat(repository): change the relation has-many-through support unlink…
  docs/site/HasManyThrough-relation.md
  packages/repository/src/__tests__/integration/repositories/relation.factory.integration.ts
  packages/repository/src/relations/has-many/has-many-through.repository.ts
Labels: Repository, feature

#7526 ci: clean up before build and fix the tests for npm v7
  .github/workflows/continuous-integration.yml
  packages/cli/test/acceptance/app-run.acceptance.js
Labels: Internal Tooling, bug

#7458 fix(cli): do not create migration script if repositories not selected
  packages/cli/generators/app/index.js
  packages/cli/generators/project/templates/package.json.ejs
  packages/cli/generators/project/templates/package.plain.json.ejs
  packages/cli/test/integration/generators/app.integration.js
Labels: CLI

#7580 docs: update doc extensions
  docs/site/Community-extensions.md
Labels: Docs
