Repository loopbackio/loopback-next, pull requests merged in 2021-05, with the labels that each got.

#7491 feat: adds support for disableMigration on repository mixin
  docs/site/Database-migrations.md
  packages/repository/src/__tests__/unit/mixins/repository.mixin.unit.ts
  packages/repository/src/mixins/repository.mixin.ts
Labels: Repository, feature

#7496 Fixes broken links and naming for UserController
  docs/site/Inside-Loopback-Application.md
Labels: Docs

#7516 chore: update README to use `WinstonLogger`
  extensions/logging/README.md
Labels: Docs, Extensions
