Repository loopbackio/loopback-next, changes with the owners that CODEOWNERS names for each.
All owners: @bajtos, @raymondfeng, @virkt25, @hacksparrow, @shimks, @jannyHou, @b-admike

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners,
# the last matching pattern has the most precedence.
#
# See https://help.github.com/articles/about-codeowners/

* @bajtos @raymondfeng

packages/authentication/* @bajtos @raymondfeng
packages/boot/* @raymondfeng @virkt25
packages/build/* @bajtos @raymondfeng
packages/http-caching-proxy/* @bajtos
packages/http-server/* @hacksparrow @bajtos
packages/cli/* @raymondfeng @shimks
packages/context/* @bajtos @raymondfeng
packages/core/* @bajtos @raymondfeng
packages/metadata/* @raymondfeng
packages/openapi-spec-builder/* @bajtos @raymondfeng
packages/openapi-v3/* @bajtos @jannyHou
packages/openapi-v3-types/* @bajtos @jannyHou
packages/repository/* @raymondfeng
packages/repository-json-schema/* @shimks
packages/rest/* @bajtos @raymondfeng
packages/service-proxy/* @raymondfeng
packages/testlab/* @bajtos
examples/todo/* @bajtos @virkt25
examples/hello-world/* @b-admike
examples/log-extension/* @virkt25
examples/rpc-server/* @virkt25
docs/* @bajtos @raymondfeng @virkt25 @b-admike @shimks @jannyHou

chore: publish release
  docs/CHANGELOG.md
  docs/package.json
  examples/hello-world/CHANGELOG.md
  examples/hello-world/package.json
  examples/log-extension/CHANGELOG.md
  examples/log-extension/package.json
  examples/todo/CHANGELOG.md
  examples/todo/package.json
  packages/authentication/CHANGELOG.md
  packages/authentication/package.json
  packages/boot/CHANGELOG.md
  packages/boot/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/openapi-v3/CHANGELOG.md
  packages/openapi-v3/package.json
  packages/repository-json-schema/CHANGELOG.md
  packages/repository-json-schema/package.json
  packages/repository/CHANGELOG.md
  packages/repository/package.json
  packages/rest/CHANGELOG.md
  packages/rest/package.json
Owners: @bajtos, @raymondfeng, @virkt25, @b-admike, @shimks, @jannyHou

feat: add tests for array and object
  packages/rest/src/index.ts
  packages/rest/src/rest-http-error.ts
  packages/rest/src/validation/request-body.validator.ts
  packages/rest/test/unit/request-body.validator.test.ts
Owners: @bajtos, @raymondfeng

feat: add tests for array and object
  packages/rest/src/index.ts
  packages/rest/src/rest-http-error.ts
  packages/rest/src/validation/request-body.validator.ts
  packages/rest/test/unit/request-body.validator.test.ts
Owners: @bajtos, @raymondfeng

feat(rest): add url property
  packages/rest/src/rest.server.ts
  packages/rest/test/integration/rest.server.integration.ts
Owners: @bajtos, @raymondfeng

feat(rest): add url property
  packages/rest/src/rest.server.ts
  packages/rest/test/integration/rest.server.integration.ts
Owners: @bajtos, @raymondfeng

fix(docs): fix example-todo diagram link
  docs/site/imgs/todo-overview.png
  examples/todo/README.md
Owners: @bajtos, @raymondfeng, @virkt25

fix(docs): fix example-todo diagram link
  docs/site/imgs/todo-overview.png
  examples/todo/README.md
Owners: @bajtos, @raymondfeng, @virkt25

fix(cli): install deps if necessary for datasource
  packages/cli/generators/datasource/index.js
Owners: @bajtos, @raymondfeng

feat(cli): add --format to run lint:fix for generated code
  packages/cli/generators/app/index.js
  packages/cli/lib/artifact-generator.js
  packages/cli/lib/base-generator.js
  packages/cli/test/acceptance/app-run.acceptance.js
  packages/cli/test/integration/lib/artifact-generator.js
Owners: @bajtos, @raymondfeng

build: optimize build script names
  examples/hello-world/package.json
  examples/log-extension/package.json
  examples/rpc-server/package.json
  examples/todo/package.json
  package.json
  packages/authentication/package.json
  packages/boot/package.json
  packages/cli/generators/project/templates/package.json.ejs
  packages/cli/generators/project/templates/package.plain.json.ejs
  packages/cli/package.json
  packages/cli/test/integration/lib/project-generator.js
  packages/context/package.json
  packages/core/package.json
  packages/http-caching-proxy/package.json
  packages/http-server/package.json
  packages/metadata/package.json
  packages/openapi-spec-builder/package.json
  packages/openapi-v3-types/package.json
  packages/openapi-v3/package.json
  packages/repository-json-schema/package.json
  packages/repository/package.json
  packages/rest/package.json
  packages/service-proxy/package.json
  packages/testlab/package.json
Owners: @b-admike, @virkt25, @bajtos, @raymondfeng, @shimks, @hacksparrow, @jannyHou

build: optimize build script names
  examples/hello-world/package.json
  examples/log-extension/package.json
  examples/rpc-server/package.json
  examples/todo/package.json
  package.json
  packages/authentication/package.json
  packages/boot/package.json
  packages/cli/generators/project/templates/package.json.ejs
  packages/cli/generators/project/templates/package.plain.json.ejs
  packages/cli/package.json
  packages/cli/test/integration/lib/project-generator.js
  packages/context/package.json
  packages/core/package.json
  packages/http-caching-proxy/package.json
  packages/http-server/package.json
  packages/metadata/package.json
  packages/openapi-spec-builder/package.json
  packages/openapi-v3-types/package.json
  packages/openapi-v3/package.json
  packages/repository-json-schema/package.json
  packages/repository/package.json
  packages/rest/package.json
  packages/service-proxy/package.json
  packages/testlab/package.json
Owners: @b-admike, @virkt25, @bajtos, @raymondfeng, @shimks, @hacksparrow, @jannyHou

docs: add --format option to run lint:fix for CLI
  docs/site/includes/CLI-std-options.md
  packages/cli/lib/base-generator.js
  packages/cli/lib/project-generator.js
  packages/cli/test/integration/generators/app.integration.js
Owners: @bajtos, @raymondfeng

fix(repository): fix return type of DefaultCrudRepository#_createHasManyRepositoryFactoryFor
  packages/repository/src/repositories/legacy-juggler-bridge.ts
Owners: @bajtos, @raymondfeng

fix(repository): fix return type of DefaultCrudRepository#_createHasManyRepositoryFactoryFor
  packages/repository/src/repositories/legacy-juggler-bridge.ts
Owners: @bajtos, @raymondfeng

fix(cli): install deps if necessary for datasource
  packages/cli/generators/datasource/index.js
Owners: @bajtos, @raymondfeng

feat(cli): add --format to run lint:fix for generated code
  packages/cli/generators/app/index.js
  packages/cli/lib/artifact-generator.js
  packages/cli/lib/base-generator.js
  packages/cli/test/acceptance/app-run.acceptance.js
  packages/cli/test/integration/lib/artifact-generator.js
Owners: @bajtos, @raymondfeng

docs: add --format option to run lint:fix for CLI
  docs/site/includes/CLI-std-options.md
  packages/cli/lib/base-generator.js
  packages/cli/lib/project-generator.js
  packages/cli/test/integration/generators/app.integration.js
Owners: @bajtos, @raymondfeng

chore: update apidocs' list for packages
  packages/authentication/docs.json
  packages/context/docs.json
  packages/http-server/docs.json
  packages/repository/docs.json
  packages/rest/docs.json
Owners: @bajtos, @raymondfeng, @hacksparrow

chore: update apidocs' list for packages
  packages/authentication/docs.json
  packages/context/docs.json
  packages/http-server/docs.json
  packages/repository/docs.json
  packages/rest/docs.json
Owners: @bajtos, @raymondfeng, @hacksparrow

chore: publish release
  docs/CHANGELOG.md
  docs/package.json
  examples/hello-world/CHANGELOG.md
  examples/hello-world/package.json
  examples/log-extension/CHANGELOG.md
  examples/log-extension/package.json
  examples/rpc-server/CHANGELOG.md
  examples/rpc-server/package.json
  examples/todo/CHANGELOG.md
  examples/todo/package.json
  packages/authentication/CHANGELOG.md
  packages/authentication/package.json
  packages/boot/CHANGELOG.md
  packages/boot/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/context/CHANGELOG.md
  packages/context/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/http-server/CHANGELOG.md
  packages/http-server/package.json
  packages/openapi-v3/CHANGELOG.md
  packages/openapi-v3/package.json
  packages/repository-json-schema/CHANGELOG.md
  packages/repository-json-schema/package.json
  packages/repository/CHANGELOG.md
  packages/repository/package.json
  packages/rest/CHANGELOG.md
  packages/rest/package.json
  packages/service-proxy/CHANGELOG.md
  packages/service-proxy/package.json
Owners: @bajtos, @raymondfeng, @virkt25, @b-admike, @shimks, @jannyHou, @hacksparrow

fix: path to test folder
  .vscode/launch.json
Owners: @bajtos, @raymondfeng

fix: path to test folder
  .vscode/launch.json
Owners: @bajtos, @raymondfeng

ci: skip IPv6 tests on Travis and remove sudo script
  .travis.yml
  packages/http-server/test/integration/http-server.integration.ts
  packages/rest/test/integration/rest.server.integration.ts
Owners: @bajtos, @raymondfeng

ci: skip IPv6 tests on Travis and remove sudo script
  .travis.yml
  packages/http-server/test/integration/http-server.integration.ts
  packages/rest/test/integration/rest.server.integration.ts
Owners: @bajtos, @raymondfeng

fix(cli): support updating multiple index.ts files
  packages/cli/lib/artifact-generator.js
Owners: @bajtos, @raymondfeng

feat(cli): `lb4 model` command to scaffold model files
  packages/cli/bin/cli.js
  packages/cli/generators/controller/index.js
  packages/cli/generators/model/index.js
  packages/cli/generators/model/templates/model.ts.ejs
  packages/cli/lib/utils.js
  packages/cli/test/integration/cli/cli.integration.js
  packages/cli/test/integration/generators/model.integration.js
  packages/cli/test/integration/lib/artifact-generator.js
Owners: @bajtos, @raymondfeng

refactor(example-todo): update files to match output from `lb4 model`
  examples/todo/src/models/todo.model.ts
Owners: @bajtos, @raymondfeng

fix(cli): support updating multiple index.ts files
  packages/cli/lib/artifact-generator.js
Owners: @bajtos, @raymondfeng

feat(cli): `lb4 model` command to scaffold model files
  packages/cli/bin/cli.js
  packages/cli/generators/controller/index.js
  packages/cli/generators/model/index.js
  packages/cli/generators/model/templates/model.ts.ejs
  packages/cli/lib/utils.js
  packages/cli/test/integration/cli/cli.integration.js
  packages/cli/test/integration/generators/model.integration.js
  packages/cli/test/integration/lib/artifact-generator.js
Owners: @bajtos, @raymondfeng

refactor(example-todo): update files to match output from `lb4 model`
  examples/todo/src/models/todo.model.ts
Owners: @bajtos, @raymondfeng

fix(example-todo): correct todo-overview image link
  examples/todo/README.md
Owners: @bajtos, @virkt25

fix(example-todo): correct todo-overview image link
  examples/todo/README.md
Owners: @bajtos, @virkt25

refactor(repository): switch order of generic arguments of HasManyRepositoryFactory
  packages/repository/src/repositories/legacy-juggler-bridge.ts
  packages/repository/src/repositories/relation.factory.ts
  packages/repository/test/acceptance/has-many-without-di.relation.acceptance.ts
  packages/repository/test/acceptance/has-many.relation.acceptance.ts
  packages/repository/test/integration/repositories/relation.factory.integration.ts
Owners: @bajtos, @raymondfeng

fix(repository): change RelationType from numeric to string enums
  packages/repository/src/decorators/relation.decorator.ts
Owners: @bajtos, @raymondfeng

docs(repository): hasMany relation docs
  docs/site/Concepts.md
  docs/site/HasMany-relation.md
  docs/site/Relations.md
  docs/site/imgs/hasMany-relation-example.png
  docs/site/sidebars/lb4_sidebar.yml
Owners: @bajtos, @raymondfeng

refactor(repository): switch order of generic arguments of HasManyRepositoryFactory
  packages/repository/src/repositories/legacy-juggler-bridge.ts
  packages/repository/src/repositories/relation.factory.ts
  packages/repository/test/acceptance/has-many-without-di.relation.acceptance.ts
  packages/repository/test/acceptance/has-many.relation.acceptance.ts
  packages/repository/test/integration/repositories/relation.factory.integration.ts
Owners: @bajtos, @raymondfeng

fix(repository): change RelationType from numeric to string enums
  packages/repository/src/decorators/relation.decorator.ts
Owners: @bajtos, @raymondfeng

docs(repository): hasMany relation docs
  docs/site/Concepts.md
  docs/site/HasMany-relation.md
  docs/site/Relations.md
  docs/site/imgs/hasMany-relation-example.png
  docs/site/sidebars/lb4_sidebar.yml
Owners: @bajtos, @raymondfeng

fix(cli): adds the <idtype> on param.path for those methods in the rest controller template parsing
  packages/cli/generators/controller/templates/src/controllers/controller-rest-template.ts.ejs
Owners: @bajtos, @raymondfeng

fix(cli): adds the <idtype> on param.path for those methods in the rest controller template parsing
  packages/cli/generators/controller/templates/src/controllers/controller-rest-template.ts.ejs
Owners: @bajtos, @raymondfeng
