Repository loopbackio/loopback-next, changes with the owners that CODEOWNERS names for each.
All owners: @bajtos, @raymondfeng, @kjdelisle, @shimks, @b-admike, @virkt25, @jannyHou

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners,
# the last matching pattern has the most precedence.

* @bajtos @raymondfeng @kjdelisle

packages/authentication/* @bajtos @kjdelisle
packages/build/* @bajtos @raymondfeng
packages/cli/* @raymondfeng @kjdelisle @shimks
packages/context/* @bajtos @raymondfeng  @kjdelisle
packages/core/* @bajtos @raymondfeng @kjdelisle
packages/example-getting-started/* @bajtos @kjdelisle
packages/example-hello-world/* @b-admike
packages/example-log-extension/* @virkt25
packages/example-microservices/* @raymondfeng @virkt25 @kjdelisle
packages/example-rpc-server/* @kjdelisle
packages/metadata/* @raymondfeng
packages/openapi-spec/*  @bajtos @jannyHou
packages/openapi-spec-builder/* @bajtos @raymondfeng
packages/openapi-v2/* @jannyHou
packages/repository/* @raymondfeng @kjdelisle
packages/repository-json-schema/* @shimks
packages/rest/* @bajtos @kjdelisle
packages/testlab/* @bajtos @kjdelisle

feat: add @loopback/types to be the typing system
  packages/types/.npmrc
  packages/types/LICENSE
  packages/types/README.md
  packages/types/docs.json
  packages/types/index.d.ts
  packages/types/index.js
  packages/types/index.ts
  packages/types/package.json
  packages/types/src/common-types.ts
  packages/types/src/handlers/any.ts
  packages/types/src/handlers/array.ts
  packages/types/src/handlers/boolean.ts
  packages/types/src/handlers/buffer.ts
  packages/types/src/handlers/date.ts
  packages/types/src/handlers/index.ts
  packages/types/src/handlers/number.ts
  packages/types/src/handlers/object.ts
  packages/types/src/handlers/string.ts
  packages/types/src/handlers/type.ts
  packages/types/src/handlers/union.ts
  packages/types/src/index.ts
  packages/types/src/mixin.ts
  packages/types/test/unit/mixin.test.ts
  packages/types/test/unit/type-handlers.test.ts
  packages/types/tsconfig.build.json
Owners: @bajtos, @raymondfeng, @kjdelisle

ci: add osx to build matrix
  .travis.yml
Owners: @bajtos, @raymondfeng, @kjdelisle

ci: add osx to build matrix (#949)
  .travis.yml
Owners: @bajtos, @raymondfeng, @kjdelisle

build: change node version to 8 or greater
  package.json
  packages/authentication/package.json
  packages/build/package.json
  packages/cli/package.json
  packages/context/package.json
  packages/core/package.json
  packages/example-hello-world/package.json
  packages/example-log-extension/package.json
  packages/example-rpc-server/package.json
  packages/metadata/package.json
  packages/openapi-spec-builder/package.json
  packages/openapi-spec/package.json
  packages/repository-json-schema/package.json
  packages/repository/package.json
  packages/rest/package.json
  packages/testlab/package.json
Owners: @bajtos, @raymondfeng, @kjdelisle, @shimks, @b-admike, @virkt25, @jannyHou

ci: drop node6 from travis and appveyor configs
  .travis.yml
  appveyor.yml
Owners: @bajtos, @raymondfeng, @kjdelisle

build: replace/remove node6 promisify helpers
  .nycrc
  packages/cli/docs.json
  packages/cli/generators/example/clone-example.js
  packages/cli/lib/utils.js
  packages/cli/package.json
  packages/cli/test/clone-example.test.js
  packages/core/docs.json
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/promisify.ts
  packages/rest/src/parser.ts
Owners: @bajtos, @raymondfeng, @kjdelisle, @shimks

fixup! apply feedback
  packages/rest/src/parser.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

Drop support for Node.js 6 (#948)
  .nycrc
  .travis.yml
  appveyor.yml
  package.json
  packages/authentication/package.json
  packages/build/package.json
  packages/cli/docs.json
  packages/cli/generators/example/clone-example.js
  packages/cli/lib/utils.js
  packages/cli/package.json
  packages/cli/test/clone-example.test.js
  packages/context/package.json
  packages/core/docs.json
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/promisify.ts
  packages/example-hello-world/package.json
  packages/example-log-extension/package.json
  packages/example-rpc-server/package.json
  packages/metadata/package.json
  packages/openapi-spec-builder/package.json
  packages/openapi-spec/package.json
  packages/repository-json-schema/package.json
  packages/repository/package.json
  packages/rest/package.json
  packages/rest/src/parser.ts
  packages/testlab/package.json
Owners: @bajtos, @raymondfeng, @kjdelisle, @shimks, @b-admike, @virkt25, @jannyHou

Publish
  packages/authentication/CHANGELOG.md
  packages/authentication/package.json
  packages/build/CHANGELOG.md
  packages/build/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/context/CHANGELOG.md
  packages/context/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/example-getting-started/CHANGELOG.md
  packages/example-getting-started/package.json
  packages/example-hello-world/CHANGELOG.md
  packages/example-hello-world/package.json
  packages/example-log-extension/CHANGELOG.md
  packages/example-log-extension/package.json
  packages/example-rpc-server/CHANGELOG.md
  packages/example-rpc-server/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/package.json
  packages/openapi-spec-builder/CHANGELOG.md
  packages/openapi-spec-builder/package.json
  packages/openapi-spec/CHANGELOG.md
  packages/openapi-spec/package.json
  packages/openapi-v2/CHANGELOG.md
  packages/openapi-v2/package.json
  packages/repository-json-schema/CHANGELOG.md
  packages/repository-json-schema/package.json
  packages/repository/CHANGELOG.md
  packages/repository/package.json
  packages/rest/CHANGELOG.md
  packages/rest/package.json
  packages/testlab/CHANGELOG.md
  packages/testlab/package.json
Owners: @bajtos, @kjdelisle, @raymondfeng, @shimks, @b-admike, @virkt25, @jannyHou

fix(example-getting-started): use RestApplication
  packages/example-getting-started/package.json
  packages/example-getting-started/src/application.ts
Owners: @bajtos, @kjdelisle, @raymondfeng

fix(example-getting-started): use RestApplication (#955)
  packages/example-getting-started/package.json
  packages/example-getting-started/src/application.ts
Owners: @bajtos, @kjdelisle, @raymondfeng

fix(example-getting-started): update readme to use RestApplication
  packages/example-getting-started/README.md
Owners: @bajtos, @kjdelisle

fix(example-getting-started): update readme to use RestApplication (#961)
  packages/example-getting-started/README.md
Owners: @bajtos, @kjdelisle

fix(build): fix tslint config and slipped violations
  packages/cli/generators/project/templates/tslint.json
  packages/context/src/binding.ts
  packages/context/src/inject.ts
  packages/context/src/resolution-session.ts
  packages/context/test/unit/value-promise.test.ts
  packages/example-getting-started/src/application.ts
  packages/example-getting-started/src/datasources/db.datasource.ts
  packages/example-hello-world/src/application.ts
  packages/openapi-v2/src/controller-spec.ts
  packages/repository-json-schema/src/build-schema.ts
  packages/testlab/src/test-sandbox.ts
  packages/testlab/test/integration/test-sandbox.integration.ts
  tslint.json
Owners: @bajtos, @raymondfeng, @kjdelisle

fix(build): fix tslint config and slipped violations
  packages/cli/generators/project/templates/tslint.json
  packages/context/src/binding.ts
  packages/context/src/inject.ts
  packages/context/src/resolution-session.ts
  packages/context/test/unit/value-promise.test.ts
  packages/example-getting-started/src/application.ts
  packages/example-getting-started/src/datasources/db.datasource.ts
  packages/example-hello-world/src/application.ts
  packages/openapi-v2/src/controller-spec.ts
  packages/repository-json-schema/src/build-schema.ts
  packages/testlab/src/test-sandbox.ts
  packages/testlab/test/integration/test-sandbox.integration.ts
  tslint.json
Owners: @bajtos, @raymondfeng, @kjdelisle

fix: use parameter level decorators for openapi params
  packages/example-getting-started/src/controllers/todo.controller.ts
  packages/example-getting-started/test/acceptance/application.test.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

fix(metadata): add more tests
  packages/metadata/src/decorator-factory.ts
  packages/metadata/test/unit/decorator-factory.test.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

fix: use parameter level decorators for openapi params
  packages/example-getting-started/src/controllers/todo.controller.ts
  packages/example-getting-started/test/acceptance/application.test.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

fix(metadata): add more tests
  packages/metadata/src/decorator-factory.ts
  packages/metadata/test/unit/decorator-factory.test.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

build: drop dist6 related targets
  package.json
  packages/authentication/index.js
  packages/authentication/package.json
  packages/cli/generators/app/templates/index.js
  packages/cli/generators/extension/templates/index.d.ts
  packages/cli/generators/extension/templates/index.js
  packages/cli/generators/project/templates/package.json
  packages/context/index.js
  packages/context/package.json
  packages/core/index.js
  packages/core/package.json
  packages/example-getting-started/index.js
  packages/example-getting-started/package.json
  packages/example-hello-world/index.js
  packages/example-hello-world/package.json
  packages/example-log-extension/index.js
  packages/example-log-extension/package.json
  packages/example-rpc-server/index.js
  packages/example-rpc-server/package.json
  packages/metadata/index.js
  packages/metadata/package.json
  packages/openapi-spec-builder/index.js
  packages/openapi-spec-builder/package.json
  packages/openapi-spec/index.js
  packages/openapi-spec/package.json
  packages/openapi-v2/index.js
  packages/openapi-v2/package.json
  packages/repository-json-schema/index.js
  packages/repository-json-schema/package.json
  packages/repository/index.js
  packages/repository/package.json
  packages/rest/index.js
  packages/rest/package.json
  packages/testlab/index.js
  packages/testlab/package.json
Owners: @bajtos, @raymondfeng, @kjdelisle, @b-admike, @virkt25, @jannyHou, @shimks

build: drop dist6 related targets (#945)
  package.json
  packages/authentication/index.js
  packages/authentication/package.json
  packages/cli/generators/app/templates/index.js
  packages/cli/generators/extension/templates/index.d.ts
  packages/cli/generators/extension/templates/index.js
  packages/cli/generators/project/templates/package.json
  packages/context/index.js
  packages/context/package.json
  packages/core/index.js
  packages/core/package.json
  packages/example-getting-started/index.js
  packages/example-getting-started/package.json
  packages/example-hello-world/index.js
  packages/example-hello-world/package.json
  packages/example-log-extension/index.js
  packages/example-log-extension/package.json
  packages/example-rpc-server/index.js
  packages/example-rpc-server/package.json
  packages/metadata/index.js
  packages/metadata/package.json
  packages/openapi-spec-builder/index.js
  packages/openapi-spec-builder/package.json
  packages/openapi-spec/index.js
  packages/openapi-spec/package.json
  packages/openapi-v2/index.js
  packages/openapi-v2/package.json
  packages/repository-json-schema/index.js
  packages/repository-json-schema/package.json
  packages/repository/index.js
  packages/repository/package.json
  packages/rest/index.js
  packages/rest/package.json
  packages/testlab/index.js
  packages/testlab/package.json
Owners: @bajtos, @raymondfeng, @kjdelisle, @b-admike, @virkt25, @jannyHou, @shimks

fix(repository-json-schema): fix README
  packages/repository-json-schema/README.md
Owners: @shimks

fix(repository-json-schema): fix $ref typo
  packages/openapi-v2/test/unit/controller-spec/controller-decorators/param-decorators/param.test.ts
  packages/repository-json-schema/src/build-schema.ts
  packages/repository-json-schema/test/integration/build-schema.test.ts
  packages/repository-json-schema/test/unit/build-schema.test.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

feat(context): add decorator & optional attrs to injection metadata
  packages/context/src/inject.ts
  packages/context/src/resolution-session.ts
  packages/context/src/resolver.ts
  packages/context/src/value-promise.ts
  packages/context/test/unit/resolver.test.ts
  packages/context/test/unit/value-promise.test.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

feat(context): reports the resolution path for circular deps
  packages/context/src/resolution-session.ts
  packages/context/test/unit/resolver.test.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

refactor(context): clean up imports/exports
  packages/context/src/binding.ts
  packages/context/src/index.ts
  packages/context/src/resolver.ts
  packages/context/src/value-promise.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

feat(context): add unbind() to allow remove bindings by key
  packages/context/src/context.ts
  packages/context/test/unit/context.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

feat(context): enhance binding caching to be context aware
  packages/context/src/binding.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

feat(context): add name to context
  packages/context/package.json
  packages/context/src/context.ts
  packages/context/test/unit/context.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

feat(context): add @inject.context for context injection
  packages/context/src/inject.ts
  packages/context/test/acceptance/class-level-bindings.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

fix(repository-json-schema): fix $ref typo (#963)
  packages/openapi-v2/test/unit/controller-spec/controller-decorators/param-decorators/param.test.ts
  packages/repository-json-schema/README.md
  packages/repository-json-schema/src/build-schema.ts
  packages/repository-json-schema/test/integration/build-schema.test.ts
  packages/repository-json-schema/test/unit/build-schema.test.ts
Owners: @bajtos, @raymondfeng, @kjdelisle, @shimks

fix(context): address review comments
  packages/context/src/binding.ts
  packages/context/src/context.ts
  packages/context/src/inject.ts
  packages/context/src/resolution-session.ts
  packages/context/src/resolver.ts
  packages/context/test/unit/context.ts
  packages/context/test/unit/resolver.test.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

fix(context): pass metadata to `@inject.tag`
  packages/context/src/inject.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

fixup! getBinding without options returns Binding (not undefined)
  packages/context/src/context.ts
  packages/context/test/unit/context.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

test(context): add unit tests for ResolutionSession
  packages/context/test/unit/resolution-session.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

docs(example-getting-started): use openapi-v2 decorators in readme
  packages/example-getting-started/README.md
Owners: @bajtos, @kjdelisle

docs(example-getting-started): use openapi-v2 decorators in readme
  packages/example-getting-started/README.md
Owners: @bajtos, @kjdelisle

chore(context): remove unused vars
  packages/context/src/context.ts
  packages/context/test/unit/resolution-session.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

feat(context): add name to context
  packages/context/package.json
  packages/context/src/context.ts
  packages/context/test/unit/context.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

test(context): add unit tests for ResolutionSession
  packages/context/test/unit/resolution-session.ts
Owners: @bajtos, @raymondfeng, @kjdelisle
