Repository loopbackio/loopback-next, changes with the owners that CODEOWNERS names for each.
All owners: @bajtos, @raymondfeng, @virkt25, @hacksparrow, @shimks, @jannyHou, @b-admike

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners,
# the last matching pattern has the most precedence.
#
# See https://help.github.com/articles/about-codeowners/

* @bajtos @raymondfeng

packages/authentication/* @bajtos @raymondfeng
packages/boot/* @raymondfeng @virkt25
packages/build/* @bajtos @raymondfeng
packages/http-caching-proxy/* @bajtos
packages/http-server/* @hacksparrow @bajtos
packages/cli/* @raymondfeng @shimks
packages/context/* @bajtos @raymondfeng
packages/core/* @bajtos @raymondfeng
packages/metadata/* @raymondfeng
packages/openapi-spec-builder/* @bajtos @raymondfeng
packages/openapi-v3/* @bajtos @jannyHou
packages/openapi-v3-types/* @bajtos @jannyHou
packages/repository/* @raymondfeng
packages/repository-json-schema/* @shimks
packages/rest/* @bajtos @raymondfeng
packages/service-proxy/* @raymondfeng
packages/testlab/* @bajtos
examples/todo/* @bajtos @virkt25
examples/hello-world/* @b-admike
examples/log-extension/* @virkt25
examples/rpc-server/* @virkt25
docs/* @bajtos @raymondfeng @virkt25 @b-admike @shimks @jannyHou

feat: add type coercion
  examples/todo/src/controllers/todo.controller.ts
  packages/rest/src/coercion/coerce-parameter.ts
  packages/rest/src/coercion/rest-http-error.ts
  packages/rest/src/coercion/validator.ts
  packages/rest/src/index.ts
  packages/rest/src/parser.ts
  packages/rest/test/acceptance/coercion/coercion.acceptance.ts
  packages/rest/test/unit/coercion/invalid-spec.unit.test.ts
  packages/rest/test/unit/coercion/paramStringToBoolean.unit.ts
  packages/rest/test/unit/coercion/paramStringToBuffer.unit.ts
  packages/rest/test/unit/coercion/paramStringToDate.unit.ts
  packages/rest/test/unit/coercion/paramStringToInteger.unit.ts
  packages/rest/test/unit/coercion/paramStringToNumber.unit.ts
  packages/rest/test/unit/coercion/utils.ts
Owners: @bajtos, @raymondfeng

feat: add type coercion
  examples/todo/src/controllers/todo.controller.ts
  packages/rest/src/coercion/coerce-parameter.ts
  packages/rest/src/coercion/rest-http-error.ts
  packages/rest/src/coercion/validator.ts
  packages/rest/src/index.ts
  packages/rest/src/parser.ts
  packages/rest/test/acceptance/coercion/coercion.acceptance.ts
  packages/rest/test/unit/coercion/invalid-spec.unit.test.ts
  packages/rest/test/unit/coercion/paramStringToBoolean.unit.ts
  packages/rest/test/unit/coercion/paramStringToBuffer.unit.ts
  packages/rest/test/unit/coercion/paramStringToDate.unit.ts
  packages/rest/test/unit/coercion/paramStringToInteger.unit.ts
  packages/rest/test/unit/coercion/paramStringToNumber.unit.ts
  packages/rest/test/unit/coercion/utils.ts
Owners: @bajtos, @raymondfeng

fix(docs): update todo-tutorial-juggler.md
  docs/site/todo-tutorial-juggler.md
Owners: @bajtos, @raymondfeng

fix(testlab): decache files in TestSandbox when resetting it
  packages/testlab/src/test-sandbox.ts
  packages/testlab/test/integration/test-sandbox.integration.ts
Owners: @bajtos, @raymondfeng

fix(testlab): decache files in TestSandbox when resetting it
  packages/testlab/src/test-sandbox.ts
  packages/testlab/test/integration/test-sandbox.integration.ts
Owners: @bajtos, @raymondfeng

fix(repository): check null for findOne CRUD method
  packages/repository/src/repositories/legacy-juggler-bridge.ts
  packages/repository/test/unit/repositories/legacy-juggler-bridge.unit.ts
Owners: @bajtos, @raymondfeng

docs: update Repository related docs
  docs/site/Model.md
  docs/site/Repositories.md
  packages/repository/README.md
Owners: @bajtos, @raymondfeng

docs: update Repository related docs
  docs/site/Model.md
  docs/site/Repositories.md
  packages/repository/README.md
Owners: @bajtos, @raymondfeng

fix(repository): accept class and instance for app.datasource
  packages/repository/src/mixins/repository.mixin.ts
  packages/repository/test/unit/mixins/repository.mixin.unit.ts
Owners: @bajtos, @raymondfeng

refactor(example-todo): use datasource cli generated files and datasource booters
  examples/todo/src/application.ts
  examples/todo/src/datasources/db.datasource.json
  examples/todo/src/datasources/db.datasource.ts
  examples/todo/src/datasources/index.ts
  examples/todo/test/acceptance/application.acceptance.ts
Owners: @bajtos, @raymondfeng

feat(cli): add lb4 datasource command
  .gitignore
  packages/cli/README.md
  packages/cli/bin/cli.js
  packages/cli/bin/download-connector-list.js
  packages/cli/docs.json
  packages/cli/generators/datasource/index.js
  packages/cli/generators/datasource/templates/datasource.ts.ejs
  packages/cli/lib/utils.js
  packages/cli/package.json
  packages/cli/test/integration/cli/cli.integration.js
  packages/cli/test/integration/generators/controller.integration.js
  packages/cli/test/integration/generators/datasource.integration.js
  packages/cli/test/unit/utils.unit.js
Owners: @bajtos, @raymondfeng, @shimks

feat(boot): datasource booter
  packages/boot/README.md
  packages/boot/docs.json
  packages/boot/src/boot.component.ts
  packages/boot/src/booters/datasource.booter.ts
  packages/boot/test/fixtures/datasource.artifact.ts
  packages/boot/test/integration/datasource.booter.integration.ts
  packages/boot/test/unit/boot.component.unit.ts
  packages/boot/test/unit/booters/datasource.booter.unit.ts
Owners: @raymondfeng, @virkt25, @bajtos

docs(docs): update docs with datasource cli and booter content
  docs/site/Booting-an-Application.md
  docs/site/Concepts.md
  docs/site/Controller-generator.md
  docs/site/DataSource-generator.md
  docs/site/DataSources.md
  docs/site/Glossary.md
  docs/site/sidebars/lb4_sidebar.yml
  docs/site/tables/lb4-artifact-commands.html
  docs/site/todo-tutorial-datasource.md
Owners: @bajtos, @raymondfeng

refactor(example-todo): use datasource cli generated files and datasource booters
  examples/todo/src/application.ts
  examples/todo/src/datasources/db.datasource.json
  examples/todo/src/datasources/db.datasource.ts
  examples/todo/src/datasources/index.ts
  examples/todo/test/acceptance/application.acceptance.ts
Owners: @bajtos, @raymondfeng

feat(boot): datasource booter
  packages/boot/README.md
  packages/boot/docs.json
  packages/boot/src/boot.component.ts
  packages/boot/src/booters/datasource.booter.ts
  packages/boot/test/fixtures/datasource.artifact.ts
  packages/boot/test/integration/datasource.booter.integration.ts
  packages/boot/test/unit/boot.component.unit.ts
  packages/boot/test/unit/booters/datasource.booter.unit.ts
Owners: @raymondfeng, @virkt25, @bajtos

fix(repository): accept class and instance for app.datasource
  packages/repository/src/mixins/repository.mixin.ts
  packages/repository/test/unit/mixins/repository.mixin.unit.ts
Owners: @bajtos, @raymondfeng

docs(docs): update docs with datasource cli and booter content
  docs/site/Booting-an-Application.md
  docs/site/Concepts.md
  docs/site/Controller-generator.md
  docs/site/DataSource-generator.md
  docs/site/DataSources.md
  docs/site/Glossary.md
  docs/site/sidebars/lb4_sidebar.yml
  docs/site/tables/lb4-artifact-commands.html
  docs/site/todo-tutorial-datasource.md
Owners: @bajtos, @raymondfeng

feat(cli): add lb4 datasource command
  .gitignore
  packages/cli/README.md
  packages/cli/bin/cli.js
  packages/cli/bin/download-connector-list.js
  packages/cli/docs.json
  packages/cli/generators/datasource/index.js
  packages/cli/generators/datasource/templates/datasource.ts.ejs
  packages/cli/lib/utils.js
  packages/cli/package.json
  packages/cli/test/integration/cli/cli.integration.js
  packages/cli/test/integration/generators/controller.integration.js
  packages/cli/test/integration/generators/datasource.integration.js
  packages/cli/test/unit/utils.unit.js
Owners: @bajtos, @raymondfeng, @shimks

fix: increase stalebot ttl
  .github/stale.yml
Owners: @bajtos, @raymondfeng

fix: increase stalebot ttl
  .github/stale.yml
Owners: @bajtos, @raymondfeng

docs: rename Best Practices page & sidebar section
  docs/site/Best-practices.md
  docs/site/sidebars/lb4_sidebar.yml
Owners: @bajtos, @raymondfeng

docs: rename Best Practices page & sidebar section
  docs/site/Best-practices.md
  docs/site/sidebars/lb4_sidebar.yml
Owners: @bajtos, @raymondfeng

revert: pin Node.js 10.x version to 10.0.0
  .travis.yml
Owners: @bajtos, @raymondfeng

test(cli): tweak test timeouts
  packages/cli/test/acceptance/app-run.acceptance.js
  packages/cli/test/integration/lib/project-generator.js
Owners: @bajtos, @raymondfeng

revert: pin Node.js 10.x version to 10.0.0
  .travis.yml
Owners: @bajtos, @raymondfeng

test(cli): tweak test timeouts
  packages/cli/test/acceptance/app-run.acceptance.js
  packages/cli/test/integration/lib/project-generator.js
Owners: @bajtos, @raymondfeng

fix(cli): update successful creation message
  docs/site/todo-tutorial-datasource.md
  docs/site/todo-tutorial-scaffolding.md
  packages/cli/generators/app/index.js
  packages/cli/generators/controller/index.js
  packages/cli/generators/controller/templates/src/controllers/controller-rest-template.ts.ejs
  packages/cli/generators/controller/templates/src/controllers/controller-template.ts.ejs
  packages/cli/lib/artifact-generator.js
Owners: @bajtos, @raymondfeng

fix(cli): update successful creation message
  docs/site/todo-tutorial-datasource.md
  docs/site/todo-tutorial-scaffolding.md
  packages/cli/generators/app/index.js
  packages/cli/generators/controller/index.js
  packages/cli/generators/controller/templates/src/controllers/controller-rest-template.ts.ejs
  packages/cli/generators/controller/templates/src/controllers/controller-template.ts.ejs
  packages/cli/lib/artifact-generator.js
Owners: @bajtos, @raymondfeng

chore(repository): separate execute function from repository interface
  packages/repository/src/decorators/repository.decorator.ts
  packages/repository/src/repositories/repository.ts
  packages/repository/test/unit/mixins/repository.mixin.unit.ts
Owners: @bajtos, @raymondfeng

chore(repository): separate execute function from repository interface
  packages/repository/src/decorators/repository.decorator.ts
  packages/repository/src/repositories/repository.ts
  packages/repository/test/unit/mixins/repository.mixin.unit.ts
Owners: @bajtos, @raymondfeng

docs: update Best Practices for DP3 release
  docs/site/Best-practices.md
  docs/site/Decorators.md
  docs/site/Defining-the-API-using-code-first-approach.md
  docs/site/Defining-the-API-using-design-first-approach.shelved.md
  docs/site/Defining-your-testing-strategy.md
  docs/site/Implementing-features.shelved.md
  docs/site/Preparing-the-API-for-consumption.shelved.md
  docs/site/Testing-the-API.shelved.md
  docs/site/Testing-your-application.md
  docs/site/sidebars/lb4_sidebar.yml
Owners: @bajtos, @raymondfeng

docs: update Best Practices for DP3 release
  docs/site/Best-practices.md
  docs/site/Decorators.md
  docs/site/Defining-the-API-using-code-first-approach.md
  docs/site/Defining-the-API-using-design-first-approach.shelved.md
  docs/site/Defining-your-testing-strategy.md
  docs/site/Implementing-features.shelved.md
  docs/site/Preparing-the-API-for-consumption.shelved.md
  docs/site/Testing-the-API.shelved.md
  docs/site/Testing-your-application.md
  docs/site/sidebars/lb4_sidebar.yml
Owners: @bajtos, @raymondfeng

fix(rest): stop an app that has not been started
  packages/rest/src/rest.server.ts
  packages/rest/test/integration/rest.server.integration.ts
Owners: @bajtos, @raymondfeng

fix(rest): stop an app that has not been started
  packages/rest/src/rest.server.ts
  packages/rest/test/integration/rest.server.integration.ts
Owners: @bajtos, @raymondfeng

fix(service-proxy): add missing dependency on dist-util
  packages/service-proxy/package.json
Owners: @raymondfeng

fix(http-caching-proxy): add missing dependency on dist-util
  packages/http-caching-proxy/package.json
Owners: @bajtos

feat(example-todo): add Geo to examples/todo
  docs/site/Calling-other-APIs-and-Web-Services.md
  examples/todo/package.json
  examples/todo/src/application.ts
  examples/todo/src/controllers/todo.controller.ts
  examples/todo/src/datasources/geocoder.datasource.json
  examples/todo/src/datasources/geocoder.datasource.ts
  examples/todo/src/models/todo.model.ts
  examples/todo/src/services/geocoder.service.ts
  examples/todo/src/services/index.ts
  examples/todo/test/acceptance/application.acceptance.ts
  examples/todo/test/helpers.ts
  examples/todo/test/integration/services/geocoder.service.integration.ts
  examples/todo/test/unit/controllers/todo.controller.unit.ts
  packages/core/src/index.ts
Owners: @bajtos, @raymondfeng, @virkt25

fix(http-caching-proxy): add missing dependency on dist-util
  packages/http-caching-proxy/package.json
Owners: @bajtos

fix(service-proxy): add missing dependency on dist-util
  packages/service-proxy/package.json
Owners: @raymondfeng

feat(example-todo): add Geo to examples/todo
  docs/site/Calling-other-APIs-and-Web-Services.md
  examples/todo/package.json
  examples/todo/src/application.ts
  examples/todo/src/controllers/todo.controller.ts
  examples/todo/src/datasources/geocoder.datasource.json
  examples/todo/src/datasources/geocoder.datasource.ts
  examples/todo/src/models/todo.model.ts
  examples/todo/src/services/geocoder.service.ts
  examples/todo/src/services/index.ts
  examples/todo/test/acceptance/application.acceptance.ts
  examples/todo/test/helpers.ts
  examples/todo/test/integration/services/geocoder.service.integration.ts
  examples/todo/test/unit/controllers/todo.controller.unit.ts
  packages/core/src/index.ts
Owners: @bajtos, @raymondfeng, @virkt25
