Repository loopbackio/loopback-next, changes with the owners that CODEOWNERS names for each.
All owners: @bajtos, @raymondfeng, @kjdelisle, @shimks, @b-admike, @virkt25, @jannyHou

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners,
# the last matching pattern has the most precedence.

* @bajtos @raymondfeng @kjdelisle

packages/authentication/* @bajtos @kjdelisle
packages/build/* @bajtos @raymondfeng
packages/cli/* @raymondfeng @kjdelisle @shimks
packages/context/* @bajtos @raymondfeng  @kjdelisle
packages/core/* @bajtos @raymondfeng @kjdelisle
packages/example-getting-started/* @bajtos @kjdelisle
packages/example-hello-world/* @b-admike
packages/example-log-extension/* @virkt25
packages/example-microservices/* @raymondfeng @virkt25 @kjdelisle
packages/example-rpc-server/* @kjdelisle
packages/metadata/* @raymondfeng
packages/openapi-spec/*  @bajtos @jannyHou
packages/openapi-spec-builder/* @bajtos @raymondfeng
packages/openapi-v2/* @jannyHou
packages/repository/* @raymondfeng @kjdelisle
packages/repository-json-schema/* @shimks
packages/rest/* @bajtos @kjdelisle
packages/testlab/* @bajtos @kjdelisle

Decouple application config from features (e.g. components) (#975)
  packages/authentication/test/acceptance/basic-auth.ts
  packages/cli/generators/extension/templates/src/mixins/README.md
  packages/cli/generators/extension/templates/src/providers/README.md
  packages/core/README.md
  packages/core/package.json
  packages/core/src/application.ts
  packages/core/test/acceptance/application.acceptance.ts
  packages/core/test/acceptance/application.feature.md
  packages/core/test/unit/application.test.ts
  packages/example-getting-started/src/application.ts
  packages/example-log-extension/README.md
  packages/example-log-extension/test/acceptance/log.extension.acceptance.ts
  packages/repository/README.md
  packages/repository/src/repository-mixin.ts
  packages/repository/test/unit/repository-mixin/repository-mixin.test.ts
  packages/rest/README.md
  packages/rest/src/rest-application.ts
  packages/rest/src/rest-server.ts
  packages/rest/test/acceptance/bootstrapping/rest.acceptance.ts
  packages/rest/test/acceptance/routing/routing.acceptance.ts
  packages/rest/test/acceptance/sequence/sequence.acceptance.ts
  packages/rest/test/integration/rest-server.integration.ts
  packages/rest/test/unit/rest-application/rest-application.test.ts
  packages/rest/test/unit/rest-component.test.ts
  packages/rest/test/unit/rest-server/rest-server.controller.test.ts
  packages/rest/test/unit/rest-server/rest-server.open-api-spec.test.ts
  packages/rest/test/unit/rest-server/rest-server.test.ts
Owners: @bajtos, @raymondfeng, @kjdelisle, @virkt25

fix: clean up example-log-extension
  packages/example-log-extension/README.md
  packages/example-log-extension/src/component.ts
  packages/example-log-extension/src/decorators/log.decorator.ts
  packages/example-log-extension/src/index.ts
  packages/example-log-extension/src/keys.ts
  packages/example-log-extension/src/providers/log-action.provider.ts
  packages/example-log-extension/src/providers/log-level.provider.ts
  packages/example-log-extension/src/types.ts
  packages/example-log-extension/test/acceptance/log.extension.acceptance.ts
  packages/example-log-extension/test/in-memory-logger.ts
  packages/example-log-extension/test/log-spy.ts
  packages/example-log-extension/test/unit/providers/log-action.provider.unit.ts
  packages/example-log-extension/test/unit/providers/log-level.provider.unit.ts
Owners: @virkt25, @bajtos, @raymondfeng, @kjdelisle

fix: clean up example-log-extension
  packages/example-log-extension/README.md
  packages/example-log-extension/src/component.ts
  packages/example-log-extension/src/decorators/log.decorator.ts
  packages/example-log-extension/src/index.ts
  packages/example-log-extension/src/keys.ts
  packages/example-log-extension/src/providers/log-action.provider.ts
  packages/example-log-extension/src/providers/log-level.provider.ts
  packages/example-log-extension/src/types.ts
  packages/example-log-extension/test/acceptance/log.extension.acceptance.ts
  packages/example-log-extension/test/in-memory-logger.ts
  packages/example-log-extension/test/log-spy.ts
  packages/example-log-extension/test/unit/providers/log-action.provider.unit.ts
  packages/example-log-extension/test/unit/providers/log-level.provider.unit.ts
Owners: @virkt25, @bajtos, @raymondfeng, @kjdelisle

fix(cli): remove copyright header from generated app
  packages/cli/generators/app/templates/index.js
  packages/cli/generators/app/templates/index.js.template
  packages/cli/generators/app/templates/src/application.ts.template
  packages/cli/generators/app/templates/src/controllers/ping.controller.ts.template
  packages/cli/generators/app/templates/src/index.ts.template
  packages/cli/generators/app/templates/src/sequence.ts.template
  packages/cli/generators/app/templates/test/ping.controller.test.ts.template
  packages/cli/generators/controller/index.js
  packages/cli/generators/controller/templates/src/controllers/controller-rest-template.ts.template
  packages/cli/generators/controller/templates/src/controllers/controller-template.ts
  packages/cli/generators/controller/templates/src/controllers/controller-template.ts.template
  packages/cli/generators/extension/templates/index.d.ts
  packages/cli/generators/extension/templates/index.d.ts.template
  packages/cli/generators/extension/templates/index.js
  packages/cli/generators/extension/templates/index.js.template
  packages/cli/generators/extension/templates/src/component.ts
  packages/cli/generators/extension/templates/src/component.ts.template
  packages/cli/generators/extension/templates/src/index.ts
  packages/cli/generators/extension/templates/src/index.ts.template
  packages/cli/generators/project/templates/index.ts
  packages/cli/generators/project/templates/index.ts.template
  packages/cli/lib/project-generator.js
  packages/cli/package.json
Owners: @bajtos, @raymondfeng, @kjdelisle, @shimks

fixup! apply feedback - use RegExp for matching instead of extname
  packages/cli/lib/project-generator.js
Owners: @bajtos, @raymondfeng, @kjdelisle

fix(cli): remove copyright header from generated app (#991)
  packages/cli/generators/app/templates/index.js
  packages/cli/generators/app/templates/index.js.template
  packages/cli/generators/app/templates/src/application.ts.template
  packages/cli/generators/app/templates/src/controllers/ping.controller.ts.template
  packages/cli/generators/app/templates/src/index.ts.template
  packages/cli/generators/app/templates/src/sequence.ts.template
  packages/cli/generators/app/templates/test/ping.controller.test.ts.template
  packages/cli/generators/controller/index.js
  packages/cli/generators/controller/templates/src/controllers/controller-rest-template.ts.template
  packages/cli/generators/controller/templates/src/controllers/controller-template.ts
  packages/cli/generators/controller/templates/src/controllers/controller-template.ts.template
  packages/cli/generators/extension/templates/index.d.ts
  packages/cli/generators/extension/templates/index.d.ts.template
  packages/cli/generators/extension/templates/index.js
  packages/cli/generators/extension/templates/index.js.template
  packages/cli/generators/extension/templates/src/component.ts
  packages/cli/generators/extension/templates/src/component.ts.template
  packages/cli/generators/extension/templates/src/index.ts
  packages/cli/generators/extension/templates/src/index.ts.template
  packages/cli/generators/project/templates/index.ts
  packages/cli/generators/project/templates/index.ts.template
  packages/cli/lib/project-generator.js
  packages/cli/package.json
Owners: @bajtos, @raymondfeng, @kjdelisle, @shimks

build: remove redundant "mocha" dependencies (#987)
  packages/cli/package.json
  packages/cli/test/utils.js
  packages/example-getting-started/package.json
  packages/example-log-extension/package.json
  packages/example-rpc-server/package.json
  packages/example-rpc-server/test/controllers/greet.controller.test.ts
  packages/example-rpc-server/test/servers/rpc-router.test.ts
Owners: @raymondfeng, @kjdelisle, @shimks, @bajtos, @virkt25

build: configure prettier to ignore ALL json files (#987)
  .prettierignore
Owners: @bajtos, @raymondfeng, @kjdelisle

build: upgrade VSCode tasks.json to version 2.0.0 (#987)
  .vscode/tasks.json
Owners: @bajtos, @raymondfeng, @kjdelisle

chore: clean up VSCode tasks (#987)
  .vscode/tasks.json
Owners: @bajtos, @raymondfeng, @kjdelisle

build: configure prettier to ignore ALL json files (#987)
  .prettierignore
Owners: @bajtos, @raymondfeng, @kjdelisle

build: upgrade VSCode tasks.json to version 2.0.0 (#987)
  .vscode/tasks.json
Owners: @bajtos, @raymondfeng, @kjdelisle

chore: clean up VSCode tasks (#987)
  .vscode/tasks.json
Owners: @bajtos, @raymondfeng, @kjdelisle

build: remove redundant "mocha" dependencies (#987)
  packages/cli/package.json
  packages/cli/test/utils.js
  packages/example-getting-started/package.json
  packages/example-log-extension/package.json
  packages/example-rpc-server/package.json
  packages/example-rpc-server/test/controllers/greet.controller.test.ts
  packages/example-rpc-server/test/servers/rpc-router.test.ts
Owners: @raymondfeng, @kjdelisle, @shimks, @bajtos, @virkt25

feat(cli): switch .template to .ejs
  packages/cli/generators/app/templates/index.js.ejs
  packages/cli/generators/app/templates/src/application.ts.ejs
  packages/cli/generators/app/templates/src/controllers/ping.controller.ts.ejs
  packages/cli/generators/app/templates/src/index.ts.ejs
  packages/cli/generators/app/templates/src/sequence.ts.ejs
  packages/cli/generators/app/templates/test/ping.controller.test.ts.ejs
  packages/cli/generators/extension/templates/index.d.ts.ejs
  packages/cli/generators/extension/templates/index.js.ejs
  packages/cli/generators/extension/templates/src/component.ts.ejs
  packages/cli/generators/extension/templates/src/index.ts.ejs
  packages/cli/generators/project/templates/.prettierignore
  packages/cli/generators/project/templates/README.md.ejs
  packages/cli/generators/project/templates/_.gitignore
  packages/cli/generators/project/templates/index.ts.ejs
  packages/cli/generators/project/templates/package.json.ejs
  packages/cli/generators/project/templates/package.plain.json.ejs
  packages/cli/generators/project/templates/tsconfig.json.ejs
  packages/cli/generators/project/templates/tslint.build.json.ejs
  packages/cli/generators/project/templates/tslint.json.ejs
  packages/cli/lib/project-generator.js
Owners: @bajtos, @raymondfeng, @kjdelisle

revert: undo removing dist6 from templates
  packages/cli/generators/project/templates/.prettierignore
  packages/cli/generators/project/templates/_.gitignore
Owners: @bajtos, @raymondfeng, @kjdelisle

feat(cli): switch .template to .ejs (#996)
  packages/cli/generators/app/templates/index.js.ejs
  packages/cli/generators/app/templates/src/application.ts.ejs
  packages/cli/generators/app/templates/src/controllers/ping.controller.ts.ejs
  packages/cli/generators/app/templates/src/index.ts.ejs
  packages/cli/generators/app/templates/src/sequence.ts.ejs
  packages/cli/generators/app/templates/test/ping.controller.test.ts.ejs
  packages/cli/generators/extension/templates/index.d.ts.ejs
  packages/cli/generators/extension/templates/index.js.ejs
  packages/cli/generators/extension/templates/src/component.ts.ejs
  packages/cli/generators/extension/templates/src/index.ts.ejs
  packages/cli/generators/project/templates/README.md.ejs
  packages/cli/generators/project/templates/index.ts.ejs
  packages/cli/generators/project/templates/package.json.ejs
  packages/cli/generators/project/templates/package.plain.json.ejs
  packages/cli/generators/project/templates/tsconfig.json.ejs
  packages/cli/generators/project/templates/tslint.build.json.ejs
  packages/cli/generators/project/templates/tslint.json.ejs
  packages/cli/lib/project-generator.js
Owners: @bajtos, @raymondfeng, @kjdelisle

chore(cli): update templates to remove Node 6 remnants
  packages/cli/generators/project/templates/.prettierignore
  packages/cli/generators/project/templates/_.gitignore
  packages/cli/generators/project/templates/tsconfig.json.ejs
Owners: @bajtos, @raymondfeng, @kjdelisle

chore(cli): update templates to remove Node 6 remnants (#998)
  packages/cli/generators/project/templates/.prettierignore
  packages/cli/generators/project/templates/_.gitignore
  packages/cli/generators/project/templates/tsconfig.json.ejs
Owners: @bajtos, @raymondfeng, @kjdelisle

docs: add description of packages for the monorepo
  MONOREPO.md
  README.md
Owners: @bajtos, @raymondfeng, @kjdelisle

docs: add description of packages for the monorepo
  MONOREPO.md
  README.md
Owners: @bajtos, @raymondfeng, @kjdelisle

test(cli): disable GitHub cloning tests
  packages/cli/test/clone-example.test.js
Owners: @bajtos, @raymondfeng, @kjdelisle

test(cli): disable GitHub cloning tests
  packages/cli/test/clone-example.test.js
Owners: @bajtos, @raymondfeng, @kjdelisle

docs(example-getting-started): split tutorial into separate files
  packages/example-getting-started/README.md
  packages/example-getting-started/docs/1-prerequisites-and-setup.md
  packages/example-getting-started/docs/2-scaffold-app.md
  packages/example-getting-started/docs/3-add-legacy-juggler.md
  packages/example-getting-started/docs/4-todo-model.md
  packages/example-getting-started/docs/5-datasource.md
  packages/example-getting-started/docs/6-repository.md
  packages/example-getting-started/docs/7-controller.md
  packages/example-getting-started/docs/8-putting-it-together.md
Owners: @bajtos, @kjdelisle, @raymondfeng

docs(example-getting-started): split tutorial into separate files
  packages/example-getting-started/README.md
  packages/example-getting-started/docs/1-prerequisites-and-setup.md
  packages/example-getting-started/docs/2-scaffold-app.md
  packages/example-getting-started/docs/3-add-legacy-juggler.md
  packages/example-getting-started/docs/4-todo-model.md
  packages/example-getting-started/docs/5-datasource.md
  packages/example-getting-started/docs/6-repository.md
  packages/example-getting-started/docs/7-controller.md
  packages/example-getting-started/docs/8-putting-it-together.md
Owners: @bajtos, @kjdelisle, @raymondfeng

Publish
  packages/authentication/CHANGELOG.md
  packages/authentication/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/context/CHANGELOG.md
  packages/context/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/example-getting-started/CHANGELOG.md
  packages/example-getting-started/package.json
  packages/example-hello-world/CHANGELOG.md
  packages/example-hello-world/package.json
  packages/example-log-extension/CHANGELOG.md
  packages/example-log-extension/package.json
  packages/example-rpc-server/CHANGELOG.md
  packages/example-rpc-server/package.json
  packages/openapi-v2/CHANGELOG.md
  packages/openapi-v2/package.json
  packages/repository-json-schema/CHANGELOG.md
  packages/repository-json-schema/package.json
  packages/repository/CHANGELOG.md
  packages/repository/package.json
  packages/rest/CHANGELOG.md
  packages/rest/package.json
Owners: @bajtos, @kjdelisle, @raymondfeng, @shimks, @b-admike, @virkt25, @jannyHou

feat(rest): app.route() and app.api()
  packages/rest/src/rest-application.ts
  packages/rest/src/rest-component.ts
  packages/rest/src/rest-server.ts
  packages/rest/test/acceptance/routing/routing.acceptance.ts
  packages/rest/test/acceptance/sequence/sequence.acceptance.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

feat(rest): app.route() and app.api()
  packages/rest/src/rest-application.ts
  packages/rest/src/rest-component.ts
  packages/rest/src/rest-server.ts
  packages/rest/test/acceptance/routing/routing.acceptance.ts
  packages/rest/test/acceptance/sequence/sequence.acceptance.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

docs: add CONTRIBUTING, DEVELOPING and VSCODE
  CONTRIBUTING.md
  docs/DEVELOPING.md
  docs/VSCODE.md
  docs/apidocs.html
Owners: @bajtos, @raymondfeng, @kjdelisle

docs: add CONTRIBUTING, DEVELOPING and VSCODE
  CONTRIBUTING.md
  docs/DEVELOPING.md
  docs/VSCODE.md
  docs/apidocs.html
Owners: @bajtos, @raymondfeng, @kjdelisle

fix(cli): add back the test for cloneExampleFromGitHub
  .gitignore
  .vscode/settings.json
  packages/cli/test/clone-example.test.js
Owners: @bajtos, @raymondfeng, @kjdelisle

fix(build): configure commit message for lerna publish
  lerna.json
Owners: @bajtos, @raymondfeng, @kjdelisle

feat: allow rest or array params for multiple args
  packages/context/src/binding.ts
  packages/context/src/value-promise.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

fix(context): add more tsdocs
  packages/context/src/binding.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

fixup! use promisified fs.readFile
  packages/cli/test/clone-example.test.js
Owners: @bajtos, @raymondfeng, @kjdelisle

fix(cli) Add back the test for cloneExampleFromGitHub (#1011)
  .gitignore
  .vscode/settings.json
  packages/cli/test/clone-example.test.js
Owners: @bajtos, @raymondfeng, @kjdelisle

docs: add new package
  MONOREPO.md
Owners: @bajtos, @raymondfeng, @kjdelisle

docs: add new package (#1013)
  MONOREPO.md
Owners: @bajtos, @raymondfeng, @kjdelisle

fix(build): configure commit message for lerna publish
  lerna.json
Owners: @bajtos, @raymondfeng, @kjdelisle

docs(example-getting-started): link docs pages together
  packages/example-getting-started/README.md
  packages/example-getting-started/docs/1-prerequisites-and-setup.md
  packages/example-getting-started/docs/2-scaffold-app.md
  packages/example-getting-started/docs/3-add-legacy-juggler.md
  packages/example-getting-started/docs/4-todo-model.md
  packages/example-getting-started/docs/5-datasource.md
  packages/example-getting-started/docs/6-repository.md
  packages/example-getting-started/docs/7-controller.md
  packages/example-getting-started/docs/8-putting-it-together.md
Owners: @bajtos, @kjdelisle, @raymondfeng
