Repository loopbackio/loopback-next, changes with the owners that CODEOWNERS names for each.
All owners: @bajtos, @raymondfeng, @kjdelisle, @shimks, @b-admike, @virkt25, @jannyHou

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners,
# the last matching pattern has the most precedence.

* @bajtos @raymondfeng @kjdelisle

packages/authentication/* @bajtos @kjdelisle
packages/build/* @bajtos @raymondfeng
packages/cli/* @raymondfeng @kjdelisle @shimks
packages/context/* @bajtos @raymondfeng  @kjdelisle
packages/core/* @bajtos @raymondfeng @kjdelisle
packages/example-getting-started/* @bajtos @kjdelisle
packages/example-hello-world/* @b-admike
packages/example-log-extension/* @virkt25
packages/example-microservices/* @raymondfeng @virkt25 @kjdelisle
packages/example-rpc-server/* @kjdelisle
packages/metadata/* @raymondfeng
packages/openapi-spec/*  @bajtos @jannyHou
packages/openapi-spec-builder/* @bajtos @raymondfeng
packages/openapi-v2/* @jannyHou
packages/repository/* @raymondfeng @kjdelisle
packages/repository-json-schema/* @shimks
packages/rest/* @bajtos @kjdelisle
packages/testlab/* @bajtos @kjdelisle

fix(context): pass metadata to `@inject.tag`
  packages/context/src/inject.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

fixup! getBinding without options returns Binding (not undefined)
  packages/context/src/context.ts
  packages/context/test/unit/context.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

fix(context): address review comments
  packages/context/src/binding.ts
  packages/context/src/context.ts
  packages/context/src/inject.ts
  packages/context/src/resolution-session.ts
  packages/context/src/resolver.ts
  packages/context/test/unit/context.ts
  packages/context/test/unit/resolver.test.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

feat(context): add decorator & optional attrs to injection metadata
  packages/context/src/inject.ts
  packages/context/src/resolution-session.ts
  packages/context/src/resolver.ts
  packages/context/src/value-promise.ts
  packages/context/test/unit/resolver.test.ts
  packages/context/test/unit/value-promise.test.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

refactor(context): clean up imports/exports
  packages/context/src/binding.ts
  packages/context/src/index.ts
  packages/context/src/resolver.ts
  packages/context/src/value-promise.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

feat(context): add @inject.context for context injection
  packages/context/src/inject.ts
  packages/context/test/acceptance/class-level-bindings.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

feat(context): enhance binding caching to be context aware
  packages/context/src/binding.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

feat(context): add unbind() to allow remove bindings by key
  packages/context/src/context.ts
  packages/context/test/unit/context.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

feat(context): reports the resolution path for circular deps
  packages/context/src/resolution-session.ts
  packages/context/test/unit/resolver.test.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

chore(context): remove unused vars
  packages/context/src/context.ts
  packages/context/test/unit/resolution-session.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

Publish
  packages/authentication/CHANGELOG.md
  packages/authentication/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/context/CHANGELOG.md
  packages/context/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/example-getting-started/CHANGELOG.md
  packages/example-getting-started/package.json
  packages/example-hello-world/CHANGELOG.md
  packages/example-hello-world/package.json
  packages/example-log-extension/CHANGELOG.md
  packages/example-log-extension/package.json
  packages/example-rpc-server/CHANGELOG.md
  packages/example-rpc-server/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/package.json
  packages/openapi-spec-builder/CHANGELOG.md
  packages/openapi-spec-builder/package.json
  packages/openapi-spec/CHANGELOG.md
  packages/openapi-spec/package.json
  packages/openapi-v2/CHANGELOG.md
  packages/openapi-v2/package.json
  packages/repository-json-schema/CHANGELOG.md
  packages/repository-json-schema/package.json
  packages/repository/CHANGELOG.md
  packages/repository/package.json
  packages/rest/CHANGELOG.md
  packages/rest/package.json
  packages/testlab/CHANGELOG.md
  packages/testlab/package.json
Owners: @bajtos, @kjdelisle, @raymondfeng, @shimks, @b-admike, @virkt25, @jannyHou

fix(example-getting-started): remove juggler warning
  packages/example-getting-started/src/controllers/todo.controller.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

fix(example-getting-started): remove juggler warning
  packages/example-getting-started/src/controllers/todo.controller.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

chore: cleanup of top level files
  .nycrc
  .prettierignore
  .vscode/launch.json
  .vscode/settings.json
  CHANGELOG.md
  appveyor.yml
Owners: @bajtos, @raymondfeng, @kjdelisle

chore: cleanup of top level files (#976)
  .nycrc
  .prettierignore
  .vscode/launch.json
  .vscode/settings.json
  CHANGELOG.md
  appveyor.yml
Owners: @bajtos, @raymondfeng, @kjdelisle

feat(context): formalize injection metadata as an interface
  packages/context/src/index.ts
  packages/context/src/inject.ts
  packages/context/src/resolution-session.ts
  packages/context/test/unit/resolver.test.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

feat(context): formalize injection metadata as an interface
  packages/context/src/index.ts
  packages/context/src/inject.ts
  packages/context/src/resolution-session.ts
  packages/context/test/unit/resolver.test.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

chore: separate tslint config files for build and vscode
  packages/cli/generators/project/templates/tslint.build.json
  packages/cli/generators/project/templates/tslint.json
  tslint.build.json
  tslint.json
Owners: @bajtos, @raymondfeng, @kjdelisle

chore: separate tslint config files for build and vscode
  packages/cli/generators/project/templates/tslint.build.json
  packages/cli/generators/project/templates/tslint.json
  tslint.build.json
  tslint.json
Owners: @bajtos, @raymondfeng, @kjdelisle

refactor: simplify app setup via RestApplication
  packages/authentication/README.md
  packages/cli/generators/app/templates/src/application.ts
  packages/cli/test/app.js
  packages/rest/README.md
Owners: @bajtos, @kjdelisle, @raymondfeng

fixup! address code review comments
  packages/authentication/README.md
  packages/cli/generators/app/templates/src/application.ts
  packages/example-hello-world/src/application.ts
  packages/example-log-extension/README.md
  packages/rest/README.md
  packages/rest/package.json
Owners: @bajtos, @kjdelisle, @raymondfeng, @virkt25

refactor: simplify app setup via RestApplication (part II) (#968)
  packages/authentication/README.md
  packages/cli/generators/app/templates/src/application.ts
  packages/cli/test/app.js
  packages/example-hello-world/src/application.ts
  packages/example-log-extension/README.md
  packages/rest/README.md
  packages/rest/package.json
Owners: @bajtos, @kjdelisle, @raymondfeng, @virkt25

fix(context): make context single parent by default
  packages/context/src/context.ts
  packages/context/test/acceptance/child-context.ts
  packages/context/test/unit/context.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

feat(context): add support for multi-context delegation
  packages/context/src/context.ts
  packages/context/src/inject.ts
  packages/context/test/acceptance/child-context.ts
  packages/context/test/unit/context.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

feat(context): add utility methods to handle iteratables
  packages/context/src/iteratable.ts
  packages/context/test/unit/iteratable.test.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

feat(context): add binding options and @inject.options
  packages/context/src/binding.ts
  packages/context/src/context.ts
  packages/context/src/inject.ts
  packages/context/test/acceptance/class-level-bindings.ts
  packages/context/test/unit/binding.ts
  packages/rest/src/router/routing-table.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

fix(example-getting-started): use sinon from testlab
  packages/example-getting-started/package.json
  packages/example-getting-started/test/unit/controllers/todo.controller.test.ts
Owners: @bajtos, @kjdelisle, @raymondfeng

build: configure prettier to ignore ALL json files (#985)
  .prettierignore
Owners: @bajtos, @raymondfeng, @kjdelisle

build: upgrade VSCode tasks.json to version 2.0.0 (#985)
  .vscode/tasks.json
Owners: @bajtos, @raymondfeng, @kjdelisle

build: add experimental watch mode (#985)
  .gitignore
  .prettierignore
  .vscode/settings.json
  .vscode/tasks.json
  bin/tsc-watch-monorepo.js
  package.json
  packages/build/bin/compile-package.js
  packages/build/config/tsconfig.build.json
  packages/build/index.js
  tsconfig.json
Owners: @bajtos, @raymondfeng, @kjdelisle

fixup! cleanup in tsc-watch-monorepo
  bin/tsc-watch-monorepo.js
Owners: @bajtos, @raymondfeng, @kjdelisle

fixup! revert unintentional changes of tsconfig.build.json
  packages/build/config/tsconfig.build.json
Owners: @bajtos, @raymondfeng, @kjdelisle

fix(example-getting-started): use sinon from testlab (#984)
  packages/example-getting-started/package.json
  packages/example-getting-started/test/unit/controllers/todo.controller.test.ts
Owners: @bajtos, @kjdelisle, @raymondfeng

ci(cli): increase timeout for a slow acceptance test
  packages/cli/test/clone-example.test.js
Owners: @bajtos, @raymondfeng, @kjdelisle

ci(cli): increase timeout for a slow acceptance test (#986)
  packages/cli/test/clone-example.test.js
Owners: @bajtos, @raymondfeng, @kjdelisle

fix(rest): rebase against RestApplication PR
  packages/authentication/README.md
  packages/example-log-extension/README.md
Owners: @bajtos, @kjdelisle, @virkt25

fix(core): decouple app config from assembly
  packages/authentication/test/acceptance/basic-auth.ts
  packages/core/package.json
  packages/core/src/application.ts
  packages/core/test/acceptance/application.acceptance.ts
  packages/core/test/unit/application.test.ts
  packages/example-getting-started/src/application.ts
  packages/example-log-extension/test/acceptance/log.extension.acceptance.ts
  packages/repository/src/repository-mixin.ts
  packages/repository/test/unit/repository-mixin/repository-mixin.test.ts
  packages/rest/src/rest-application.ts
  packages/rest/test/acceptance/bootstrapping/rest.acceptance.ts
  packages/rest/test/acceptance/routing/routing.acceptance.ts
  packages/rest/test/acceptance/sequence/sequence.acceptance.ts
  packages/rest/test/integration/rest-server.integration.ts
  packages/rest/test/unit/rest-application/rest-application.test.ts
  packages/rest/test/unit/rest-component.test.ts
  packages/rest/test/unit/rest-server/rest-server.controller.test.ts
  packages/rest/test/unit/rest-server/rest-server.open-api-spec.test.ts
  packages/rest/test/unit/rest-server/rest-server.test.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

fix(core): add comments
  packages/core/README.md
  packages/core/src/application.ts
  packages/core/test/unit/application.test.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

fix(core): get rid of array registration
  packages/authentication/test/acceptance/basic-auth.ts
  packages/cli/generators/extension/templates/src/mixins/README.md
  packages/cli/generators/extension/templates/src/providers/README.md
  packages/core/README.md
  packages/core/src/application.ts
  packages/core/test/acceptance/application.acceptance.ts
  packages/core/test/acceptance/application.feature.md
  packages/core/test/unit/application.test.ts
  packages/example-log-extension/README.md
  packages/example-log-extension/test/acceptance/log.extension.acceptance.ts
  packages/rest/README.md
  packages/rest/src/rest-server.ts
  packages/rest/test/unit/rest-application/rest-application.test.ts
Owners: @bajtos, @raymondfeng, @kjdelisle, @virkt25

fix(core): update the readmes
  packages/authentication/README.md
  packages/core/README.md
  packages/example-log-extension/README.md
  packages/repository/README.md
  packages/rest/README.md
Owners: @bajtos, @kjdelisle, @raymondfeng, @virkt25
