Repository loopbackio/loopback-next, changes with the owners that CODEOWNERS names for each.
All owners: @bajtos, @raymondfeng, @kjdelisle, @shimks, @b-admike, @virkt25, @jannyHou

docs(example-getting-started): add links to tutorial paths
  packages/example-getting-started/README.md
Owners: @bajtos, @kjdelisle

docs(example-getting-started): switch to md links
  packages/example-getting-started/README.md
  packages/example-getting-started/docs/1-prerequisites-and-setup.md
  packages/example-getting-started/docs/2-scaffold-app.md
  packages/example-getting-started/docs/3-add-legacy-juggler.md
  packages/example-getting-started/docs/4-todo-model.md
  packages/example-getting-started/docs/5-datasource.md
  packages/example-getting-started/docs/6-repository.md
  packages/example-getting-started/docs/7-controller.md
  packages/example-getting-started/docs/8-putting-it-together.md
Owners: @bajtos, @kjdelisle, @raymondfeng

docs(example-getting-started): add tutorial steps for easy nav
  packages/example-getting-started/README.md
Owners: @bajtos, @kjdelisle

fix(example-getting-started): correct spacing on navigation sections
  packages/example-getting-started/docs/2-scaffold-app.md
  packages/example-getting-started/docs/3-add-legacy-juggler.md
  packages/example-getting-started/docs/4-todo-model.md
  packages/example-getting-started/docs/5-datasource.md
  packages/example-getting-started/docs/6-repository.md
  packages/example-getting-started/docs/7-controller.md
Owners: @bajtos, @raymondfeng, @kjdelisle

fix(example-getting-started): correct spacing on navigation sections
  packages/example-getting-started/docs/2-scaffold-app.md
  packages/example-getting-started/docs/3-add-legacy-juggler.md
  packages/example-getting-started/docs/4-todo-model.md
  packages/example-getting-started/docs/5-datasource.md
  packages/example-getting-started/docs/6-repository.md
  packages/example-getting-started/docs/7-controller.md
Owners: @bajtos, @raymondfeng, @kjdelisle

docs(example-getting-started): add tutorial steps for easy nav
  packages/example-getting-started/README.md
Owners: @bajtos, @kjdelisle

docs(example-getting-started): link docs pages together
  packages/example-getting-started/README.md
  packages/example-getting-started/docs/1-prerequisites-and-setup.md
  packages/example-getting-started/docs/2-scaffold-app.md
  packages/example-getting-started/docs/3-add-legacy-juggler.md
  packages/example-getting-started/docs/4-todo-model.md
  packages/example-getting-started/docs/5-datasource.md
  packages/example-getting-started/docs/6-repository.md
  packages/example-getting-started/docs/7-controller.md
  packages/example-getting-started/docs/8-putting-it-together.md
Owners: @bajtos, @kjdelisle, @raymondfeng

docs(example-getting-started): add links to tutorial paths
  packages/example-getting-started/README.md
Owners: @bajtos, @kjdelisle

docs(example-getting-started): switch to md links
  packages/example-getting-started/README.md
  packages/example-getting-started/docs/1-prerequisites-and-setup.md
  packages/example-getting-started/docs/2-scaffold-app.md
  packages/example-getting-started/docs/3-add-legacy-juggler.md
  packages/example-getting-started/docs/4-todo-model.md
  packages/example-getting-started/docs/5-datasource.md
  packages/example-getting-started/docs/6-repository.md
  packages/example-getting-started/docs/7-controller.md
  packages/example-getting-started/docs/8-putting-it-together.md
Owners: @bajtos, @kjdelisle, @raymondfeng

refactor(example-getting-started): use @loopback/boot
  packages/cli/test/sandbox/loopback4-example-getting-started/.npmrc
  packages/cli/test/sandbox/loopback4-example-getting-started/CHANGELOG.md
  packages/cli/test/sandbox/loopback4-example-getting-started/LICENSE
  packages/cli/test/sandbox/loopback4-example-getting-started/README.md
  packages/cli/test/sandbox/loopback4-example-getting-started/config/datasources.json
  packages/cli/test/sandbox/loopback4-example-getting-started/data/db.json
  packages/cli/test/sandbox/loopback4-example-getting-started/docs/1-prerequisites-and-setup.md
  packages/cli/test/sandbox/loopback4-example-getting-started/docs/2-scaffold-app.md
  packages/cli/test/sandbox/loopback4-example-getting-started/docs/3-add-legacy-juggler.md
  packages/cli/test/sandbox/loopback4-example-getting-started/docs/4-todo-model.md
  packages/cli/test/sandbox/loopback4-example-getting-started/docs/5-datasource.md
  packages/cli/test/sandbox/loopback4-example-getting-started/docs/6-repository.md
  packages/cli/test/sandbox/loopback4-example-getting-started/docs/7-controller.md
  packages/cli/test/sandbox/loopback4-example-getting-started/docs/8-putting-it-together.md
  packages/cli/test/sandbox/loopback4-example-getting-started/index.d.ts
  packages/cli/test/sandbox/loopback4-example-getting-started/index.js
  packages/cli/test/sandbox/loopback4-example-getting-started/index.ts
  packages/cli/test/sandbox/loopback4-example-getting-started/package.json
  packages/cli/test/sandbox/loopback4-example-getting-started/src/application.ts
  packages/cli/test/sandbox/loopback4-example-getting-started/src/controllers/index.ts
  packages/cli/test/sandbox/loopback4-example-getting-started/src/controllers/todo.controller.ts
  packages/cli/test/sandbox/loopback4-example-getting-started/src/datasources/db.datasource.ts
  packages/cli/test/sandbox/loopback4-example-getting-started/src/index.ts
  packages/cli/test/sandbox/loopback4-example-getting-started/src/models/index.ts
  packages/cli/test/sandbox/loopback4-example-getting-started/src/models/todo.model.ts
  packages/cli/test/sandbox/loopback4-example-getting-started/src/repositories/index.ts
  packages/cli/test/sandbox/loopback4-example-getting-started/src/repositories/todo.repository.ts
  packages/cli/test/sandbox/loopback4-example-getting-started/test/acceptance/application.test.ts
  packages/cli/test/sandbox/loopback4-example-getting-started/test/helpers.ts
  packages/cli/test/sandbox/loopback4-example-getting-started/test/unit/controllers/todo.controller.test.ts
  packages/cli/test/sandbox/loopback4-example-getting-started/tsconfig.build.json
Owners: @bajtos, @raymondfeng, @kjdelisle

feat(boot): controller booter implementation
  packages/boot/src/booters/base-artifact.booter.ts
  packages/boot/src/booters/booter-utils.ts
  packages/boot/src/booters/controller.booter.ts
  packages/boot/src/booters/index.ts
  packages/boot/test/acceptance/controller.booter.acceptance.ts
  packages/boot/test/fixtures/application.ts
  packages/boot/test/fixtures/empty.artifact.ts
  packages/boot/test/fixtures/multiple.artifact.ts
  packages/boot/test/integration/controller.booter.integration.ts
  packages/boot/test/unit/booters/base-artifact.booter.unit.ts
  packages/boot/test/unit/booters/booter-utils.unit.ts
  packages/boot/test/unit/booters/controller.booter.unit.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

feat(core): add boot, booters, and related interfaces / types
  packages/core/docs.json
  packages/core/src/application.ts
  packages/core/src/booter.ts
  packages/core/src/component.ts
  packages/core/src/index.ts
  packages/core/src/keys.ts
  packages/core/test/unit/application.test.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

feat(boot): initial project setup
  packages/boot/.npmrc
  packages/boot/LICENSE
  packages/boot/index.d.ts
  packages/boot/index.js
  packages/boot/index.ts
  packages/boot/package.json
  packages/boot/tsconfig.build.json
Owners: @bajtos, @raymondfeng, @kjdelisle

feat(boot): bootstrapper implementation
  packages/boot/README.md
  packages/boot/docs.json
  packages/boot/src/boot.component.ts
  packages/boot/src/bootstrapper.ts
  packages/boot/src/index.ts
  packages/boot/src/keys.ts
  packages/boot/test/unit/boot.component.unit.ts
  packages/boot/test/unit/bootstrapper.unit.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

fix(cli): add comments to template
  packages/cli/generators/app/templates/src/application.ts.ejs
Owners: @bajtos, @raymondfeng, @kjdelisle

fix(cli): loopbackBoot should always be enabled and not an option
  packages/cli/generators/app/index.js
  packages/cli/generators/app/templates/src/application.ts.ejs
  packages/cli/generators/project/templates/package.json.ejs
  packages/cli/generators/project/templates/package.plain.json.ejs
Owners: @bajtos, @raymondfeng, @kjdelisle

fix(boot): fix test name
  packages/boot/test/unit/bootstrapper.unit.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

feat(cli): enable loopbackBoot as a option for new app projects
  packages/cli/generators/app/index.js
  packages/cli/generators/app/templates/src/application.ts.ejs
  packages/cli/generators/app/templates/src/index.ts.ejs
  packages/cli/generators/project/templates/package.json.ejs
  packages/cli/generators/project/templates/package.plain.json.ejs
  packages/cli/lib/project-generator.js
  packages/cli/test/app.js
Owners: @bajtos, @raymondfeng, @kjdelisle

style(core): update style for if statement
  packages/core/src/application.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

fix(boot): move bootOptions to ApplicationConfig
  packages/boot/src/bootstrapper.ts
  packages/boot/test/fixtures/application.ts
  packages/boot/test/unit/bootstrapper.unit.ts
  packages/cli/generators/app/templates/src/application.ts.ejs
  packages/cli/generators/app/templates/src/index.ts.ejs
  packages/core/src/application.ts
  packages/core/src/booter.ts
  packages/core/test/unit/application.test.ts
  packages/example-getting-started/src/application.ts
Owners: @bajtos, @raymondfeng, @kjdelisle

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners,
# the last matching pattern has the most precedence.

* @bajtos @raymondfeng @kjdelisle

packages/authentication/* @bajtos @kjdelisle
packages/build/* @bajtos @raymondfeng
packages/cli/* @raymondfeng @kjdelisle @shimks
packages/context/* @bajtos @raymondfeng  @kjdelisle
packages/core/* @bajtos @raymondfeng @kjdelisle
packages/example-getting-started/* @bajtos @kjdelisle
packages/example-hello-world/* @b-admike
packages/example-log-extension/* @virkt25
packages/example-microservices/* @raymondfeng @virkt25 @kjdelisle
packages/example-rpc-server/* @kjdelisle
packages/metadata/* @raymondfeng
packages/openapi-spec/*  @bajtos @jannyHou
packages/openapi-spec-builder/* @bajtos @raymondfeng
packages/openapi-v2/* @jannyHou
packages/repository/* @raymondfeng @kjdelisle
packages/repository-json-schema/* @shimks
packages/rest/* @bajtos @kjdelisle
packages/testlab/* @bajtos @kjdelisle
