Repository loopbackio/loopback-next, changes with the owners that CODEOWNERS names for each.
All owners: @bajtos, @raymondfeng, @virkt25, @hacksparrow, @shimks, @jannyHou, @b-admike

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners,
# the last matching pattern has the most precedence.
#
# See https://help.github.com/articles/about-codeowners/

* @bajtos @raymondfeng

packages/authentication/* @bajtos @raymondfeng
packages/boot/* @raymondfeng @virkt25
packages/build/* @bajtos @raymondfeng
packages/http-caching-proxy/* @bajtos
packages/http-server/* @hacksparrow @bajtos
packages/cli/* @raymondfeng @shimks
packages/context/* @bajtos @raymondfeng
packages/core/* @bajtos @raymondfeng
packages/metadata/* @raymondfeng
packages/openapi-spec-builder/* @bajtos @raymondfeng
packages/openapi-v3/* @bajtos @jannyHou
packages/openapi-v3-types/* @bajtos @jannyHou
packages/repository/* @raymondfeng
packages/repository-json-schema/* @shimks
packages/rest/* @bajtos @raymondfeng
packages/service-proxy/* @raymondfeng
packages/testlab/* @bajtos
examples/todo/* @bajtos @virkt25
examples/hello-world/* @b-admike
examples/log-extension/* @virkt25
examples/rpc-server/* @virkt25
docs/* @bajtos @raymondfeng @virkt25 @b-admike @shimks @jannyHou

feat: add `listening` property in the server interface
  docs/site/Server.md
  examples/rpc-server/src/rpc.server.ts
  packages/core/src/server.ts
  packages/core/test/unit/application.unit.ts
  packages/http-server/src/http-server.ts
  packages/http-server/test/integration/http-server.integration.ts
  packages/rest/src/rest.server.ts
Owners: @bajtos, @raymondfeng

fix(docs): upgrade to strong-docs@3.1.0 and fix links
  docs/site/Application.md
  docs/site/Context.md
  docs/site/Decorators.md
  docs/site/Sequence.md
  docs/site/Server.md
  docs/site/todo-tutorial-scaffolding.md
  packages/build/package.json
  packages/http-caching-proxy/README.md
Owners: @bajtos, @raymondfeng

fix(docs): upgrade to strong-docs@3.1.0 and fix links
  docs/site/Application.md
  docs/site/Context.md
  docs/site/Decorators.md
  docs/site/Sequence.md
  docs/site/Server.md
  docs/site/todo-tutorial-scaffolding.md
  packages/build/package.json
  packages/http-caching-proxy/README.md
Owners: @bajtos, @raymondfeng

refactor: clean up server.listening() implementation
  examples/rpc-server/src/rpc.server.ts
  packages/core/src/server.ts
  packages/rest/src/rest.server.ts
Owners: @bajtos, @raymondfeng

docs: add overview diagram in todo tutorial
  examples/todo/README.md
  examples/todo/imgs/todo-overview.png
Owners: @bajtos, @virkt25, @raymondfeng

docs: add overview diagram in todo tutorial
  examples/todo/README.md
  examples/todo/imgs/todo-overview.png
Owners: @bajtos, @virkt25, @raymondfeng

refactor: clean up server.listening() implementation
  examples/rpc-server/src/rpc.server.ts
  packages/core/src/server.ts
  packages/rest/src/rest.server.ts
Owners: @bajtos, @raymondfeng

feat(context): add utility methods to handle iteratables
  packages/context/src/iteratable.ts
  packages/context/test/unit/iteratable.test.ts
Owners: @bajtos, @raymondfeng

feat(context): add support for multi-context delegation
  packages/context/src/context.ts
  packages/context/src/inject.ts
  packages/context/test/acceptance/child-context.acceptance.ts
  packages/context/test/unit/context.unit.ts
Owners: @bajtos, @raymondfeng

fix(context): make context single parent by default
  packages/context/src/context.ts
  packages/context/test/acceptance/child-context.acceptance.ts
  packages/context/test/unit/context.unit.ts
Owners: @bajtos, @raymondfeng

chore: improve openapi generator docs
  docs/site/OpenAPI-generator.md
  packages/build/package.json
Owners: @bajtos, @raymondfeng

feat(repository): introduce hasmany relation decorator inference
  packages/repository/package.json
  packages/repository/src/decorators/model.decorator.ts
  packages/repository/src/decorators/relation.decorator.ts
  packages/repository/src/model.ts
  packages/repository/src/repositories/legacy-juggler-bridge.ts
  packages/repository/src/repositories/relation.factory.ts
  packages/repository/src/repositories/relation.repository.ts
  packages/repository/test/acceptance/has-many-without-di.relation.acceptance.ts
  packages/repository/test/acceptance/has-many.relation.acceptance.ts
  packages/repository/test/integration/repositories/relation.factory.integration.ts
  packages/repository/test/unit/decorator/model-and-relation.decorator.unit.ts
  packages/repository/test/unit/decorator/relation.decorator.unit.ts
  packages/repository/test/unit/repositories/relation.repository.unit.ts
Owners: @raymondfeng, @bajtos

feat(repository): introduce hasmany relation decorator inference
  packages/repository/package.json
  packages/repository/src/decorators/model.decorator.ts
  packages/repository/src/decorators/relation.decorator.ts
  packages/repository/src/model.ts
  packages/repository/src/repositories/legacy-juggler-bridge.ts
  packages/repository/src/repositories/relation.factory.ts
  packages/repository/src/repositories/relation.repository.ts
  packages/repository/test/acceptance/has-many-without-di.relation.acceptance.ts
  packages/repository/test/acceptance/has-many.relation.acceptance.ts
  packages/repository/test/integration/repositories/relation.factory.integration.ts
  packages/repository/test/unit/decorator/model-and-relation.decorator.unit.ts
  packages/repository/test/unit/decorator/relation.decorator.unit.ts
  packages/repository/test/unit/repositories/relation.repository.unit.ts
Owners: @raymondfeng, @bajtos

fix: generate schema for requestBody only if not present
  packages/openapi-v3/src/decorators/request-body.decorator.ts
Owners: @bajtos, @raymondfeng

feat(cli): improve openapi handling of body and impl
  packages/cli/generators/openapi/index.js
  packages/cli/generators/openapi/schema-helper.js
  packages/cli/generators/openapi/spec-helper.js
  packages/cli/generators/openapi/templates/src/controllers/controller-template.ts.ejs
  packages/cli/generators/openapi/utils.js
  packages/cli/smoke-test/openapi/code-gen-utils.js
  packages/cli/smoke-test/openapi/real-world-apis.smoke.js
  packages/cli/test/fixtures/openapi/3.0/customer.yaml
  packages/cli/test/unit/openapi/controller-spec.unit.js
  packages/cli/test/unit/openapi/schema-model.unit.js
Owners: @bajtos, @raymondfeng

feat(cli): add comments for generated methods from openapi
  packages/cli/generators/openapi/spec-helper.js
  packages/cli/generators/openapi/templates/src/controllers/controller-template.ts.ejs
  packages/cli/test/unit/openapi/controller-spec.unit.js
  packages/cli/test/unit/openapi/schema-model.unit.js
Owners: @bajtos, @raymondfeng

fix(repository): make models strict by default
  docs/site/Model.md
  packages/repository/src/model.ts
  packages/repository/src/repositories/constraint-utils.ts
  packages/repository/src/repositories/legacy-juggler-bridge.ts
  packages/repository/src/repositories/relation.factory.ts
  packages/repository/src/repositories/repository.ts
  packages/repository/test/acceptance/repository.acceptance.ts
  packages/repository/test/integration/repositories/relation.factory.integration.ts
  packages/repository/test/unit/model/model.unit.ts
  packages/repository/test/unit/repositories/constraint-utils.unit.ts
  packages/repository/test/unit/repositories/crud.repository.unit.ts
  packages/repository/test/unit/repositories/legacy-juggler-bridge.unit.ts
  packages/repository/test/unit/repositories/relation.repository.unit.ts
Owners: @bajtos, @raymondfeng

fix(repository): make models strict by default
  docs/site/Model.md
  packages/repository/src/model.ts
  packages/repository/src/repositories/constraint-utils.ts
  packages/repository/src/repositories/legacy-juggler-bridge.ts
  packages/repository/src/repositories/relation.factory.ts
  packages/repository/src/repositories/repository.ts
  packages/repository/test/acceptance/repository.acceptance.ts
  packages/repository/test/integration/repositories/relation.factory.integration.ts
  packages/repository/test/unit/model/model.unit.ts
  packages/repository/test/unit/repositories/constraint-utils.unit.ts
  packages/repository/test/unit/repositories/crud.repository.unit.ts
  packages/repository/test/unit/repositories/legacy-juggler-bridge.unit.ts
  packages/repository/test/unit/repositories/relation.repository.unit.ts
Owners: @bajtos, @raymondfeng

feat(cli): improve openapi handling of body and impl
  packages/cli/generators/openapi/index.js
  packages/cli/generators/openapi/schema-helper.js
  packages/cli/generators/openapi/spec-helper.js
  packages/cli/generators/openapi/templates/src/controllers/controller-template.ts.ejs
  packages/cli/generators/openapi/utils.js
  packages/cli/smoke-test/openapi/code-gen-utils.js
  packages/cli/smoke-test/openapi/real-world-apis.smoke.js
  packages/cli/test/fixtures/openapi/3.0/customer.yaml
  packages/cli/test/unit/openapi/controller-spec.unit.js
  packages/cli/test/unit/openapi/schema-model.unit.js
Owners: @bajtos, @raymondfeng

fix: generate schema for requestBody only if not present
  packages/openapi-v3/src/decorators/request-body.decorator.ts
Owners: @bajtos, @raymondfeng

feat(cli): add comments for generated methods from openapi
  packages/cli/generators/openapi/spec-helper.js
  packages/cli/generators/openapi/templates/src/controllers/controller-template.ts.ejs
  packages/cli/test/unit/openapi/controller-spec.unit.js
  packages/cli/test/unit/openapi/schema-model.unit.js
Owners: @bajtos, @raymondfeng

refactor(repository): make generic arguments more descriptive
  packages/repository/src/repositories/relation.factory.ts
  packages/repository/src/repositories/relation.repository.ts
Owners: @bajtos, @raymondfeng

refactor(repository): make generic arguments more descriptive
  packages/repository/src/repositories/relation.factory.ts
  packages/repository/src/repositories/relation.repository.ts
Owners: @bajtos, @raymondfeng

feat: body validation
  examples/todo/src/controllers/todo.controller.ts
  examples/todo/test/acceptance/application.acceptance.ts
  examples/todo/test/unit/controllers/todo.controller.unit.ts
  packages/openapi-v3/src/controller-spec.ts
  packages/openapi-v3/src/decorators/request-body.decorator.ts
  packages/openapi-v3/src/index.ts
  packages/openapi-v3/test/unit/decorators/request-body/request-body.decorator.unit.ts
  packages/rest/package.json
  packages/rest/src/coercion/rest-http-error.ts
  packages/rest/src/http-handler.ts
  packages/rest/src/index.ts
  packages/rest/src/parser.ts
  packages/rest/src/providers/reject.provider.ts
  packages/rest/src/rest.server.ts
  packages/rest/src/router/routing-table.ts
  packages/rest/src/sequence.ts
  packages/rest/src/validation/request-body.validator.ts
  packages/rest/test/acceptance/validation/validation.acceptance.ts
  packages/rest/test/helpers.ts
  packages/rest/test/unit/coercion/utils.ts
  packages/rest/test/unit/request-body.validator.test.ts
Owners: @bajtos, @raymondfeng

feat: body validation
  examples/todo/src/controllers/todo.controller.ts
  examples/todo/test/acceptance/application.acceptance.ts
  examples/todo/test/unit/controllers/todo.controller.unit.ts
  packages/openapi-v3/src/controller-spec.ts
  packages/openapi-v3/src/decorators/request-body.decorator.ts
  packages/openapi-v3/src/index.ts
  packages/openapi-v3/test/unit/decorators/request-body/request-body.decorator.unit.ts
  packages/rest/package.json
  packages/rest/src/coercion/rest-http-error.ts
  packages/rest/src/http-handler.ts
  packages/rest/src/index.ts
  packages/rest/src/parser.ts
  packages/rest/src/providers/reject.provider.ts
  packages/rest/src/rest.server.ts
  packages/rest/src/router/routing-table.ts
  packages/rest/src/sequence.ts
  packages/rest/src/validation/request-body.validator.ts
  packages/rest/test/acceptance/validation/validation.acceptance.ts
  packages/rest/test/helpers.ts
  packages/rest/test/unit/coercion/utils.ts
  packages/rest/test/unit/request-body.validator.test.ts
Owners: @bajtos, @raymondfeng

fixup! apply feedback
  docs/site/Controller-generator.md
  packages/cli/generators/controller/index.js
Owners: @bajtos, @raymondfeng

docs(cli): add docs on how the CLI detects artifacts
  docs/site/Controller-generator.md
Owners: @bajtos, @raymondfeng

chore(cli): switch to async await styling
  packages/cli/generators/controller/index.js
  packages/cli/lib/utils.js
  packages/cli/test/unit/utils.unit.js
Owners: @bajtos, @raymondfeng

chore(cli): switch to async await styling
  packages/cli/generators/controller/index.js
  packages/cli/lib/utils.js
  packages/cli/test/unit/utils.unit.js
Owners: @bajtos, @raymondfeng

fixup! apply feedback
  docs/site/Controller-generator.md
  packages/cli/generators/controller/index.js
Owners: @bajtos, @raymondfeng

docs(cli): add docs on how the CLI detects artifacts
  docs/site/Controller-generator.md
Owners: @bajtos, @raymondfeng

Update todo-tutorial-putting-it-together.md
  docs/site/todo-tutorial-putting-it-together.md
Owners: @bajtos, @raymondfeng

fix: typo
  docs/site/todo-tutorial-scaffolding.md
Owners: @bajtos, @raymondfeng

fix: typo
  docs/site/todo-tutorial-scaffolding.md
Owners: @bajtos, @raymondfeng

feat(cli): add config and yes options
  docs/site/includes/CLI-std-options.md
  packages/cli/generators/controller/index.js
  packages/cli/generators/datasource/index.js
  packages/cli/lib/artifact-generator.js
  packages/cli/lib/base-generator.js
  packages/cli/lib/project-generator.js
  packages/cli/lib/utils.js
  packages/cli/package.json
  packages/cli/test/integration/lib/artifact-generator.js
  packages/cli/test/integration/lib/base-config.json
  packages/cli/test/integration/lib/base-generator.js
  packages/cli/test/integration/lib/project-generator.js
  packages/repository/package.json
Owners: @bajtos, @raymondfeng, @shimks

feat(cli): add config and yes options
  docs/site/includes/CLI-std-options.md
  packages/cli/generators/controller/index.js
  packages/cli/generators/datasource/index.js
  packages/cli/lib/artifact-generator.js
  packages/cli/lib/base-generator.js
  packages/cli/lib/project-generator.js
  packages/cli/lib/utils.js
  packages/cli/package.json
  packages/cli/test/integration/lib/artifact-generator.js
  packages/cli/test/integration/lib/base-config.json
  packages/cli/test/integration/lib/base-generator.js
  packages/cli/test/integration/lib/project-generator.js
  packages/repository/package.json
Owners: @bajtos, @raymondfeng, @shimks

docs: update todo-tutorial-putting-it-together.md
  docs/site/todo-tutorial-putting-it-together.md
Owners: @bajtos, @raymondfeng

docs: update todo-tutorial-putting-it-together.md
  docs/site/todo-tutorial-putting-it-together.md
Owners: @bajtos, @raymondfeng

fix(cli): tweak getArtifactList to return pascalCased strings
  packages/cli/lib/utils.js
  packages/cli/test/unit/utils.unit.js
Owners: @bajtos, @raymondfeng

fix(cli): tweak getArtifactList to return pascalCased strings
  packages/cli/lib/utils.js
  packages/cli/test/unit/utils.unit.js
Owners: @bajtos, @raymondfeng
