Repository loopbackio/loopback-next, changes with the owners that CODEOWNERS names for each.
All owners: @bajtos, @raymondfeng, @virkt25, @hacksparrow, @shimks, @jannyHou, @b-admike

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners,
# the last matching pattern has the most precedence.
#
# See https://help.github.com/articles/about-codeowners/

* @bajtos @raymondfeng

packages/authentication/* @bajtos @raymondfeng
packages/boot/* @raymondfeng @virkt25
packages/build/* @bajtos @raymondfeng
packages/http-caching-proxy/* @bajtos
packages/http-server/* @hacksparrow @bajtos
packages/cli/* @raymondfeng @shimks
packages/context/* @bajtos @raymondfeng
packages/core/* @bajtos @raymondfeng
packages/metadata/* @raymondfeng
packages/openapi-spec-builder/* @bajtos @raymondfeng
packages/openapi-v3/* @bajtos @jannyHou
packages/openapi-v3-types/* @bajtos @jannyHou
packages/repository/* @raymondfeng
packages/repository-json-schema/* @shimks
packages/rest/* @bajtos @raymondfeng
packages/service-proxy/* @raymondfeng
packages/testlab/* @bajtos
examples/todo/* @bajtos @virkt25
examples/hello-world/* @b-admike
examples/log-extension/* @virkt25
examples/rpc-server/* @virkt25
docs/* @bajtos @raymondfeng @virkt25 @b-admike @shimks @jannyHou

fix: import package in template
  packages/cli/generators/app/templates/src/controllers/ping.controller.ts.ejs
  packages/cli/test/integration/generators/app.integration.js
Owners: @bajtos, @raymondfeng

docs: fix the note
  docs/site/Parsing-requests.md
Owners: @bajtos, @raymondfeng

docs: fix the note
  docs/site/Parsing-requests.md
Owners: @bajtos, @raymondfeng

docs: fix todo-list tutorial command
  examples/todo-list/README.md
Owners: @bajtos, @raymondfeng

docs: fix todo-list tutorial command
  examples/todo-list/README.md
Owners: @bajtos, @raymondfeng

fix(cli): use this.exit instead of throwing an error
  packages/cli/generators/controller/index.js
  packages/cli/package.json
  packages/cli/test/integration/generators/controller.integration.js
Owners: @bajtos, @raymondfeng, @shimks

fix(cli): use this.exit instead of throwing an error
  packages/cli/generators/controller/index.js
  packages/cli/package.json
  packages/cli/test/integration/generators/controller.integration.js
Owners: @bajtos, @raymondfeng, @shimks

fix(http-server): use loopback instead of 0.0.0.0/[::] in URLs
  packages/http-server/src/http-server.ts
  packages/http-server/test/integration/http-server.integration.ts
Owners: @bajtos, @raymondfeng

feat(cli): use `app.restServer.url` for console logs
  examples/rpc-server/src/application.ts
  examples/rpc-server/src/index.ts
  examples/todo-list/src/index.ts
  examples/todo/src/index.ts
  packages/cli/generators/app/templates/src/application.ts.ejs
  packages/cli/generators/app/templates/src/index.ts.ejs
  packages/cli/test/integration/generators/app.integration.js
Owners: @bajtos, @raymondfeng

fix(http-server): use loopback instead of 0.0.0.0/[::] in URLs
  packages/http-server/src/http-server.ts
  packages/http-server/test/integration/http-server.integration.ts
Owners: @bajtos, @raymondfeng

feat(cli): use `app.restServer.url` for console logs
  examples/rpc-server/src/application.ts
  examples/rpc-server/src/index.ts
  examples/todo-list/src/index.ts
  examples/todo/src/index.ts
  packages/cli/generators/app/templates/src/application.ts.ejs
  packages/cli/generators/app/templates/src/index.ts.ejs
  packages/cli/test/integration/generators/app.integration.js
Owners: @bajtos, @raymondfeng

docs: fix info style and make usage of note.html consistent
  docs/site/Application.md
  docs/site/Context.md
  docs/site/Creating-components.md
  docs/site/Defining-the-API-using-code-first-approach.md
  docs/site/Defining-the-API-using-design-first-approach.shelved.md
  docs/site/Parsing-requests.md
  docs/site/Preparing-the-API-for-consumption.shelved.md
  docs/site/Reserved-binding-keys.md
  docs/site/Testing-your-application.md
Owners: @bajtos, @raymondfeng

docs: fix info style and make usage of note.html consistent
  docs/site/Application.md
  docs/site/Context.md
  docs/site/Creating-components.md
  docs/site/Defining-the-API-using-code-first-approach.md
  docs/site/Defining-the-API-using-design-first-approach.shelved.md
  docs/site/Parsing-requests.md
  docs/site/Preparing-the-API-for-consumption.shelved.md
  docs/site/Reserved-binding-keys.md
  docs/site/Testing-your-application.md
Owners: @bajtos, @raymondfeng

fix(service-proxy): await datasource until it connects to the service
  docs/site/Calling-other-APIs-and-Web-Services.md
  examples/todo/src/services/geocoder.service.ts
  examples/todo/test/integration/services/geocoder.service.integration.ts
  packages/service-proxy/src/legacy-juggler-bridge.ts
  packages/service-proxy/test/integration/service-proxy.integration.ts
  packages/service-proxy/test/mock-service.connector.ts
Owners: @bajtos, @raymondfeng

fix(service-proxy): await datasource until it connects to the service
  docs/site/Calling-other-APIs-and-Web-Services.md
  examples/todo/src/services/geocoder.service.ts
  examples/todo/test/integration/services/geocoder.service.integration.ts
  packages/service-proxy/src/legacy-juggler-bridge.ts
  packages/service-proxy/test/integration/service-proxy.integration.ts
  packages/service-proxy/test/mock-service.connector.ts
Owners: @bajtos, @raymondfeng

chore(example-todo-list): extract out common test code to beforeEach()
  docs/site/imgs/todo-list-overview.png
  examples/todo-list/README.md
  examples/todo-list/package.json
  examples/todo-list/test/acceptance/todo-list-todo.acceptance.ts
  examples/todo-list/test/acceptance/todo-list.acceptance.ts
  examples/todo-list/test/acceptance/todo.acceptance.ts
  examples/todo-list/test/helpers.ts
  examples/todo/README.md
  examples/todo/package.json
  examples/todo/test/acceptance/todo.acceptance.ts
Owners: @bajtos, @raymondfeng, @virkt25

chore(example-todo-list): extract out common test code to beforeEach()
  docs/site/imgs/todo-list-overview.png
  examples/todo-list/README.md
  examples/todo-list/package.json
  examples/todo-list/test/acceptance/todo-list-todo.acceptance.ts
  examples/todo-list/test/acceptance/todo-list.acceptance.ts
  examples/todo-list/test/acceptance/todo.acceptance.ts
  examples/todo-list/test/helpers.ts
  examples/todo/README.md
  examples/todo/package.json
  examples/todo/test/acceptance/todo.acceptance.ts
Owners: @bajtos, @raymondfeng, @virkt25

fix: update todo juggler page
  docs/site/todo-tutorial-juggler.md
Owners: @bajtos, @raymondfeng

fix: update todo juggler page
  docs/site/todo-tutorial-juggler.md
Owners: @bajtos, @raymondfeng

chore: specify node requirement to 8.9 and above
  README.md
  docs/package.json
  docs/site/Getting-started.md
  examples/hello-world/README.md
  examples/hello-world/package.json
  examples/log-extension/package.json
  examples/rpc-server/package.json
  examples/todo-list/README.md
  examples/todo-list/package.json
  examples/todo/README.md
  examples/todo/package.json
  package.json
  packages/authentication/package.json
  packages/boot/package.json
  packages/build/package.json
  packages/cli/generators/project/templates/package.json.ejs
  packages/cli/generators/project/templates/package.plain.json.ejs
  packages/cli/package.json
  packages/context/package.json
  packages/core/package.json
  packages/dist-util/index.js
  packages/dist-util/package.json
  packages/http-caching-proxy/package.json
  packages/http-server/package.json
  packages/metadata/package.json
  packages/openapi-spec-builder/package.json
  packages/openapi-v3-types/package.json
  packages/openapi-v3/package.json
  packages/repository-json-schema/package.json
  packages/repository/package.json
  packages/rest/package.json
  packages/service-proxy/package.json
  packages/testlab/package.json
Owners: @bajtos, @raymondfeng, @virkt25, @b-admike, @shimks, @jannyHou, @hacksparrow

chore: specify node requirement to 8.9 and above
  README.md
  docs/package.json
  docs/site/Getting-started.md
  examples/hello-world/README.md
  examples/hello-world/package.json
  examples/log-extension/package.json
  examples/rpc-server/package.json
  examples/todo-list/README.md
  examples/todo-list/package.json
  examples/todo/README.md
  examples/todo/package.json
  package.json
  packages/authentication/package.json
  packages/boot/package.json
  packages/build/package.json
  packages/cli/generators/project/templates/package.json.ejs
  packages/cli/generators/project/templates/package.plain.json.ejs
  packages/cli/package.json
  packages/context/package.json
  packages/core/package.json
  packages/dist-util/index.js
  packages/dist-util/package.json
  packages/http-caching-proxy/package.json
  packages/http-server/package.json
  packages/metadata/package.json
  packages/openapi-spec-builder/package.json
  packages/openapi-v3-types/package.json
  packages/openapi-v3/package.json
  packages/repository-json-schema/package.json
  packages/repository/package.json
  packages/rest/package.json
  packages/service-proxy/package.json
  packages/testlab/package.json
Owners: @bajtos, @raymondfeng, @virkt25, @b-admike, @shimks, @jannyHou, @hacksparrow

docs: fix hasMany diagram L&F
  docs/site/imgs/hasMany-relation-example.png
Owners: @bajtos, @raymondfeng

docs: fix hasMany diagram L&F
  docs/site/imgs/hasMany-relation-example.png
Owners: @bajtos, @raymondfeng

chore: update AppVeyor badge URL
  README.md
Owners: @bajtos, @raymondfeng

chore: update AppVeyor badge URL
  README.md
Owners: @bajtos, @raymondfeng

fix(cli): remove deleteAll endpoint from REST Controller template
  docs/site/Controller-generator.md
  examples/todo-list/src/controllers/todo-list.controller.ts
  examples/todo-list/test/acceptance/todo-list.acceptance.ts
  examples/todo-list/test/unit/controllers/todo-list.controller.unit.ts
  packages/cli/generators/controller/templates/src/controllers/controller-rest-template.ts.ejs
  packages/cli/test/integration/generators/controller.integration.js
Owners: @bajtos, @raymondfeng

fix(cli): remove deleteAll endpoint from REST Controller template
  docs/site/Controller-generator.md
  examples/todo-list/src/controllers/todo-list.controller.ts
  examples/todo-list/test/acceptance/todo-list.acceptance.ts
  examples/todo-list/test/unit/controllers/todo-list.controller.unit.ts
  packages/cli/generators/controller/templates/src/controllers/controller-rest-template.ts.ejs
  packages/cli/test/integration/generators/controller.integration.js
Owners: @bajtos, @raymondfeng

chore(build): make sure prettier@^1.14.0 is used
  packages/build/package.json
  packages/cli/package.json
Owners: @bajtos, @raymondfeng, @shimks

chore(build): make sure prettier@^1.14.0 is used
  packages/build/package.json
  packages/cli/package.json
Owners: @bajtos, @raymondfeng, @shimks

fix(cli): install dependencies for clones examples
  docs/site/Download-examples.md
  docs/site/Preparing-the-API-for-consumption.shelved.md
  examples/hello-world/README.md
  examples/log-extension/README.md
  examples/rpc-server/README.md
  examples/todo-list/README.md
  examples/todo/README.md
  packages/cli/generators/example/index.js
  packages/cli/lib/base-generator.js
  packages/cli/lib/project-generator.js
  packages/cli/test/integration/generators/example.integration.js
Owners: @bajtos, @raymondfeng, @b-admike, @virkt25

fix(cli): install dependencies for clones examples
  docs/site/Download-examples.md
  docs/site/Preparing-the-API-for-consumption.shelved.md
  examples/hello-world/README.md
  examples/log-extension/README.md
  examples/rpc-server/README.md
  examples/todo-list/README.md
  examples/todo/README.md
  packages/cli/generators/example/index.js
  packages/cli/lib/base-generator.js
  packages/cli/lib/project-generator.js
  packages/cli/test/integration/generators/example.integration.js
Owners: @bajtos, @raymondfeng, @b-admike, @virkt25
