Repository loopbackio/loopback-next, changes with the owners that CODEOWNERS names for each.
All owners: @bajtos, @raymondfeng, @virkt25, @hacksparrow, @shimks, @jannyHou, @b-admike

docs: add / update lb4 model related docs
  docs/site/DataSource-generator.md
  docs/site/Model-generator.md
  docs/site/sidebars/lb4_sidebar.yml
  docs/site/tables/lb4-artifact-commands.html
  docs/site/todo-tutorial-geocoding-service.md
  docs/site/todo-tutorial-model.md
  docs/site/todo-tutorial-repository.md
  packages/cli/README.md
Owners: @bajtos, @raymondfeng, @shimks

fix(cli): add empty logs to better format model prompts
  packages/cli/generators/model/index.js
Owners: @bajtos, @raymondfeng

docs: add / update lb4 model related docs
  docs/site/DataSource-generator.md
  docs/site/Model-generator.md
  docs/site/sidebars/lb4_sidebar.yml
  docs/site/tables/lb4-artifact-commands.html
  docs/site/todo-tutorial-geocoding-service.md
  docs/site/todo-tutorial-model.md
  docs/site/todo-tutorial-repository.md
  packages/cli/README.md
Owners: @bajtos, @raymondfeng, @shimks

fix(cli): add empty logs to better format model prompts
  packages/cli/generators/model/index.js
Owners: @bajtos, @raymondfeng

fix(cli): reorder where and body in CLI template for updateAll and make where optional
  docs/site/Controller-generator.md
  packages/cli/generators/controller/templates/src/controllers/controller-rest-template.ts.ejs
  packages/cli/test/integration/generators/controller.integration.js
Owners: @bajtos, @raymondfeng

fix(cli): reorder where and body in CLI template for updateAll and make where optional
  docs/site/Controller-generator.md
  packages/cli/generators/controller/templates/src/controllers/controller-rest-template.ts.ejs
  packages/cli/test/integration/generators/controller.integration.js
Owners: @bajtos, @raymondfeng

feat: localize error in details
  packages/rest/src/rest-http-error.ts
  packages/rest/src/validation/request-body.validator.ts
  packages/rest/test/unit/request-body.validator.test.ts
Owners: @bajtos, @raymondfeng

feat: localize error in details
  packages/rest/src/rest-http-error.ts
  packages/rest/src/validation/request-body.validator.ts
  packages/rest/test/unit/request-body.validator.test.ts
Owners: @bajtos, @raymondfeng

chore: publish release
  docs/CHANGELOG.md
  docs/package.json
  examples/hello-world/CHANGELOG.md
  examples/hello-world/package.json
  examples/log-extension/CHANGELOG.md
  examples/log-extension/package.json
  examples/todo/CHANGELOG.md
  examples/todo/package.json
  packages/authentication/CHANGELOG.md
  packages/authentication/package.json
  packages/boot/CHANGELOG.md
  packages/boot/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/http-server/CHANGELOG.md
  packages/http-server/package.json
  packages/openapi-v3/CHANGELOG.md
  packages/openapi-v3/package.json
  packages/repository-json-schema/CHANGELOG.md
  packages/repository-json-schema/package.json
  packages/repository/CHANGELOG.md
  packages/repository/package.json
  packages/rest/CHANGELOG.md
  packages/rest/package.json
Owners: @bajtos, @raymondfeng, @virkt25, @b-admike, @shimks, @jannyHou, @hacksparrow

build: remove test files from code coverage data
  .nycrc
Owners: @bajtos, @raymondfeng

build: remove test files from code coverage data
  .nycrc
Owners: @bajtos, @raymondfeng

build: start measuring code coverage of `cli` package
  .nycrc
Owners: @bajtos, @raymondfeng

feat: add HTTPs protocol support
  packages/http-server/package.json
  packages/http-server/src/http-server.ts
  packages/http-server/test/integration/cert.pem
  packages/http-server/test/integration/http-server.integration.ts
  packages/http-server/test/integration/key.pem
  packages/http-server/test/integration/pfx.pfx
  packages/rest/src/keys.ts
  packages/rest/src/rest.component.ts
  packages/rest/src/rest.server.ts
  packages/rest/test/integration/cert.pem
  packages/rest/test/integration/key.pem
  packages/rest/test/integration/pfx.pfx
  packages/rest/test/integration/rest.server.integration.ts
Owners: @hacksparrow, @bajtos, @raymondfeng

feat: add HTTPs protocol support
  packages/http-server/package.json
  packages/http-server/src/http-server.ts
  packages/http-server/test/integration/cert.pem
  packages/http-server/test/integration/http-server.integration.ts
  packages/http-server/test/integration/key.pem
  packages/http-server/test/integration/pfx.pfx
  packages/rest/src/keys.ts
  packages/rest/src/rest.component.ts
  packages/rest/src/rest.server.ts
  packages/rest/test/integration/cert.pem
  packages/rest/test/integration/key.pem
  packages/rest/test/integration/pfx.pfx
  packages/rest/test/integration/rest.server.integration.ts
Owners: @hacksparrow, @bajtos, @raymondfeng

docs: add/fix imports in code examples
  docs/site/HasMany-relation.md
Owners: @bajtos, @raymondfeng

fix(cli): add missing comma in REST controller template
  packages/cli/generators/controller/templates/src/controllers/controller-rest-template.ts.ejs
Owners: @bajtos, @raymondfeng

docs: add/fix imports in code examples
  docs/site/HasMany-relation.md
Owners: @bajtos, @raymondfeng

build: start measuring code coverage of `cli` package
  .nycrc
Owners: @bajtos, @raymondfeng

docs: add parsing request
  docs/site/Parsing-requests.md
  docs/site/Sequence.md
  docs/site/sidebars/lb4_sidebar.yml
Owners: @bajtos, @raymondfeng

feat(repository): add KVRepository impl using legacy juggler
  packages/repository/examples/juggler-bridge/note-with-repo-class.ts
  packages/repository/examples/juggler-bridge/note-with-repo-instance.ts
  packages/repository/src/common-types.ts
  packages/repository/src/model.ts
  packages/repository/src/repositories/constraint-utils.ts
  packages/repository/src/repositories/index.ts
  packages/repository/src/repositories/kv.repository.bridge.ts
  packages/repository/src/repositories/kv.repository.ts
  packages/repository/src/repositories/legacy-juggler-bridge.ts
  packages/repository/src/repositories/relation.factory.ts
  packages/repository/src/repositories/relation.repository.ts
  packages/repository/test/unit/repositories/kv.repository.bridge.unit.ts
  packages/repository/test/unit/repositories/relation.repository.unit.ts
Owners: @bajtos, @raymondfeng

docs: add parsing request
  docs/site/Parsing-requests.md
  docs/site/Sequence.md
  docs/site/sidebars/lb4_sidebar.yml
Owners: @bajtos, @raymondfeng

fix(repository): default where object to an empty object
  packages/repository/src/repositories/legacy-juggler-bridge.ts
  packages/repository/test/unit/repositories/legacy-juggler-bridge.unit.ts
Owners: @bajtos, @raymondfeng

fix(repository): default where object to an empty object
  packages/repository/src/repositories/legacy-juggler-bridge.ts
  packages/repository/test/unit/repositories/legacy-juggler-bridge.unit.ts
Owners: @bajtos, @raymondfeng

docs: fix Yaapa's name
  README.md
Owners: @bajtos, @raymondfeng

docs: fix Yaapa's name
  README.md
Owners: @bajtos, @raymondfeng

fix(repository): change parameter order in HasManyRepositoryFactory
  docs/site/HasMany-relation.md
  packages/repository/src/repositories/legacy-juggler-bridge.ts
  packages/repository/src/repositories/relation.factory.ts
  packages/repository/test/acceptance/has-many-without-di.relation.acceptance.ts
  packages/repository/test/acceptance/has-many.relation.acceptance.ts
  packages/repository/test/integration/repositories/relation.factory.integration.ts
Owners: @bajtos, @raymondfeng

fix(repository): change parameter order in HasManyRepositoryFactory
  docs/site/HasMany-relation.md
  packages/repository/src/repositories/legacy-juggler-bridge.ts
  packages/repository/src/repositories/relation.factory.ts
  packages/repository/test/acceptance/has-many-without-di.relation.acceptance.ts
  packages/repository/test/acceptance/has-many.relation.acceptance.ts
  packages/repository/test/integration/repositories/relation.factory.integration.ts
Owners: @bajtos, @raymondfeng

fix(cli): fix cli rest controller generator template
  packages/cli/generators/controller/templates/src/controllers/controller-rest-template.ts.ejs
  packages/cli/test/integration/generators/controller.integration.js
Owners: @bajtos, @raymondfeng

fix(cli): fix cli rest controller generator template
  packages/cli/generators/controller/templates/src/controllers/controller-rest-template.ts.ejs
  packages/cli/test/integration/generators/controller.integration.js
Owners: @bajtos, @raymondfeng

fix(docs): fix Parsing-requests.html sidebar entry
  docs/site/sidebars/lb4_sidebar.yml
Owners: @bajtos, @raymondfeng

fix(docs): fix Parsing-requests.html sidebar entry
  docs/site/sidebars/lb4_sidebar.yml
Owners: @bajtos, @raymondfeng

refactor: move https/travis helper functions to testlab
  packages/http-server/test/integration/http-server.integration.ts
  packages/rest/test/integration/rest.server.integration.ts
  packages/testlab/README.md
  packages/testlab/src/http-server-config.ts
  packages/testlab/src/index.ts
  packages/testlab/src/request.ts
  packages/testlab/src/skip-travis.ts
Owners: @bajtos, @raymondfeng

refactor: move https/travis helper functions to testlab
  packages/http-server/test/integration/http-server.integration.ts
  packages/rest/test/integration/rest.server.integration.ts
  packages/testlab/README.md
  packages/testlab/src/http-server-config.ts
  packages/testlab/src/index.ts
  packages/testlab/src/request.ts
  packages/testlab/src/skip-travis.ts
Owners: @bajtos, @raymondfeng

docs: fix localizing errors
  docs/site/Parsing-requests.md
Owners: @bajtos, @raymondfeng

docs: fix localizing errors
  docs/site/Parsing-requests.md
Owners: @bajtos, @raymondfeng

docs: document HTTPS configuration
  docs/site/Server.md
Owners: @bajtos, @raymondfeng

docs: document HTTPS configuration
  docs/site/Server.md
Owners: @bajtos, @raymondfeng

docs: update release name in README
  README.md
Owners: @bajtos, @raymondfeng

docs: update release name in README
  README.md
Owners: @bajtos, @raymondfeng

fix: import package in template
  packages/cli/generators/app/templates/src/controllers/ping.controller.ts.ejs
  packages/cli/test/integration/generators/app.integration.js
Owners: @bajtos, @raymondfeng

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners,
# the last matching pattern has the most precedence.
#
# See https://help.github.com/articles/about-codeowners/

* @bajtos @raymondfeng

packages/authentication/* @bajtos @raymondfeng
packages/boot/* @raymondfeng @virkt25
packages/build/* @bajtos @raymondfeng
packages/http-caching-proxy/* @bajtos
packages/http-server/* @hacksparrow @bajtos
packages/cli/* @raymondfeng @shimks
packages/context/* @bajtos @raymondfeng
packages/core/* @bajtos @raymondfeng
packages/metadata/* @raymondfeng
packages/openapi-spec-builder/* @bajtos @raymondfeng
packages/openapi-v3/* @bajtos @jannyHou
packages/openapi-v3-types/* @bajtos @jannyHou
packages/repository/* @raymondfeng
packages/repository-json-schema/* @shimks
packages/rest/* @bajtos @raymondfeng
packages/service-proxy/* @raymondfeng
packages/testlab/* @bajtos
examples/todo/* @bajtos @virkt25
examples/hello-world/* @b-admike
examples/log-extension/* @virkt25
examples/rpc-server/* @virkt25
docs/* @bajtos @raymondfeng @virkt25 @b-admike @shimks @jannyHou
