Repository loopbackio/loopback-next, changes with the owners that CODEOWNERS names for each.
All owners: @bajtos, @raymondfeng, @virkt25, @hacksparrow, @shimks, @jannyHou, @b-admike

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners,
# the last matching pattern has the most precedence.
#
# See https://help.github.com/articles/about-codeowners/

* @bajtos @raymondfeng

packages/authentication/* @bajtos @raymondfeng
packages/boot/* @raymondfeng @virkt25
packages/build/* @bajtos @raymondfeng
packages/http-caching-proxy/* @bajtos
packages/http-server/* @hacksparrow @bajtos
packages/cli/* @raymondfeng @shimks
packages/context/* @bajtos @raymondfeng
packages/core/* @bajtos @raymondfeng
packages/metadata/* @raymondfeng
packages/openapi-spec-builder/* @bajtos @raymondfeng
packages/openapi-v3/* @bajtos @jannyHou
packages/openapi-v3-types/* @bajtos @jannyHou
packages/repository/* @raymondfeng
packages/repository-json-schema/* @shimks
packages/rest/* @bajtos @raymondfeng
packages/service-proxy/* @raymondfeng
packages/testlab/* @bajtos
examples/todo/* @bajtos @virkt25
examples/hello-world/* @b-admike
examples/log-extension/* @virkt25
examples/rpc-server/* @virkt25
docs/* @bajtos @raymondfeng @virkt25 @b-admike @shimks @jannyHou

docs: fix getting started instruction
  docs/site/Getting-started.md
Owners: @bajtos, @raymondfeng

docs: fix getting started instruction
  docs/site/Getting-started.md
Owners: @bajtos, @raymondfeng

test(repository): add tests for relation source files
  packages/repository/package.json
  packages/repository/src/query.ts
  packages/repository/src/repositories/constraint-utils.ts
  packages/repository/src/repositories/relation.factory.ts
  packages/repository/src/repositories/relation.repository.ts
  packages/repository/test/acceptance/has-many.relation.acceptance.ts
  packages/repository/test/integration/repositories/relation.factory.integration.ts
  packages/repository/test/unit/query/query-builder.unit.ts
  packages/repository/test/unit/repositories/constraint-utils.unit.ts
  packages/repository/test/unit/repositories/relation.repository.unit.ts
Owners: @raymondfeng, @bajtos

test(repository): add tests for relation source files
  packages/repository/package.json
  packages/repository/src/query.ts
  packages/repository/src/repositories/constraint-utils.ts
  packages/repository/src/repositories/relation.factory.ts
  packages/repository/src/repositories/relation.repository.ts
  packages/repository/test/acceptance/has-many.relation.acceptance.ts
  packages/repository/test/integration/repositories/relation.factory.integration.ts
  packages/repository/test/unit/query/query-builder.unit.ts
  packages/repository/test/unit/repositories/constraint-utils.unit.ts
  packages/repository/test/unit/repositories/relation.repository.unit.ts
Owners: @raymondfeng, @bajtos

test: increase timeouts to accomodate slow networks
  examples/todo/test/acceptance/application.acceptance.ts
  packages/http-caching-proxy/test/integration/http-caching-proxy.integration.ts
Owners: @bajtos, @raymondfeng

test: increase timeouts to accomodate slow networks
  examples/todo/test/acceptance/application.acceptance.ts
  packages/http-caching-proxy/test/integration/http-caching-proxy.integration.ts
Owners: @bajtos, @raymondfeng

fix(cli): make download-connector-list more robust
  packages/cli/bin/download-connector-list.js
  packages/cli/package.json
Owners: @bajtos, @raymondfeng, @shimks

fix(cli): make download-connector-list more robust
  packages/cli/bin/download-connector-list.js
  packages/cli/package.json
Owners: @bajtos, @raymondfeng, @shimks

feat: coercion for more types
  docs/site/todo-tutorial-controller.md
  packages/rest/package.json
  packages/rest/src/coercion/coerce-parameter.ts
  packages/rest/src/coercion/rest-http-error.ts
  packages/rest/src/coercion/utils.ts
  packages/rest/test/unit/coercion/paramStringToBoolean.unit.ts
  packages/rest/test/unit/coercion/paramStringToBuffer.unit.ts
  packages/rest/test/unit/coercion/paramStringToDate.unit.ts
  packages/rest/test/unit/coercion/paramStringToInteger.unit.ts
  packages/rest/test/unit/coercion/paramStringToNumber.unit.ts
  packages/rest/test/unit/coercion/parseStringToDatetime.unit.ts
Owners: @bajtos, @raymondfeng

feat: coercion for more types
  docs/site/todo-tutorial-controller.md
  packages/rest/package.json
  packages/rest/src/coercion/coerce-parameter.ts
  packages/rest/src/coercion/rest-http-error.ts
  packages/rest/src/coercion/utils.ts
  packages/rest/test/unit/coercion/paramStringToBoolean.unit.ts
  packages/rest/test/unit/coercion/paramStringToBuffer.unit.ts
  packages/rest/test/unit/coercion/paramStringToDate.unit.ts
  packages/rest/test/unit/coercion/paramStringToInteger.unit.ts
  packages/rest/test/unit/coercion/paramStringToNumber.unit.ts
  packages/rest/test/unit/coercion/parseStringToDatetime.unit.ts
Owners: @bajtos, @raymondfeng

docs: describe how to tests services
  docs/site/Calling-other-APIs-and-Web-Services.md
  docs/site/Testing-your-application.md
Owners: @bajtos, @raymondfeng

docs: describe how to tests services
  docs/site/Calling-other-APIs-and-Web-Services.md
  docs/site/Testing-your-application.md
Owners: @bajtos, @raymondfeng

docs: add geo-coding service to Todo tutorial
  docs/site/sidebars/lb4_sidebar.yml
  docs/site/todo-tutorial-geocoding-service.md
  docs/site/todo-tutorial-putting-it-together.md
  examples/todo/README.md
  examples/todo/src/application.ts
  examples/todo/src/datasources/geocoder.datasource.ts
  examples/todo/src/datasources/index.ts
Owners: @bajtos, @raymondfeng, @virkt25

docs: add geo-coding service to Todo tutorial
  docs/site/sidebars/lb4_sidebar.yml
  docs/site/todo-tutorial-geocoding-service.md
  docs/site/todo-tutorial-putting-it-together.md
  examples/todo/README.md
  examples/todo/src/application.ts
  examples/todo/src/datasources/geocoder.datasource.ts
  examples/todo/src/datasources/index.ts
Owners: @bajtos, @raymondfeng, @virkt25

chore: increase timeout to allow slow geocode response
  examples/todo/test/acceptance/application.acceptance.ts
Owners: @bajtos, @raymondfeng

chore: increase timeout to allow slow geocode response
  examples/todo/test/acceptance/application.acceptance.ts
Owners: @bajtos, @raymondfeng

fixup! get rid of hasManyRepository decorator
  packages/repository/src/decorators/index.ts
  packages/repository/src/decorators/relation.repository.decorator.ts
  packages/repository/test/acceptance/has-many-without-di.relation.acceptance.ts
  packages/repository/test/acceptance/has-many.relation.acceptance.ts
  packages/repository/test/unit/decorator/relation.repository.decorator.unit.ts
Owners: @bajtos, @raymondfeng

fixup! make hasmanyrepository a parameter decorator
  packages/repository/src/decorators/relation.repository.decorator.ts
  packages/repository/src/repositories/relation.factory.ts
  packages/repository/test/acceptance/has-many-without-di.relation.acceptance.ts
  packages/repository/test/acceptance/has-many.relation.acceptance.ts
  packages/repository/test/integration/repositories/relation.factory.integration.ts
  packages/repository/test/unit/decorator/relation.decorator.unit.ts
  packages/repository/test/unit/decorator/relation.repository.decorator.unit.ts
Owners: @bajtos, @raymondfeng

fixup! get relation metadata from the model constructor Co-authored-by: Biniam Admikew <binadmt@hotmail.com>
  packages/repository/src/decorators/model.decorator.ts
  packages/repository/src/decorators/relation.decorator.ts
  packages/repository/src/decorators/relation.repository.decorator.ts
  packages/repository/src/model.ts
  packages/repository/src/repositories/relation.factory.ts
  packages/repository/test/acceptance/has-many-without-di.relation.acceptance.ts
  packages/repository/test/acceptance/has-many.relation.acceptance.ts
  packages/repository/test/integration/repositories/relation.factory.integration.ts
  packages/repository/test/unit/decorator/model-and-relation.decorator.unit.ts
  packages/repository/test/unit/decorator/relation.decorator.unit.ts
  packages/repository/test/unit/decorator/relation.repository.decorator.unit.ts
  packages/testlab/should-as-function.d.ts
Owners: @bajtos, @raymondfeng

fixup! use fake ds for source model retrieval
  packages/repository/src/decorators/relation.repository.decorator.ts
  packages/repository/test/acceptance/has-many.relation.acceptance.ts
  packages/repository/test/unit/decorator/model-and-relation.decorator.unit.ts
  packages/repository/test/unit/decorator/relation.repository.decorator.unit.ts
Owners: @bajtos, @raymondfeng

fix: make DI-less factory function work (WIP)
  .vscode/launch.json
  packages/repository/src/decorators/index.ts
  packages/repository/src/decorators/relation.decorator.ts
  packages/repository/src/decorators/relation.repository.decorator.ts
  packages/repository/src/repositories/relation.factory.ts
  packages/repository/test/acceptance/has-many-without-di.relation.acceptance.ts
  packages/repository/test/acceptance/has-many.relation.acceptance.ts
  packages/repository/test/unit/decorator/relation.decorator.unit.ts
Owners: @bajtos, @raymondfeng

fix: address tslint and typing mistakes
  packages/repository/src/decorators/relation.decorator.ts
  packages/repository/src/decorators/relation.repository.decorator.ts
  packages/repository/src/repositories/relation.factory.ts
  packages/repository/test/acceptance/has-many.relation.acceptance.ts
  packages/repository/test/unit/decorator/relation.repository.decorator.unit.ts
Owners: @bajtos, @raymondfeng

feat(repository): hasmany relation decorator inference
  packages/repository/src/decorators/relation.decorator.ts
  packages/repository/src/decorators/relation.repository.decorator.ts
  packages/repository/src/repositories/relation.factory.ts
  packages/repository/test/acceptance/has-many.relation.acceptance.ts
  packages/repository/test/unit/decorator/model-and-relation.decorator.unit.ts.log
  packages/repository/test/unit/decorator/relation.decorator.unit.ts
Owners: @bajtos, @raymondfeng

feat(cli): add cli for code generation from openapi
  packages/cli/bin/cli.js
  packages/cli/generators/openapi/README.md
  packages/cli/generators/openapi/index.js
  packages/cli/generators/openapi/schema-helper.js
  packages/cli/generators/openapi/spec-helper.js
  packages/cli/generators/openapi/spec-loader.js
  packages/cli/generators/openapi/templates/src/controllers/controller-template.ts.ejs
  packages/cli/generators/openapi/templates/src/models/model-template.ts.ejs
  packages/cli/generators/openapi/templates/src/models/type-template.ts.ejs
  packages/cli/generators/openapi/utils.js
  packages/cli/generators/project/templates/package.json.ejs
  packages/cli/generators/project/templates/package.plain.json.ejs
  packages/cli/package.json
  packages/cli/smoke-test/openapi/README.md
  packages/cli/smoke-test/openapi/code-gen-utils.js
  packages/cli/smoke-test/openapi/real-world-apis.smoke.js
  packages/cli/test/fixtures/openapi/2.0/petstore-expanded-swagger.json
  packages/cli/test/fixtures/openapi/3.0/customer.yaml
  packages/cli/test/fixtures/openapi/3.0/petstore-expanded.yaml
  packages/cli/test/fixtures/openapi/3.0/uspto.yaml
  packages/cli/test/integration/cli/cli.integration.js
  packages/cli/test/integration/generators/openapi-petstore.integration.js
  packages/cli/test/integration/generators/openapi-uspto.integration.js
  packages/cli/test/integration/generators/swagger-petstore.integration.js
  packages/cli/test/unit/openapi/controller-spec.unit.js
  packages/cli/test/unit/openapi/schema-helper.unit.js
  packages/cli/test/unit/openapi/schema-model.unit.js
Owners: @bajtos, @raymondfeng, @shimks

feat(cli): add cli for code generation from openapi
  packages/cli/bin/cli.js
  packages/cli/generators/openapi/README.md
  packages/cli/generators/openapi/index.js
  packages/cli/generators/openapi/schema-helper.js
  packages/cli/generators/openapi/spec-helper.js
  packages/cli/generators/openapi/spec-loader.js
  packages/cli/generators/openapi/templates/src/controllers/controller-template.ts.ejs
  packages/cli/generators/openapi/templates/src/models/model-template.ts.ejs
  packages/cli/generators/openapi/templates/src/models/type-template.ts.ejs
  packages/cli/generators/openapi/utils.js
  packages/cli/generators/project/templates/package.json.ejs
  packages/cli/generators/project/templates/package.plain.json.ejs
  packages/cli/package.json
  packages/cli/smoke-test/openapi/README.md
  packages/cli/smoke-test/openapi/code-gen-utils.js
  packages/cli/smoke-test/openapi/real-world-apis.smoke.js
  packages/cli/test/fixtures/openapi/2.0/petstore-expanded-swagger.json
  packages/cli/test/fixtures/openapi/3.0/customer.yaml
  packages/cli/test/fixtures/openapi/3.0/petstore-expanded.yaml
  packages/cli/test/fixtures/openapi/3.0/uspto.yaml
  packages/cli/test/integration/cli/cli.integration.js
  packages/cli/test/integration/generators/openapi-petstore.integration.js
  packages/cli/test/integration/generators/openapi-uspto.integration.js
  packages/cli/test/integration/generators/swagger-petstore.integration.js
  packages/cli/test/unit/openapi/controller-spec.unit.js
  packages/cli/test/unit/openapi/schema-helper.unit.js
  packages/cli/test/unit/openapi/schema-model.unit.js
Owners: @bajtos, @raymondfeng, @shimks

chore: publish release
  docs/CHANGELOG.md
  docs/package.json
  examples/hello-world/CHANGELOG.md
  examples/hello-world/package.json
  examples/log-extension/CHANGELOG.md
  examples/log-extension/package.json
  examples/todo/CHANGELOG.md
  examples/todo/package.json
  packages/authentication/CHANGELOG.md
  packages/authentication/package.json
  packages/boot/CHANGELOG.md
  packages/boot/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/rest/CHANGELOG.md
  packages/rest/package.json
Owners: @bajtos, @raymondfeng, @virkt25, @b-admike, @shimks, @jannyHou

docs(cli): add docs for lb4 openapi command
  docs/site/OpenAPI-generator.md
  docs/site/sidebars/lb4_sidebar.yml
  docs/site/tables/lb4-artifact-commands.html
Owners: @bajtos, @raymondfeng

fixup! apply feedback to support multiple fks
  packages/repository/src/repositories/legacy-juggler-bridge.ts
  packages/repository/src/repositories/relation.factory.ts
  packages/repository/src/repositories/relation.repository.ts
  packages/repository/test/acceptance/has-many-without-di.relation.acceptance.ts
  packages/repository/test/acceptance/has-many.relation.acceptance.ts
  packages/repository/test/integration/repositories/relation.factory.integration.ts
  packages/repository/test/unit/repositories/relation.repository.unit.ts
Owners: @bajtos, @raymondfeng

fix(cli): allow path level parameters for openapi
  packages/cli/generators/openapi/spec-helper.js
  packages/cli/generators/openapi/utils.js
  packages/cli/test/fixtures/openapi/3.0/customer.yaml
  packages/cli/test/unit/openapi/controller-spec.unit.js
Owners: @bajtos, @raymondfeng

fixup! integrate property decorator into hasmany
  .vscode/launch.json
  packages/repository/src/decorators/relation.decorator.ts
  packages/repository/test/unit/decorator/relation.decorator.unit.ts
Owners: @bajtos, @raymondfeng

docs(cli): add docs for lb4 openapi command
  docs/site/OpenAPI-generator.md
  docs/site/sidebars/lb4_sidebar.yml
  docs/site/tables/lb4-artifact-commands.html
Owners: @bajtos, @raymondfeng

fix(http-server): reset addressInfo when server is stopped
  packages/http-server/src/http-server.ts
  packages/http-server/test/integration/http-server.integration.ts
Owners: @bajtos, @raymondfeng

fix(http-server): reset addressInfo when server is stopped
  packages/http-server/src/http-server.ts
  packages/http-server/test/integration/http-server.integration.ts
Owners: @bajtos, @raymondfeng

fix(cli): allow path level parameters for openapi
  packages/cli/generators/openapi/spec-helper.js
  packages/cli/generators/openapi/utils.js
  packages/cli/test/fixtures/openapi/3.0/customer.yaml
  packages/cli/test/unit/openapi/controller-spec.unit.js
Owners: @bajtos, @raymondfeng

chore: publish release
  docs/CHANGELOG.md
  docs/package.json
  examples/hello-world/CHANGELOG.md
  examples/hello-world/package.json
  examples/log-extension/CHANGELOG.md
  examples/log-extension/package.json
  examples/todo/CHANGELOG.md
  examples/todo/package.json
  packages/authentication/CHANGELOG.md
  packages/authentication/package.json
  packages/boot/CHANGELOG.md
  packages/boot/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/http-server/CHANGELOG.md
  packages/http-server/package.json
  packages/rest/CHANGELOG.md
  packages/rest/package.json
Owners: @bajtos, @raymondfeng, @virkt25, @b-admike, @shimks, @jannyHou, @hacksparrow

fix(http-server): correctly format IPv6 host in url
  .travis.yml
  packages/http-server/src/http-server.ts
  packages/http-server/test/integration/http-server.integration.ts
Owners: @bajtos, @raymondfeng

fix(http-server): correctly format IPv6 host in url
  .travis.yml
  packages/http-server/src/http-server.ts
  packages/http-server/test/integration/http-server.integration.ts
Owners: @bajtos, @raymondfeng

feat: add crud relation methods
  packages/repository/src/repositories/constraint-utils.ts
  packages/repository/src/repositories/relation.repository.ts
  packages/repository/test/acceptance/has-many.relation.acceptance.ts
  packages/repository/test/unit/repositories/constraint-utils.unit.ts
  packages/repository/test/unit/repositories/relation.repository.unit.ts
Owners: @bajtos, @raymondfeng

feat: add crud relation methods
  packages/repository/src/repositories/constraint-utils.ts
  packages/repository/src/repositories/relation.repository.ts
  packages/repository/test/acceptance/has-many.relation.acceptance.ts
  packages/repository/test/unit/repositories/constraint-utils.unit.ts
  packages/repository/test/unit/repositories/relation.repository.unit.ts
Owners: @bajtos, @raymondfeng

feat: add `listening` property in the server interface
  docs/site/Server.md
  examples/rpc-server/src/rpc.server.ts
  packages/core/src/server.ts
  packages/core/test/unit/application.unit.ts
  packages/http-server/src/http-server.ts
  packages/http-server/test/integration/http-server.integration.ts
  packages/rest/src/rest.server.ts
Owners: @bajtos, @raymondfeng
